// COMMON :: START

.copyright {
	display: flex;
	align-items: center;
	justify-content: center;

	&__text {
		font-size: 22px;
		color: rgb(135, 144, 176);
		line-height: 2.273;
	}
}

// COMMON :: END
