///
/// ADDITIONALLY
/// ===============
$maxWidth: 1300px;
$paddingLeft: 20px;
$paddingRight: $paddingLeft;

%grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $paddingRight;
  padding-left: $paddingLeft;
}


///
/// MAIN
/// ===============
.c-grid {

  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }

	//padding-top: 15px;

	&_nav{
		padding-top: 0;
	}

	&.bitcoin{
		display: none;
	}

	@include adaptiveMinMax(1449.98, 1199.98){
		/*max-width: 1149px;*/
		padding-left: 0;
		padding-right: 0;
	}
	@include adaptiveMinMax(1199.98, 767){
		padding-left: 15px;
		padding-right: 15px;
	}

	//max-width: 100%;
	//padding-left: 145px;
	//padding-right: 145px;
	//@include adaptive(1919) {
	//	max-width: 1630px;
	//	padding-left: 20px;
	//	padding-right: 20px;
	//}
	@include adaptive(767) {
		padding-left: 10px;
		padding-right: 10px;

		&-main{
			margin-top: 115px;
		}
	}
	@include respond('mobile_landscape'){
		&-main{
			margin-top: 120px;
		}
	}

  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}


.show_2nd_header_{
	.c-grid-main{
		@include respond('ipad_portrait'){
			margin-top: 80px;
		}
		@include adaptive(767) {
			margin-top: 80px;
		}
		@include respond('mobile_landscape'){
			margin-top: 80px;
		}
	}
	&.category.gaming_cat_1 .c-grid-main{

		@include adaptive(767) {
			margin-top: 75px;
		}
		@include respond('mobile_landscape'){
			margin-top: 75px;
		}
	}
	&1{
		.c-grid-main{
			@include respond('ipad_portrait'){
				margin-top: 130px;
			}
			@include adaptive(1023) {
				margin-top: 130px;
			}
			@include respond('mobile_landscape'){
				margin-top: 130px;
			}
		}

		&.page-id-17{
			.c-grid-main {
				@include adaptive(767) {
					margin-top: 115px;
				}
			}
		}

		&.category{
			.c-grid-main{
				@include adaptive(767) {
					margin-top: 115px;
				}
				@include respond('mobile_landscape'){
					margin-top: 115px;
				}
			}
		}

		&.single-sites.gaming_cat_{
			.c-grid-main{
				@include respond('ipad_portrait'){
					margin-top: 120px;
				}
				@include adaptive(767) {
					margin-top: 120px;
				}
				@include respond('mobile_landscape'){
					margin-top: 120px;
				}
			}
		}
	}
}

@include adaptive(1023.98) {
	body.fund{
		padding-top: 45px;
	}
}


.gaming_cat_1{
	.c-grid-main{
		@include respond('ipad_portrait'){
			margin-top: 80px;
		}

		@include adaptive(767) {
			margin-top: 80px;
		}
		@include respond('mobile_landscape'){
			margin-top: 80px;
		}
	}
}

.user_page_1{
	.c-grid-main{
		@include adaptive(767) {
			margin-top: 120px;
			display: flex;
			flex-direction: column;
		}
		@include respond('mobile_landscape'){
			margin-top: 120px;
		}
	}
}


.c-grid-home {
	.c-grid.list{
		padding-top: 15px;

		@include respond('ipad_landscape'){
			padding: 15px 20px 25px;
		}
	}
	.c-grid--inner{
		display: flex;
		flex-wrap: wrap;
	}


	/*&--inner{
		position: relative;
		flex-wrap: wrap;
		margin: 0 -7px;

		display: grid;
		grid-row-gap: 9px;
		row-gap: 9px;
		-webkit-column-gap: 8px;
		column-gap: 0;
		grid-template-rows: initial;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-template-areas: initial;
		grid-auto-flow: row dense;
		grid-auto-rows: 1px;
		grid-auto-columns: initial;


		@include adaptive(1023.98){
			margin: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@include respond('max-small'){
			margin: 0;
			grid-template-columns: repeat(1, 1fr);
		}
	}*/

	/*@media screen and (min-width: 1450px) {
		max-width: 75%;
	}*/
	@media screen and (min-width: 1330px) {
		max-width: 75%;
		min-width: 1300px;
	}
	@media screen and (max-width: 1329.98px) {
		max-width: 100%;
		min-width: auto;
	}
}
