///
/// ADDITIONALLY
/// ===============
$maxWidth: 1300px;
$paddingLeft: 20px;
$paddingRight: $paddingLeft;

%grid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $paddingRight;
  padding-left: $paddingLeft;
}


///
/// MAIN
/// ===============
.c-grid {

  @extend %grid;
  @if($maxWidth) {
    max-width: $maxWidth;
  }



	@include adaptiveMinMax(1449.98, 1199.98){
		/*max-width: 1149px;*/
		padding-left: 0;
		padding-right: 0;
	}
	@include adaptiveMinMax(1199.98, 767){
		padding-left: 15px;
		padding-right: 15px;
	}

	//max-width: 100%;
	//padding-left: 145px;
	//padding-right: 145px;
	//@include adaptive(1919) {
	//	max-width: 1630px;
	//	padding-left: 20px;
	//	padding-right: 20px;
	//}
	@include adaptive(767) {
		padding-left: 10px;
		padding-right: 10px;
	}

  &-fluid {
    @extend %grid;
    max-width: 100%;
  }
}



.page-id-17{
	.c-grid {
		&.list{
			padding-top: 25px;
		}

		@media screen and (min-width: 1450px) {
			max-width: 75%;
		}
	}
}
