// BLUE_BUTTON :: START
.link_btn{
	display: flex;
	width: fit-content;
	padding: 0 30px;
	margin: 0 auto;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	font-size: 25px;
	line-height: 50px;
	background: #12478c;
	background: -webkit-linear-gradient(#12478c,#4d74a8);
	background: -o-linear-gradient(#12478c,#4d74a8);
	background: -moz-linear-gradient(#12478c,#4d74a8);
	background: linear-gradient(#12478c,#4d74a8);
	border: 1px solid #12478c;
	color: #d6d6d6;
	text-align: center;
	border-radius: 5px;

	&.upper{
		a{
			text-transform: uppercase;
		}
	}



	a{
		text-decoration: none;
		color: #fff;

		&.grey{
			color: #d6d6d6;
		}

		&.bold{
			font-weight: 600;

			&::before {
				font-weight: bold;
			}
		}

		@include adaptive(767) {
			font-size: 16px;
		}

		&::before {
			content: attr(data-label);

			@include adaptive(767) {
				content: attr(data-label-mobile);
			}
		}

		&:visited{
			text-decoration: none;
		}
	}

	&.wide{
		width: 100%;
		padding: 0;

		a{
			@include adaptive(767) {
				font-size: 19.5px;
			}
		}
	}
}

.blue_button_solid{
	text-align: center;

	a{
		background: #003e89;
		text-align: center;
		margin: 6px auto;
		padding: 15px 30px;
		color: #fff;
		font-weight: 600;
		border-radius: 4px;
		font-size: 18px;
		display: inline-block;
	}
}
