// BLOGS :: START
//.site-content{
//	@include respond('ipad_portrait'){
//		margin-top: 130px;
//	}
//	@include adaptive(767){
//		margin-top: 130px;
//	}
//}

.blog{
	&__terms{
		display: flex;
		justify-content: space-between;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}

		@include adaptive(767){
			white-space: nowrap;
			overflow: auto;
		}

		&__item{
			display: block;
			text-align: center;
			position: relative;
			margin: 0 8px;

			@include adaptive(767){
				width: calc(100%/4 - 10px);
				min-width: calc(100%/4 - 10px);
			}
		}
		&-icon{
		}
		&-name{
			display: block;
			padding: 5px;
			text-align: center;
			color: #fff;
			font-weight: 600;
		}
		&-count{
			border-radius: 5px;
			position: absolute;
			//background: #565656;
			top: -5px;
			right: -5px;
			color: #fff;
		}
	}

	&_progress{
		display: none;

		@include adaptive(1023) {
			display: block;
			position: absolute;
			top: 100%;
			background: rgb(56, 97, 251);
			transition: width 300ms linear 0s;
			height: 4px;
			width: 0;
		}
	}
}
.blog-crumbs{
	margin: -10px 0 10px;
}

.blog_list{

	.blog_list_item{
		border-top: 12px solid #1e559a;
		margin: 10px 0 20px;
		background: #3b3b3b;
		padding: 25px;
		display: flex;
		flex-direction: row;

		@include respond('ipad_portrait'){
			flex-direction: column;
			padding: 15px;
		}

		@include adaptive(767){
			flex-direction: column;
			padding: 15px;
		}

		.blog_thumb{
			vertical-align: top;
			overflow: hidden;
			text-align: center;
			position: relative;

			@include respond('ipad_portrait'){
				width: 100%;
				margin-bottom: 15px;
			}
			@include adaptive(767){
				width: 100%;
				margin-bottom: 15px;
			}

			a{
				display: block;
				line-height: 0;
			}

			img{
				/*min-height: 100%;
				min-width: 100%;
				margin: 0 auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);*/

				width: 510px;
				height: 315px;
				object-fit: contain;

				@include respond('ipad_portrait'){
					width: 100%;
					height: auto;
					position: relative;
					left: auto;
					transform: none;
				}

				@include adaptive(767){
					width: 100%;
					height: auto;
					position: relative;
					left: auto;
					transform: none;
					aspect-ratio: calc(510 / 315);
				}
			}
		}

		.blog_details{
			flex: 1;
			vertical-align: top;
			margin-left: 15px;
			position: relative;

			@include respond('ipad_portrait'){
				width: 100%;
				display: block;
				margin: 0;
				text-align: center;
			}
			@include adaptive(767){
				width: 100%;
				display: block;
				margin: 0;
				text-align: center;
			}

			.blog_details_inner{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: flex;
				flex-direction: column;
				align-items: start;

				@include respond('ipad_portrait'){
					display: block;
					position: relative;
				}
				@include adaptive(767){
					display: block;
					position: relative;
				}
			}

			h2{
				max-width: 100%;
				margin: 0 0 5px;
				font-size: 24px;
				line-height: 35px;
				font-weight: 700;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				a{
					color: #e8e8e8;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				@include respond('ipad_portrait'){
					font-size: 22px;
				}
			}
			.blog_date{
				font-size: 12px;
				font-weight: 700;
				margin: 5px 0;
				display: flex;
				color: #fff;

				@include respond('ipad_portrait'){
					justify-content: center;
					align-items: center;
				}
				@include adaptive(767){
					justify-content: center;
					align-items: center;
				}

				.icon_date{
					width: 18px;
					height: 20px;
					background: url(../images/var-icons.png) 0 0 no-repeat;
					background-position: -223px 0;
					margin: -2px 5px 0 0;
				}
			}

			.short_desc {
				background: #666;
				padding: 20px;
				font-size: 14px;
				line-height: 25px;
				color: #e8e8e8;
				overflow: hidden;

				@include respond('ipad_portrait'){
					margin: 0;
				}
				@include adaptive(767){
					margin: 0 0 0;
				}

				.short_desc_inner{
					max-height: 175px;
					overflow: hidden;
					line-height: 25px;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 7;
					-webkit-box-orient: vertical;
				}
			}

			.view_more{
				display: inline-block;
				padding: 10px 20px;
				color: #fff;
				font-size: 18px;
				background: #0352b3;
				background: -moz-linear-gradient(top, #0352b3 0%, #023a84 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, #0352b3), color-stop(100%, #023a84));
				background: -webkit-linear-gradient(top, #0352b3 0%, #023a84 100%);
				background: -o-linear-gradient(top, #0352b3 0%, #023a84 100%);
				background: -ms-linear-gradient(top, #0352b3 0%, #023a84 100%);
				background: linear-gradient(to bottom, #0352b3 0%, #023a84 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0352b3', endColorstr='#023a84', GradientType=0 );
				border-radius: 3px;
			}
		}
	}
}

.blog_content{
	background: #3b3b3b;
	border-top: 12px solid #1e559a;
	margin: 10px 0 -1px;

	&_inner{
		padding: 25px;
		color: #bbb;

		.wp-video{
			margin: 0 auto;
		}

		a{
			color: #2eaf61;

			&:hover, &:focus{
				color: #2eaf61;
			}
		}

		@include respond('ipad_portrait'){
			padding: 15px;
		}
		@include adaptive(767){
			padding: 15px;
		}

		h1, h2{
			margin: 24px 0;
		}

		p{
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 10px;
		}

		img{
			max-width: 100%;
			height: auto;
		}

		.gallery-item{
			margin: 10px 0;
		}
	}

	.category_bottom_links {
		padding-top: 0;
		padding-bottom: 25px;
		text-align: center;

		.posted_on {
			font-size: 20px;
			color: #dcecff;
			padding: 0 15px;
			font-weight: 600;
			font-family: 'Permanent Marker', cursive;
		}
	}
}
#other_categories{
	background: #efefef;

	@include respond('ipad_portrait'){
		padding-bottom: 0;
	}
	@include adaptive(767){
		padding-bottom: 0;
	}
}

@include respond('ipad_portrait'){
	.bread-crumb{
		display: none;
	}
}
@include adaptive(767){
	.bread-crumb{
		display: none;
	}
}

.light{
	.bread-crumb{
		a{
			color: #333;
		}
	}
	.blog__terms-name{
		color: #333;
	}

	.blog__terms-count{
		color: #333;
	}

	.blog_list .blog_list_item{
		border-top: 12px solid #d1f34b;
		background: #fff;

		.blog_details h2 {
			a{
				color: #337ab7;
			}
		}
		.blog_date{
			color: #333;
		}
		.short_desc {
			background: #f4f4f4;
			color: #333;
		}
	}
	.blog_content{
		background: #fff;
		border-top: 12px solid #d1f34b;

		&_inner{
			color: #333;

			a{
				color: #337ab7;

				&:hover, &:focus{
					color: #337ab7;
				}
			}
		}
	}
	.category_bottom_links{
		.posted_on{
			color: #1e559a;
		}
	}
}
