// BLUE_HEADING :: START
.blue_heading{
	background: #1e559a;
	display: flex;
	align-items: center;
	padding: 0 15px;

	@include adaptive(767) {
		padding: 5px 8px;
	}

	h1, h2{
		font-size: 24px;
		color: #d1f34b;
		font-weight: 800;
		white-space: nowrap;
		flex: 1;
		line-height: 48px;

		@include adaptive(767) {
			font-size: 17px;
			line-height: 20px;
			white-space: normal;
		}
	}

	.other_categories_title{
		font-size: 26px;
		color: #d1f34b;
		line-height: 48px;
		font-weight: 800;
		margin: 0;
		display: inline;
		padding-right: 40px;
		flex: 1;

		&:after{
			content: ' ';
			display: inline-block;
			background: url(../images/icon-arrow-down.png) no-repeat;
			background-position: center;
			width: 34px;
			height: 17px;
			background-size: contain;
			margin-left: 10px;
		}
	}

	&_back{
		background: url(../images/back_button_blue.png);
		background-repeat: no-repeat;
		background-position: 0 center;
		padding-left: 35px;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 48px;

		@include adaptive(767) {
			display: none;
		}
	}


}
