// BLUE_HEADING :: START
.blue_heading{
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 48px;

	background: #1c3f87;
	background: -moz-linear-gradient(top,#1c3f87 0%,#121f5e 39%,#0e285d 100%);
	background: -webkit-linear-gradient(top,#1c3f87 0%,#121f5e 39%,#0e285d 100%);
	background: linear-gradient(to bottom,#1c3f87 0%,#121f5e 39%,#0e285d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3f87',endColorstr='#0e285d',GradientType=0 );

	@include adaptive(767) {
	}

	h1, h2{
		font-size: 24px;
		color: #d1f34b;
		font-weight: 800;
		white-space: nowrap;
		flex: 1;
		line-height: 48px;
		padding: 0 15px;

		@include adaptive(1024) {
			line-height: 26px;
			padding: 5px 8px;
			font-size: 24px;
			white-space: normal;
		}

		@include adaptive(767) {
			font-size: 17px;
			line-height: 20px;
			white-space: normal;
		}
	}

	.other_categories_title, .bar_title{
		font-size: 26px;
		color: #d1f34b;
		line-height: 48px;
		font-weight: 800;
		margin: 0;
		display: inline;
		padding-right: 40px;
		padding-left: 15px;
		flex: 1;

		@include respond('ipad_portrait'){
			font-size: 22px;
		}

		@include adaptive(767) {
			padding: 0 8px;
			font-size: 17px;
			white-space: normal;
			display: flex;
			align-items: center;
		}

		&:after{
			content: ' ';
			display: inline-block;
			background: url(../images/icon-arrow-down.png) no-repeat;
			background-position: center;
			width: 34px;
			height: 17px;
			background-size: contain;
			margin-left: 10px;

			@include adaptive(767) {
				background-position: center;
				width: 28px;
				height: 15px;
			}
		}
	}

	&_back{
		background: url(../images/back_button_blue.png);
		background-repeat: no-repeat;
		background-position: 0 center;
		padding-left: 35px;
		color: #fff;
		font-weight: 600;
		font-size: 14px;
		line-height: 48px;
		margin-right: 18px;

		&:hover{
			color: #fff;
		}

		@include adaptive(767) {
			display: none;
		}
	}
}

.light{
	.blue_heading{
		background: #1e559a;
	}
}
