// BLUE_HEADING :: START
.link-header{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 15px 0 0 0;
	font-size: 39px;
	text-transform: uppercase;
	letter-spacing: -.5px;
	color: #fff;

	@include adaptive(991.98) {
		padding: 5px 10px 0 0;
	}

	&.underline{
		border-bottom: 3px solid #767676;
		padding-bottom: 7px;
	}

	h2, h3, h4{
		display: flex;
		align-items: center;
		//gap:4px;
		word-break: break-word;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1;
		font-size: 26px;
		// color: var(--link-header-color, #fff);
		color: var(--heading-color, #000);
		gap: 4px;

		@include adaptive(991.98) {
			display: block;
			font-size: 20px;
		}

		&:after{
			content: ' ';
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 23px;
			// background-image: var(--heading-down-arrow);
			background-color: currentColor;
			// background-image: url(../images/down-arrow-icon.svg);

			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			mask-image: url(../images/down-arrow-icon.svg);
			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;

			@include adaptive(991.98) {
				height: 15px;
				vertical-align: bottom;
				margin-bottom: 2px;
			}
		}

		&::before{
			margin: -5px 4px 0 0;
			vertical-align: middle;
		}

		
	}
}

.section_heading,
h1, h2, h3, h4{
	&.section_heading{
		display: flex;
		align-items: center;
		width: 100%;
		min-height: 48px;
	
		&_space_between{
			justify-content: space-between;
		}
	
		&__tagline{
			font-size: 14px;
			font-weight: 400;
			padding-bottom: 10px;
			color: var(--primary-color, #000);
	
			@include respond('medium'){
				display: block;
			}
		}
	
		&__home{
			color: var(--heading-color, #000);
			font-weight: 500;
			font-size: 20px;
			min-height: 0;
			padding-bottom: 10px;
		}
		&__p20{
			color: var(--heading-color, #000);
			font-weight: 500;
			font-size: 20px;
			min-height: 0;
		}
	
		&__1{
			font-size: 16px;
			font-weight: 500;
		}
	
		&__h1, &__h2{
			font-size: 24px;
			font-weight: 600;
			white-space: nowrap;
			flex: 1;
			line-height: 48px;
			padding: 0;
			color: var(--primary-color-2, #fff);
	
			//background-size: 32px;
			//background-position: left center;
			//background-repeat: no-repeat;
	
			&-title{
				line-height: normal;
			}
	
			@include adaptive(1024) {
				line-height: 26px;
				padding: 5px 8px;
				font-size: 24px;
				white-space: normal;
			}
	
			@include adaptive(767) {
				font-size: 17px;
				line-height: 20px;
				white-space: normal;
			}
	
			.icon-category{
				display: inline-block;
				width: 32px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				vertical-align: sub;
			}
		}
	
		.other_categories_title, .bar_title{
			font-size: 24px;
			color: #d1f34b;
			line-height: 48px;
			font-weight: 600;
			margin: 0;
			display: inline;
			padding-right: 40px;
			padding-left: 15px;
			flex: 1;
	
			@include respond('ipad_portrait'){
				font-size: 22px;
			}
	
			@include adaptive(767) {
				padding: 0 8px;
				font-size: 17px;
				white-space: normal;
				display: flex;
				align-items: center;
			}
	
			&:after{
				content: ' ';
				display: inline-block;
				background: url(../images/icon-arrow-down.png) no-repeat;
				background-position: center;
				width: 34px;
				height: 17px;
				background-size: contain;
				margin-left: 10px;
	
				@include adaptive(767) {
					background-position: center;
					width: 28px;
					height: 15px;
				}
			}
		}
	
		&_back{
			background: url(../images/back_button_blue.png);
			background-repeat: no-repeat;
			background-position: 0 center;
			padding-left: 35px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			line-height: 48px;
			margin-right: 18px;
	
			&:hover{
				color: #fff;
			}
	
			@include adaptive(767) {
				display: none;
			}
		}
	
		&_back_green{
			display: flex;
			align-items: center;
			background: none;
			padding-left: 35px;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			line-height: 48px;
			margin-right: 18px;
	
			&:before{
				display: inline-block;
				background: url(../images/var-icons.png) 0 0 no-repeat;
				background-position: -218px -91px;
				background-repeat: no-repeat;
				width: 24px;
				height: 24px;
				content: ' ';
				margin-right: 5px;
			}
	
			&:hover{
				color: #fff;
			}
			@include adaptive(767) {
				font-size: 0;
				text-indent: 0;
				margin-right: 10px;
			}
		}
	
	}
}


.categories-container .section_heading__tagline h1{
	padding: 0;
}

.light{
	.blue_heading{
		background: #1e559a;
	}
}
