.micromodal {
	color: #000;

	hr {
		margin: 20px 0;
		border: none;
		border-top: 1px solid #d8d8d8;
	}

	p {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 1.4;
	}

	.color-primary {
		color: #1c3f87;
	}

	.color-secondary {
		color: #8c8d96;
	}

	.color-success {
		color: #2eaf61;
	}

	.color-error {
		color: #f60000;
	}

	.text-center {
		text-align: center;
	}

	.btn {
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		padding: 18px 31px;
		border-radius: 10px;
		text-align: center;
		line-height: 1;
		transition: opacity 0.2s ease, background-color 0.2s ease;

		&-back{
			.icon{
				width: 18px;
				height: 12px;
				margin-right: 10px;
				fill: #8c8d96;
				transform: rotate(180deg);
			}
		}

		&-primary {
			background-color: #ff8c01;
			color: #fff;

			&:active {
				background-color: #d77600;
			}

			@media (min-width: 1025px) {
				&:hover {
					background-color: #d77600;
				}
			}
		}
		&-secondary {
			background-color: #f0f1f5;
			color: #8c8d96;

			&:active {
				background-color: #e4e5e7;
			}

			@media (min-width: 1025px) {
				&:hover {
					background-color: #e4e5e7;
				}
			}
		}

		&-success {
			background-color: #29a656;
			color: #fff;

			&:active {
				background-color: #1e8142;
			}

			@media (min-width: 1025px) {
				&:hover {
					background-color: #1e8142;
				}
			}
		}
		&-submit{
			cursor: pointer;
			width: 150px;
			.btn-text{display: block;}
			.lds-dual-ring {
				display: none;
				width: 24px;
				height: 24px;

				&:after{
					content: " ";
					display: block;
					width: 20px;
					height: 20px;
					border-radius: 50%;
					border: 2px solid #fff;
					border-color: #fff transparent #fff transparent;
					animation: progress-spinner 1.2s linear infinite;
				}
			}
			&.spin{
				.btn-text{display: none;}
				.lds-dual-ring {
					display: inline-block;
				}
			}
		}
	}


	.inline-icon {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		background-size: contain;
	}

	&-slide {
		display: none;

		&.is-open {
			display: block;
		}

		&[aria-hidden="false"] {
			.micromodal-overlay {
				animation: mmfadeIn 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
			}

			.micromodal-container {
				animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
			}
		}

		&[aria-hidden="true"] {
			.micromodal-overlay {
				animation: mmfadeOut 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
			}

			.micromodal-container {
				animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
			}
		}
	}

	.micromodal-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(10px);
	}

	.micromodal-container {
		width: 100%;
		max-width: 940px;
		max-height: 90vh;
		margin: 0 10px;
		border-radius: 10px;
		overflow-y: auto;
	}

	.micromodal-content {
		border-radius: 10px;
		background-color: #fff;
	}

	.micromodal-header {
		display: flex;
		align-items: center;
		gap: 20px;
		padding: 19px 20px;

		@media (max-width: 991px) {
			padding: 12px 20px;
		}

		+ hr {
			margin: 0;
		}

		.inline-icon {
			width: 30px;
			height: 30px;
		}
	}

	.micromodal-title {
		display: flex;
		gap: 14px;
		overflow: hidden;
		font-size: 24px;

		@media (max-width: 991px) {
			font-size: 20px;
		}

		&-text {
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&-close {
		display: flex;
		margin-left: auto;
		cursor: pointer;

		.icon {
			width: 24px;
			height: 24px;
			fill: #454545;
			transition: fill 0.2s ease;
			pointer-events: none;
		}

		&:active .icon {
			fill: #1c3f87;
		}

		@media (min-width: 1025px) {
			&:hover .icon {
				fill: #1c3f87;
			}
		}
	}

	&-body {
		padding: 20px 30px;

		@media (max-width: 991px) {
			padding: 20px;
		}
	}

	&-hero {
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			margin-bottom: 50px;
			font-size: 18px;
			line-height: 1.5;
			text-align: center;

			@media (max-width: 991px) {
				font-size: 16px;
			}
		}

		.micromodal-title {
			margin-bottom: 30px;
			text-align: center;
			font-size: 30px;

			@media (max-width: 991px) {
				margin-bottom: 20px;
				font-size: 26px;
			}
		}

		.inline-icon {
			margin-bottom: 30px;
			width: 160px;
			height: 160px;
		}
	}

	&-hero-actions {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;

		.btn {
			flex-grow: 1;
		}
	}

	@keyframes mmfadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes mmfadeOut {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	@keyframes mmslideIn {
		0% {
			transform: translateY(15%);
		}

		100% {
			transform: translateY(0);
		}
	}

	@keyframes mmslideOut {
		0% {
			transform: translateY(0);
		}

		100% {
			transform: translateY(-10%);
		}
	}
}

.icon-broken-link {
	background-image: url(../images/review/broken-link.svg)
}

.icon-comment-bubble{
	background-image: url(../images/review/speech-bubble-icon.svg)
}
.icon-speech-bubble-icon {
	background-image: url(../images/review/speech-bubble-icon.svg)
}
.icon-screenshot {
	background-image: url(../images/review/screenshot.svg)
}

.icon-categories {
	background-image: url(../images/review/categories.svg)
}

.icon-spam {
	background-image: url(../images/review/spam.svg)
}

.icon-age-limit {
	background-image: url(../images/review/age-limit.svg)
}

.icon-revenge {
	background-image: url(../images/review/revenge.svg)
}
.icon-speech-bubble-heart-success{
	background-image: url(../images/review/speech-bubble-heart-success.svg)
}

.boogie-list {
	margin: 10px -30px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;

	@media (max-width: 991px) {
		margin: 10px -20px 0;
	}
}

.boogie-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 12px 30px;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease;

	&:after{
		width: 20px;
		height: 20px;
		content: ' ';
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../images/review/arrow-right.svg);
	}

	&:hover {
		@media (min-width: 1025px) {
			background-color: #f0f1f5;
			color: #000;
		}
	}

	&:active {
		background-color: #f0f1f5;
		color: #000;
	}

	@media (max-width: 991px) {
		padding: 15px 20px;
	}

	.icon {
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		fill: #8c8d96;
		transition: fill 0.2s ease;

		&:hover {
			@media (min-width: 1025px) {
				fill: #ff8c04;
			}
		}

		&:active {
			fill: #ff8c04;
		}
	}
}

.boogie-list-text {
	display: flex;
	align-items: center;
	gap: 10px;
}

.boogie-link {
	background: no-repeat 50% 100%;
	background-image: linear-gradient(currentColor, currentColor);
	background-size: 100% 1px;
	transition: background-size 0.2s ease;

	&:active {
		background-size: 0 1px;
	}

	&:hover {
		@media (min-width: 1025px) {
			background-size: 0 1px;
		}
	}
}

.boogie-disclaimer {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: #f6f6f6;

	p {
		font-size: 12px;
		line-height: 1.4;
		margin-bottom: 18px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.boogie-form-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	@media (max-width: 374px) {
		.btn {
			flex-grow: 1;
		}
	}
}

.boogie-fields {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 20px;
	gap: 20px 0;
}

.boogie-field {
	width: 50%;
	padding: 0 10px;

	@media (max-width: 424px) {
		width: 100%;
	}
}

.boogie-field-textarea {
	width: 100%;

	.boogie-input {
		max-width: initial;
		height: 120px;
		padding-top: 16px;
	}
}

.boogie-input {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	border: 1px solid #b7b7b7;
	border-radius: 10px;
	background-color: #fff;
	color: #000;
	transition: border-color 0.2s ease;

	&:focus {
		border-color: #ff8c04;
	}

	&.invalid,
	&:invalid {
		border-color: #f60000;
	}

	&::placeholder {
		color: #000;
	}
}

.boogie-checkbox {
	position: relative;
	font-weight: 500;
	font-size: 14px;

	.boogie-checkbox-input {
		position: absolute;
		opacity: 0;
		width: 0;
		height: 0;
		cursor: pointer;

		&:checked + .boogie-checkbox-label::before {
			background-size: 10px 8px;
			filter: invert(48%) sepia(66%) saturate(447%) hue-rotate(89deg) brightness(96%) contrast(97%);
		}

		&.invalid + .boogie-checkbox-label::before {
			border-color: #f60000;
		}
	}

	.boogie-checkbox-label {
		position: relative;
		display: inline-flex;
		align-items: center;
		line-height: 1;
		cursor: pointer;

		&::before {
			content: '';
			box-sizing: border-box;
			display: block;
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: 8px;
			border: 2px solid #b7b7b7;
			border-radius: 4px;
			background-image: url(../images/review/tick.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 0 0;
			cursor: pointer;
			transition: background-size 0.1s ease, filter 0.2s ease;
		}
	}
}

.boogie-after-submit-content {
	.micromodal-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 70px;
	}
}

@keyframes progress-spinner {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}
