// MISC :: START
.category {

}

.list__specification--banner {
	.list__specification-right {
		&:after {
			background-image: url('../images/img-list-spec-curve@2x.png');
		}
	}
}
.list .list__specification-bottom .category_link a:after {
	background: url(../images/arrow-right-white.svg) no-repeat;
	background-size: contain;
	background-position: center;
}

.badge{
	&.lazy {
		background-image: none;
	}
}
.favbadge {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 32px;
	height: 32px;
	background: url(../images/cat-icons.png) 0 -85px no-repeat;
	display: none
}

.rightCat a:hover .favbadge {
	background-position-y: -123px
}

.yt_icon {
	position: absolute;
	top: 40px;
	right: 10px;
	background-size: contain;

	&.hd{
		background-image: url(../images/icon_hd.png);
		background-size: contain;
		width: 43px;
		height: 41px;

		@include respond('max-large'){
			width: 26px;
			height: 25px;
		}

		@include adaptive(767) {
			width: 26px;
			height: 25px;
		}
	}
	&.yt{
		background-image: url(../images/icon_youtube.png);
		background-size: contain;
		width: 46px;
		height: 30px; 

		@include respond('max-large'){
			width: 26px;
			height: 17px;
		}

		@include adaptive(767) {
			width: 26px;
			height: 17px;
		}
	}
}
@keyframes pulse-blue {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 74, 173, 0.9);
		box-shadow: 0 0 0 0 rgba(0,27,173,0.7)
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(0, 74, 173, 0);
		box-shadow: 0 0 0 10px rgba(0,74,173,0)
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(0, 74, 173, 0);
		box-shadow: 0 0 0 0 rgba(0, 74, 173, 0)
	}
}

@keyframes pulse-green {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
		box-shadow: 0 0 0 0 rgba(51,217,178,0.7)
	}

	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
		box-shadow: 0 0 0 10px rgba(51,217,178,0)
	}

	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0)
	}
}

@keyframes showNSlideUp {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes animateStickyHeader {
	0% {
		transform: translateY(-100%);
	}

	70% {
	}

	100% {
		transform: translateY(0);
	}
}
