/* line 119, src/scss/_generated/_spritePNG.scss */
.header-nav-blog:before {
  background-image: url("../img/sprite.png");
  background-position: -34px 0px;
  background-repeat: no-repeat;
  width: 23px;
  height: 22px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 119, src/scss/_generated/_spritePNG.scss */
  .header-nav-blog:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 122, src/scss/_generated/_spritePNG.scss */
.header-nav-home:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -59px;
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 122, src/scss/_generated/_spritePNG.scss */
  .header-nav-home:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 125, src/scss/_generated/_spritePNG.scss */
.header-nav-livesex:before {
  background-image: url("../img/sprite.png");
  background-position: -34px -27px;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 125, src/scss/_generated/_spritePNG.scss */
  .header-nav-livesex:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 128, src/scss/_generated/_spritePNG.scss */
.header-nav-meetfuck:before {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
  width: 29px;
  height: 22px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 128, src/scss/_generated/_spritePNG.scss */
  .header-nav-meetfuck:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 131, src/scss/_generated/_spritePNG.scss */
.header-nav-porncoupons:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -27px;
  background-repeat: no-repeat;
  width: 22px;
  height: 27px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 131, src/scss/_generated/_spritePNG.scss */
  .header-nav-porncoupons:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 134, src/scss/_generated/_spritePNG.scss */
.header-nav-porngames:before {
  background-image: url("../img/sprite.png");
  background-position: -62px -22px;
  background-repeat: no-repeat;
  width: 16px;
  height: 21px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 134, src/scss/_generated/_spritePNG.scss */
  .header-nav-porngames:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 137, src/scss/_generated/_spritePNG.scss */
.header-nav-pornstars:before {
  background-image: url("../img/sprite.png");
  background-position: -88px 0px;
  background-repeat: no-repeat;
  width: 14px;
  height: 17px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 137, src/scss/_generated/_spritePNG.scss */
  .header-nav-pornstars:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 140, src/scss/_generated/_spritePNG.scss */
.header-nav-videos:before {
  background-image: url("../img/sprite.png");
  background-position: -62px 0px;
  background-repeat: no-repeat;
  width: 21px;
  height: 17px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 140, src/scss/_generated/_spritePNG.scss */
  .header-nav-videos:before {
    -webkit-background-size: 102px 75px;
            background-size: 102px 75px;
    background-image: url("../img/sprite@2x.png");
  }
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #080915;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 35, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 41, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 48, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 51, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 58, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 68, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 74, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 80, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 86, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 92, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 97, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 105, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 110, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 116, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 121, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 128, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1622px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 8, src/scss/_shared/_common.scss */
.copyright__text {
  font-size: 22px;
  color: #8790b0;
  line-height: 2.273;
}

/* line 4, src/scss/_shared/_iconPNG.scss */
.icon-png:before {
  content: "";
  display: block;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo--footer {
  max-width: 405px;
  padding-bottom: 52px;
}

/* line 9, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 14, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 9, src/scss/_components/common/_header.scss */
.header__container-1 {
  background-color: #07113b;
}

/* line 12, src/scss/_components/common/_header.scss */
.header__container-2 {
  background-color: #081b49;
}

/* line 15, src/scss/_components/common/_header.scss */
.header__container-3 {
  background-color: #0b0d28;
  -webkit-box-shadow: 1.482px 16.935px 35px 0px rgba(31, 37, 103, 0.33);
          box-shadow: 1.482px 16.935px 35px 0px rgba(31, 37, 103, 0.33);
}

/* line 21, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 24, src/scss/_components/common/_header.scss */
.header__wrapper-1 {
  min-height: 46px;
}

/* line 27, src/scss/_components/common/_header.scss */
.header__wrapper-2 {
  min-height: 121px;
}

/* line 30, src/scss/_components/common/_header.scss */
.header__wrapper-3 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 36, src/scss/_components/common/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 44px;
}

/* line 42, src/scss/_components/common/_header.scss */
.header__nav-item, .header__nav-link, .header__nav-separator {
  position: relative;
  height: 100%;
}

/* line 49, src/scss/_components/common/_header.scss */
.header__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 55, src/scss/_components/common/_header.scss */
.header__nav-item--saparator {
  -webkit-box-flex: unset;
  -webkit-flex: unset;
      -ms-flex: unset;
          flex: unset;
  width: 3px;
}

/* line 61, src/scss/_components/common/_header.scss */
.header__nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 72, src/scss/_components/common/_header.scss */
.header__nav-link:hover span {
  color: #ffffff;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

/* line 78, src/scss/_components/common/_header.scss */
.header__nav-link .icon-png {
  margin-right: 6px;
  mix-blend-mode: screen;
}

/* line 83, src/scss/_components/common/_header.scss */
.header__nav-link span {
  text-transform: uppercase;
  font-size: 13px;
  color: #646f9d;
  font-weight: bold;
  line-height: 1.2;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

/* line 93, src/scss/_components/common/_header.scss */
.header__nav-separator {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 14px);
  height: calc(100% - 14px);
  background-color: #161e3e;
}

/* line 3, src/scss/_components/common/_footer.scss */
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 8, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 42px;
}

/* line 13, src/scss/_components/common/_footer.scss */
.footer__wrapper-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 94px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #081b49;
}

/* line 24, src/scss/_components/common/_footer.scss */
.footer__container-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 31, src/scss/_components/common/_footer.scss */
.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 36, src/scss/_components/common/_footer.scss */
.footer__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 39, src/scss/_components/common/_footer.scss */
.footer__nav-item span {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
  color: #4680ca;
  line-height: 2.273;
}

/* line 48, src/scss/_components/common/_footer.scss */
.footer__nav-link {
  font-size: 22px;
  color: #4680ca;
  line-height: 2.273;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

/* line 54, src/scss/_components/common/_footer.scss */
.footer__nav-link:hover {
  color: #ffffff;
  -webkit-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
