// CATEGORY :: START

.category_sites{
	display: flex;
	flex-wrap: wrap;

	&_item{
		flex-grow: 1;
		width: 20%;
		padding: 0 10px 15px;

		@include adaptive(1279) {
			width: 25%;
		}
		@include adaptive(767) {
			width: 50%;
		}

		&_inner{
			background: #f2f2f2;
			padding: 8px;
		}

		&_thumb img{
			width: 100%;
		}

		&_title{
			display: flex;
			align-items: center;
		}
		&_title h2{
			color: #337ab7;
			font-weight: 600;
			margin: 0;
			white-space: nowrap;
			font-size: 22px;
			text-overflow: ellipsis;
			text-align: left;
			text-transform: capitalize;
		}
		&_title h2:active, &_title h2:hover{
			text-decoration: none;
			color: #337ab7;
		}

		&_summary{
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			height: 80px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;

			@include adaptive(767) {
				font-size: 12px;
				-webkit-line-clamp: 8;
				line-height: 17px;
				height: 137px;
			}
		}
	}
}
