// CATEGORY :: START

@include respond('ipad'){
	.blue_heading_back{
		display: none;
	}
}

@include adaptive(767) {
	.bread-crumb{
		display: none;
	}
}
@include respond('ipad_portrait'){
	.c-grid{
		padding-left: 15px;
		padding-right: 15px;
	}
	#primary{
		margin-top: 120px;
	}
	.gaming_cat_1{
		#primary{
			margin-top: 80px;
		}
	}
}

.site-content{
	@include adaptive(767) {
		margin-top: 110px;
	}
}
.gaming_cat_1{
	@include adaptive(767) {
		.site-content {
			margin-top: 70px;
		}
	}
}
.category_container{
	display: flex;
	flex-direction: column;

}

.main_con{
	background: #3b3b3b;
	color: #d7d7d7;
}
.light{
	.main_con{
		background: #fff;
		color: #333;
	}
}



.click_for_more_games{
	text-align: center;
	padding: 15px 0 5px;

	@include adaptive(767) {
		padding: 15px 10px 5px;
	}

	span{
		display: inline-block;
		border-radius: 5px;
		cursor: pointer;
		color: #fff;
		font-family: roboto,sans-serif;
		font-weight: 700;
		font-size: 18px;
		padding: 18px 10px;
		background: #0660c0;
		background: -moz-linear-gradient(top,rgba(6,96,192,1) 0%,rgba(5,80,159,1) 50%,rgba(4,60,121,1) 100%);
		background: -webkit-linear-gradient(top,rgba(6,96,192,1) 0%,rgba(5,80,159,1) 50%,rgba(4,60,121,1) 100%);
		background: linear-gradient(to bottom,rgba(6,96,192,1) 0%,rgba(5,80,159,1) 50%,rgba(4,60,121,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0660c0',endColorstr='#043c79',GradientType=0 );

		@include adaptive(767) {
			display: block;
		}
	}
}

.category_site_container.category_55{
	.category_site_lits.page_1{
		.category_sites_item:nth-child(n+52){
			display: none;
		}

		.pagi {
			display: none;
		}
	}
	.category_bottom_links.page_1{
		display: none;
	}

	&.show_all{
		.category_site_lits.page_1 .pagi{
			display: block;
		}

		.click_for_more_games{
			display: none;
		}

		.category_bottom_links{
			display: block;
			text-align: center;

			@include adaptive(767) {
				padding: 0 10px 5px;
			}
		}
	}
}

.category_site_container.category_55.show_all{
	.category_site_lits.page_1 {
		.category_sites_item:nth-child(n+52) {
			display: block;
		}
	}
}

.category_bottom_links{
	text-align: center;
	padding-bottom: 30px;


	@include adaptive(767) {
		padding: 0 8px 10px;
	}

	.go_back {
		margin-top: 15px;
		background: url(../images/geek_blue_button_bg.png);
		color: #fff;
		font-family: roboto,sans-serif;
		font-weight: 700;
		font-size: 18px;
		padding: 18px 25px 18px 105px;
		background-size: contain;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 5px;
		position: relative;

		@include respond('ipad'){
			font-size: 14px;
			padding: 21px 20px 20px 100px;
		}

		@include adaptive(767) {
			margin-top: 10px;
		}

		&::before {
			background: url(../images/geek_blue_button_head.png);
			background-size: contain;
			content: ' ';
			display: inline-block;
			height: 60px;
			width: 97px;
			position: absolute;
			top: 0;
			left: 0;

			@include adaptive(767) {
				display: none;
			}
		}

		@include adaptive(767) {
			padding: 15px;
			display: block;
			font-size: 14px;
		}
	}
}

.view_all_categories{
	@include adaptive(767) {
		font-size: 16px;
	}
}
.dropAll{
	margin-right: 5px;
	font-size: 20px;
	color: #fff;
	position: relative;

	span{
		cursor: pointer;
		position: relative;
		background: #fc337b;
		padding: 5px 50px 5px 15px;
		display: inline-block;

		&:after{
			position: absolute;
			top: 7px;
			right: 10px;
			width: 26px;
			height: 26px;
			background: url(../images/drp-arrw-w2.png) center top no-repeat;
			content: '';
		}
	}

	ul {
		position: absolute;
		z-index: 10;
		top: 38px;
		right: 0;
		background: #f1f1f1;
		width: 200px;
		margin: 0;
		padding: 0 10px;
		display: none;
		list-style: none;

		li{
			padding: 8px 10px;
			border-bottom: 1px solid;

			a{
				color: #000;
			}
		}
	}

	&.active ul {
		display: block;
	}
}
.blue_heading.has_dropdown{
	position: relative;
}
.discounted_deals_container{
	width: 100%;
	@include respond('ipad_portrait'){
		display: none;
	}

	@include adaptive(767) {
		display: none;
	}
}
.discounted_deals {
	margin: 30px 10px;
	border: 5px solid #eaeaea;
	background: #cecece;
	padding: 25px;
	text-align: center;

	.deals_title_bar {
		padding-top: 12.39092495636998%;
		content: ' ';
		display: block;
		background: url(../images/evil-torrent.png) center top no-repeat;
		margin: 0 auto;
		background-size: 100% auto;
		background-position: center top;

		&.category9 {
			background-image: url(../images/Porn-Tubes-Are-For-FreeLoaders.png);
			background-size: 100% auto;
		}
	}

	ul{
		margin: 20px 0 0;
		padding: 0;

		li{
			display: inline-block;
			width: 25%;
			text-align: left;
			padding: 0 10px;
			position: relative;
			vertical-align: top;
		}
	}

	.discounted_deals_inner {
		background: #fff;
		border: 1px solid #fff;

		.discount_box {
			background: #087a00;
			color: #b9ff8f;
			top: -9px;
			font-size: 10px;
			line-height: 10px;
			padding: 5px;
			text-align: center;
			left: 5px;
			position: absolute;
			border-radius: 0 0 3px 3px;
			font-weight: 700;
			text-transform: uppercase;

			&:before{
				position: absolute;
				top: 0;
				right: -7px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 9px 0 0 7px;
				border-color: transparent transparent transparent #065001;
				content: '';
			}
			span{
				color: #fff;
				font-size: 14px;
				line-height: 14px;
				display: block;
			}
		}
		.cc {
			margin: 10px 0;
			height: 50px;
			background-size: auto 50px;
			background-position: center center;
			background-repeat: no-repeat;

			&.pornhub-premium-logo {
				background-image: url(https://www.mrporngeek.com/wp-content/uploads/Pornhub-Premium-PNG.png);
				background-size: auto 80px;
			}
		}
	}
}

.light{
	.readmore{
		background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 42%,rgba(255,255,255,1) 47%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0 );
	}
}

@include respond('ipad'){
	#other_categories{
		.bottom_back{
			padding: 10px 0 20px;

			.link_btn{
				font-size: 16px;
			}
		}
	}
}
