// DEALS :: START
.hotfreebies {
	margin-bottom: 30px
}

.dealR .coupon_redeem_inner:before {
	position: absolute;
	bottom: 12%;
	left: 5px;
	background: url(../images/scissor.png);
	width: 70px;
	height: 81px;
	content: '';
	background-size: 100%
}

.iconPornstar:before {
	height: 32px!important
}

.couponC,.buyBox {
	margin: 30px 2%
}



@include respond('large') {
	.discounted_deals{


		ul {
			padding: 0;
			display: flex;

			li{
				position: relative;
				vertical-align: top;

				.coupon-logo {
					text-align: center;
					padding: 10px 0
				}

				.coupon-logo {
					img{
						max-height: 50px;
						width: auto
					}
				}
			}
		}

		.discount_box {
			background: #087a00;
			color: #b9ff8f;
			top: -9px;
			font-size: 10px;
			line-height: 10px;
			padding: 5px;
			text-align: center;
			left: 5px;
			position: absolute;
			border-radius: 0 0 3px 3px;
			font-weight: 700;
			text-transform: uppercase;

			span {
				color: #fff;
				font-size: 14px;
				line-height: 14px;
				display: block;

				&:before {
					position: absolute;
					top: 0;
					right: -7px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 9px 0 0 7px;
					border-color: transparent transparent transparent #065001;
					content: ''
				}
			}
		}

		.deals_title_bar {
			background-size: 100%;
			background-position: center top
		}

		.mdimg2{
			background-size: 100%;
			background-position: center top;
			background-repeat: no-repeat;
			width: 100%;
			padding-top: 51%
		}
		.grnview {
			display: block;
			background: url(../images/bg-md-view.jpg) center top repeat-x;
			text-align: center;
			color: #fff;
			padding: 5px;
			font-size: 14px;
			font-weight: 500;
		}

		.price{
			padding: 0;
			display: flex;

			.percentage, .our_price{
				vertical-align: middle;
				text-align: center;
				font-size: 22px;
				font-weight: 700;
				color: #01235b;
				margin: 0;
				padding: 0;
				text-shadow: 1px 1px 0 rgba(255,255,255,.5);
			}

			.percentage{
				line-height: 28px;
				width: 60%;
				background: #ffe52c;
				position: relative;

				@include adaptive(767){
					font-size: 12px;
					width: 55%;
				}

				&:after{
					display: block;
					position: absolute;
					top: 0;
					left: 100%;
					content: ' ';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 14px 0 14px 10px;
					border-color: transparent transparent transparent #ffe62c;
				}
			}
			.our_price{
				width: 40%;
				font-size: 14px;
				color: #000;
				line-height: 14px;

				@include adaptive(767){
					font-size: 11px;
					width: 45%;
				}

				small{
					display: block;
					font-size: 80%;
				}
			}
		}
		.view_deal{
			display: block;
			background: url(../images/coupon/bg-md-view.jpg) center top repeat-x;
			text-align: center;
			color: #fff;
			padding: 5px;
			font-size: 14px;
			font-weight: 500;
		}
	}

	.discounted_deals {
		.deals_title_bar{
			&.category152 {
				background-image: url(../images/Real-Porn-Is-Just-Better.png)
			}
			&.category89 {
				background-image: url(../images/Free-Hentai-Sucks-Dick.png)
			}

			&.category54 {
				background-image: url(../images/Prophet-From-These-Deals.png)
			}

			&.category40 {
				background-image: url(../images/See-Them-In-Action.png);
			}

			&.category56 {
				background-image: url(../images/Free-BDSM-Stinks.png)
			}

			&.category135 {
				background-image: url(../images/Free-Amateur-Sites-Stink.png)
			}

			&.category23 {
				background-image: url(../images/Watch-Pornstars-Get-Fucked.png)
			}

			&.category31 {
				background-image: url(../images/The-Best-Images-Arent-Free.png)
			}

			&.category105 {
				background-image: url(../images/Forget-Low-Quality-Comics.png)
			}

			&.category26 {
				background-image: url(../images/Skip-These-Trash-Forums.png)
			}

			&.category43 {
				background-image: url(../images/Fuck-Chatting-Watch-Porn.png)
			}

			&.category34 {
				background-image: url(../images/Reading-Is-For-Nerds.png)
			}

			&.category57 {
				background-image: url(../images/Turn-Your-Software-Hard.png)
			}

			&.category95 {
				background-image: url(../images/Dont-Cheap-Out-On-Porn.png)
			}

			&.category102 {
				background-image: url(../images/This-Is-Not-Funny.png)
			}

			&.category134 {
				background-image: url(../images/Voyeur-Sites-Are-Bad.png)
			}

			&.category32 {
				background-image: url(../images/GIFs-Cannot-Compete.png)
			}

			&.category39 {
				background-image: url(../images/Porn-For-The-Poor.png)
			}

			&.category36 {
				background-image: url(../images/Porn-Blogs-Are-Trash.png)
			}

			&.category42 {
				background-image: url(../images/Mags-Are-For-Fags.png)
			}

			&.category37 {
				background-image: url(../images/Free-Tubes-Suck-Dick.png)
			}

			&.category19 {
				background-image: url(../images/Paid-Asians-Fuck-Better.png)
			}

			&.category153 {
				background-image: url(../images/Tube-Sites-Are-Bad.png)
			}

			&.category88 {
				background-image: url(../images/Curry-Aint-Cheap.png)
			}

			&.category85 {
				background-image: url(../images/Pink-Links-Stink.png)
			}

			&.category33 {
				background-image: url(../images/The-Search-Is-Over.png)
			}

			&.category38 {
				background-image: url(../images/Reddit-Cannot-Compete.png)
			}

			&.category92 {
				background-image: url(../images/FUCK-HOOKERS-ANOTHER-DAY.png)
			}

			&.category106 {
				background-image: url(../images/More-Like-The-Fappened.png)
			}

			&.category9 {
				background-image: url(../images/Porn-Tubes-Are-For-FreeLoaders.png);
				background-size: 100% auto
			}
		}
	}


	//some images
	.cc {
		margin: 10px 0;
		height: 50px;
		background-size: auto 50px;
		background-position: center center;
		background-repeat: no-repeat
	}

	.cc.brazzers-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Brazzers-Premium-Logo.png)
	}

	.cc.punishtube-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Punish-Tube-Logo.png)
	}

	.cc.mofos-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mofos-Discount-1.jpeg)
	}

	.cc.reality-kings-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/rk-logo.png)
	}

	.cc.pornhub-premium-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Pornhub-Premium-PNG.png);
		background-size: auto 80px
	}

	.cc.filf-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/FILF-Logo.png)
	}

	.cc.imlive-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/IM-Live-PNG.png)
	}

	.cc.porndoe-premium-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/PornDoe-Premium-Logo.png)
	}

	.cc.round-and-brown--logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Round-And-Brown-.png)
	}

	.cc.bangbros-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Bang-Bros-Logo.png)
	}

	.cc.broken-teens-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Broken-Teens-Logo.png)
	}

	.cc.mr-skin-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mr.-Skin-PNG.png);
		background-size: auto 80px
	}

	.cc.evil-angel-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Evil-Angel-PNG.png);
		background-size: auto 80px
	}
	.cc.hookups-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Fap-Chat-Discount.png);
		background-size: auto 80px
	}

	.cc.chaturbate-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Chaturbate-PNG.png);
		background-size: auto 80px
	}

	.cc.twistys-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Twistys-Logo.png)
	}

	.cc.youporn-premium-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Youporn-Premium-PNG.png);
		background-size: auto 87px
	}

	.cc.digitalplayground-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Digital-Playground.png);
		background-size: auto 17px
	}

	.cc.gf-revenge-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/l-gfleaks.png);
		background-size: auto 28px
	}

	.cc.dagfs-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Dagfy-Logo.png);
		background-size: auto 38px
	}

	.cc.teenslovehugecocks-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Teens-Love-Huge-Cocks-Logo-.png)
	}

	.cc.playboy-tv-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Playboy-TV-PNG.png);
		background-size: auto 60px
	}

	.cc.gfleaks-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/GF-Leaks-logo.png);
		background-size: auto 40px
	}

	.cc.club-seventeen-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Club-Seventeen-PNG.png);
		background-size: auto 85px
	}

	.cc.free-hentai-passport-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Hentai-Passport-PNG.png);
		background-size: auto 80px
	}

	.cc.moms-bang-teens-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Moms-Bangs-Teens-Logo.png)
	}

	.cc.sexy-hub-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/SexyHub-logo.png);
		background-size: auto 37px
	}

	.cc.babes-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Babes_logo_black.png)
	}

	.cc.blackisbetter-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Black-is-Better-logo.png);
		background-size: auto 20px
	}

	.cc.iknowthatgirl-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/I-know-That-Girl-Logo.png);
		background-size: auto 35px
	}

	.cc.fake-hub-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/fakeHub-logo.png);
		background-size: auto 70px
	}

	.cc.livejasmin-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Live-Jasmin-PNG.png)
	}

	.cc.free-pornstar-passport-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Pornstar-Passport-PNG.png);
		background-size: auto 85px
	}

	.cc.out-of-the-family-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Out-Of-The-Family-PNG.png);
		background-size: auto 65px
	}

	.cc.fame-digital-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Fame-Digital-PNG.png);
		background-size: auto 80px
	}

	.cc.welivetogether-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/WeLiveTogether-Logo.jpg);
		background-size: auto 80px
	}

	.cc.girlfriends-films-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Girlfriends-Films-PNG.png);
		background-size: auto 80px
	}

	.cc.shemale-idol-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Shemale-Idol-PNG.png);
		background-size: auto 65px
	}

	.cc.doghouse-digital-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Doghouse-Digital-PNG.png);
		background-size: auto 85px
	}

	.cc.vivid-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Vivid-logo1-png.png)
	}

	.cc.burning-angel-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Burning-Angel-PNG.png);
		background-size: auto 65px
	}

	.cc.reality-junkies-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Reality-Junkies-PNG.png);
		background-size: auto 85px
	}

	.cc.cherry-pimps-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Cherry-Pimps-PNG.png);
		background-size: auto 85px
	}

	.cc.free-amateur-passport-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Amateur-Passport-PNG.png);
		background-size: auto 85px
	}

	.cc.sweet-sinner-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sweet-Sinner-PNG.png);
		background-size: auto 95px
	}

	.cc.wasteland-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Wasteland-PNG.png);
		background-size: auto 65px
	}

	.cc.white-ghetto-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/White-Ghetto-PNG.png);
		background-size: auto 65px
	}

	.cc.sex-art-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sex-Art-PNG.png);
		background-size: auto 85px
	}

	.cc.mike-adriano-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mike-Adriano-PNG.png);
		background-size: auto 85px
	}

	.cc.trans-angels-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Trans-Angles-Logo.png);
		background-size: auto 37px
	}

	.cc.b-skow-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/B-Skow-PNG.png);
		background-size: auto 65px
	}

	.cc.ifriends-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/iFriends-PNG.png);
		background-size: auto 85px
	}

	.cc.transsensual-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Transsensual-PNG.png);
		background-size: auto 85px
	}

	.cc.bonga-cams-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Bonga-Cams-PNG.png);
		background-size: auto 85px
	}

	.cc.nuru-massage-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Nuru-Massage-PNG.png);
		background-size: auto 85px
	}

	.cc.badoinkvr-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Badoink-VR-PNG.png);
		background-size: auto 85px
	}

	.cc.flirt-4-free--logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Flirt-4-Free-PNG.png);
		background-size: auto 85px
	}

	.cc.anal-acrobats-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Anal-Acrobats-PNG.png);
		background-size: auto 65px
	}

	.cc.all-girl-massage-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/All-Girl-Massage-PNG.png);
		background-size: auto 65px
	}

	.cc.fantasy-massage-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Fantasy-Massage-PNG.png);
		background-size: auto 85px
	}

	.cc.devils-film-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Devils-Film-PNG.png);
		background-size: auto 85px
	}

	.cc.mile-high-media-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mile-High-Media-PNG.png);
		background-size: auto 85px
	}

	.cc.r18-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/R18-logo.png);
		background-size: auto 40px
	}

	.cc.mommys-girl-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mommys-Girl-PNG.png);
		background-size: auto 85px
	}

	.cc.sexier-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sexier-PNG-1-.png)
	}

	.cc.rocco-siffredi-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Rocco-Siffredi-PNG.png);
		background-size: auto 85px
	}

	.cc.trans-500-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Trans-500-PNG.png);
		background-size: auto 75px
	}

	.cc.sweetheart-video-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sweetheart-Video-PNG.png);
		background-size: auto 85px
	}

	.cc.peter-north-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Peter-North-PNG.png);
		background-size: auto 85px
	}

	.cc.ts-playground-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/TS-Playground-PNG.png);
		background-size: auto 65px
	}

	.cc.teen-mega-world-logo {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/TeenMegaWorld-PNG.png);
		background-size: auto 85px
	}

	.mdimg2.fake-hub-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/fakehub-Discount.jpg)
	}

	.mdimg2.pornhub-premium-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Pornhub-Premium-Coupon.jpg)
	}

	.mdimg2.punishtube-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Punish-Tube-Discount.jpg)
	}

	.mdimg2.brazzers-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Brazzers-Discount-1.jpg)
	}

	.mdimg2.filf-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/FILF-Deal-Screenshot-.jpg)
	}

	.mdimg2.imlive-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/IM-Live-Coupon.jpg)
	}

	.mdimg2.mofos-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mofos-Discount.jpeg)
	}

	.mdimg2.reality-kings-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Reality-Kings-Discount-2.jpg)
	}

	.mdimg2.porndoe-premium-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/PornDoe-Premium-Discount.jpg)
	}

	.mdimg2.round-and-brown--img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Round-And-Brown-Discount-.jpg)
	}

	.mdimg2.bangbros-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Bangbros-Discount-Deal.jpg)
	}

	.mdimg2.broken-teens-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Broken-Teens-Discount.jpg)
	}

	.mdimg2.mr-skin-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mr-Skin-Coupon.jpg)
	}

	.mdimg2.evil-angel-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Evil-Angel-Coupon.jpg)
	}

	.mdimg2.hookups-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Dating-Deal-scaled.jpg)
	}

	.mdimg2.teamskeet-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/team-skeet-discount.jpg)
	}

	.mdimg2.chaturbate-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Chaturbate-Coupon.jpg)
	}

	.mdimg2.twistys-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Twistys-Discount.jpeg)
	}

	.mdimg2.youporn-premium-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/You-Porn-Premium-Coupon-1-PNG.png)
	}

	.mdimg2.digitalplayground-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Digital-Playground-Discount-.jpeg)
	}

	.mdimg2.gf-revenge-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Gf-Revenge-Discount.jpg)
	}

	.mdimg2.dagfs-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Dagfs-Porn-Discount-Screenshot.jpg)
	}

	.mdimg2.teenslovehugecocks-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Teens-Love-Huge-Cocks-Discount-.jpeg)
	}

	.mdimg2.playboy-tv-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Playboy-TV-Coupon.jpg);
		background-size: 112%
	}

	.mdimg2.gfleaks-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/GF-Leaks-Discount.jpg);
		background-position: center bottom
	}

	.mdimg2.club-seventeen-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Club-Seventeen-Coupon.jpg)
	}

	.mdimg2.free-hentai-passport-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Hentai-Passport-Coupon.jpg)
	}

	.mdimg2.moms-bang-teens-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/moms-bang-teens-deal.jpg)
	}

	.mdimg2.sexy-hub-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sexy-Hub-Discount.jpg)
	}

	.mdimg2.babes-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Babes-Discount-.jpg)
	}

	.mdimg2.blackisbetter-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/BlackisBetter-Discount.jpeg)
	}

	.mdimg2.iknowthatgirl-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/IKnowThatGirl-Discount.jpeg)
	}

	.mdimg2.livejasmin-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Live-Jasmin-Coupon.jpg)
	}

	.mdimg2.free-pornstar-passport-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Pornstar-Passport-Coupon.jpg)
	}

	.mdimg2.out-of-the-family-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Out-Of-The-Family-Coupon.jpg)
	}

	.mdimg2.fame-digital-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Fame-Digital-Coupon.jpg)
	}

	.mdimg2.welivetogether-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/We-Live-Together-Discount.jpg);
		background-position: center center
	}

	.mdimg2.girlfriends-films-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Girlfriends-Films-Coupon.jpg)
	}

	.mdimg2.shemale-idol-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Shemale-Idol-Coupon.jpg)
	}

	.mdimg2.doghouse-digital-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Doghouse-Digital-Coupon.jpg)
	}

	.mdimg2.vivid-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Vivid-Coupon.jpg)
	}

	.mdimg2.burning-angel-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Burning-Angel-Coupon.jpg)
	}

	.mdimg2.reality-junkies-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Reality-Junkies-Coupon.jpg)
	}

	.mdimg2.cherry-pimps-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Cherry-Pimps-Coupon.jpg)
	}

	.mdimg2.free-amateur-passport-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Free-Amateur-Passport-Coupon.jpg)
	}

	.mdimg2.sweet-sinner-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sweet-Sinner-Coupon.jpg)
	}

	.mdimg2.wasteland-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Wasteland-Coupon.jpg)
	}

	.mdimg2.white-ghetto-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/White-Ghetto-Coupon.jpg)
	}

	.mdimg2.sex-art-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sex-Art-Coupon.jpg)
	}

	.mdimg2.mike-adriano-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mike-Adriano-Coupon.jpg)
	}

	.mdimg2.trans-angels-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Trans-Angels-Discount-.jpeg);
		background-position: center center
	}

	.mdimg2.b-skow-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/B-Skow-Coupon.jpg)
	}

	.mdimg2.ifriends-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/iFriends-Coupon.jpg)
	}

	.mdimg2.transsensual-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Transsensual-Coupon.jpg)
	}

	.mdimg2.bonga-cams-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Bonga-Cams-Coupon.jpg)
	}

	.mdimg2.nuru-massage-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Nuru-Massage-Coupon.jpg)
	}

	.mdimg2.badoinkvr-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Badoink-VR-Coupon.jpg)
	}

	.mdimg2.flirt-4-free--img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Flirt-4-Free-Coupon.jpg)
	}

	.mdimg2.anal-acrobats-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Anal-Acrobats-Coupon.jpg)
	}

	.mdimg2.all-girl-massage-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/All-Girl-Massage-Coupon.jpg)
	}

	.mdimg2.fantasy-massage-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Fantasy-Massage-Coupon.jpg)
	}

	.mdimg2.devils-film-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Devils-Film-Coupon.jpg)
	}

	.mdimg2.mile-high-media-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mile-High-Media-Coupon.jpg)
	}

	.mdimg2.r18-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/R18-Screenshot-1.jpg)
	}

	.mdimg2.mommys-girl-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Mommys-Girl-Coupon.jpg)
	}

	.mdimg2.sexier-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sexier-Coupon.jpg)
	}

	.mdimg2.rocco-siffredi-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Rocco-Siffredi-Coupon.jpg)
	}

	.mdimg2.trans-500-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Trans-500-Coupon.jpg)
	}

	.mdimg2.sweetheart-video-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Sweetheart-Video-Coupon.jpg)
	}

	.mdimg2.peter-north-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Peter-North-Coupon.jpg)
	}

	.mdimg2.ts-playground-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/TS-Playground-Coupon.jpg)
	}

	.mdimg2.teen-mega-world-img {
		background-image: url(https://www.mrporngeek.com/wp-content/uploads/Teen-Mega-World-Coupon.jpg)
	}

	.discount-txt {
		position: relative;
		background: #ffe52c;
		float: left;
		vertical-align: middle;
		width: 60%;
		line-height: 36px;
		text-align: center;
		font-size: 22px;
		line-height: 36px;
		font-weight: 700;
		color: #01235b;
		margin: 0;
		padding: 0;
		text-shadow: 1px 1px 0 rgba(255,255,255,.5)
	}

	.discount-txt::after {
		display: block;
		position: absolute;
		top: 0;
		left: 100%;
		content: ' ';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 18px 0 18px 15px;
		border-color: transparent transparent transparent #ffe62c
	}

	.discount-ourprice {
		float: left;
		vertical-align: middle;
		text-align: center;
		line-height: 14px;
		font-size: 14px;
		color: #000;
		font-weight: 700;
		text-shadow: 1px 1px 0 rgba(255,255,255,.5);
		width: 40%;
		font-size: 14px;
		color: #000;
		line-height: 15px;
		padding: 5px 0 0
	}

	.discount-ourprice small {
		display: block
	}
}


@include adaptive(991.98) {
	.discounted_deals_container{
		display: none;
	}
}

@media screen and (max-width: 1580px) {
	.couponC,.buyBox {
		margin:30px 1%
	}
}

@media screen and (max-width: 1300px) {
	.category_subtext {
		font-size:12px
	}

	.rightCat ul li {
		width: 25%
	}
}

@media screen and (max-width: 1100px) {
	.rightCat {
		width:75%
	}

	.rightCat ul li {
		width: 33.333%
	}
}

@media screen and (max-width: 980px) {
	.leftCat {
		margin-top:35px
	}

	.rightCat {
		width: 65%;
		margin-top: 35px;
		padding-left: 5px
	}

	.rightCat ul li {
		padding: 0 10px 20px
	}

	.rightCat h1 {
		font-size: 20px
	}

	.rightCat ul li {
		width: 50%
	}

	.discounted_deals .deals_title_bar {
		height: 100px
	}
}

@media screen and (max-width: 760px) {
	html,body {
		-webkit-overflow-scrolling:touch
	}

	body.home.mobile .site-main {
		padding-top: 60px
	}

	.log-join a {
		font-size: 3vw
	}
}

@media screen and (max-width: 680px) {
	.login.guest span {
		background:url(../images/mobile_icon_padlock.png) left center no-repeat;
		background-size: auto 20px;
		display: inline-block;
		padding-left: 25px
	}

	.join.guest span {
		background: url(../images/mobile_icon_join.png) left center no-repeat;
		background-size: auto 20px;
		display: inline-block;
		padding-left: 30px
	}

	.leftCat {
		display: none
	}

	.rightCat {
		width: 100%;
		margin-top: 15px;
		padding-left: 0
	}

	.rightCat ul li {
		padding: 0 5px 10px
	}

	.catD {
		font-size: 3vw
	}

	.catD small {
		font-size: 2.5vw
	}

	.rightCat h1 {
		font-size: 4.5vw;
		text-align: center;
		margin: 10px 0 20px
	}

	.mobile .category_title_container h1 {
		padding-right: 10px!important
	}

	.discount-txt {
		font-size: 4.5vw;
		width: 60%;
		line-height: 4.3vw
	}

	.discount-ourprice {
		width: 39%;
		font-size: 3.2vw;
		line-height: 2.6vw
	}

	.discount-ourprice small {
		font-size: 2vw
	}
}

@media screen and (max-width: 480px) {
	#primary .bioDtls ul {
		width:100%;
		margin: 0 0 10px
	}

	.log-join a {
		font-size: 5vw
	}

	.discounted_deals .deals_title_bar {
		height: 80px
	}

	.deals_title_bar.category152 {
		background-image: url(../images/mobile-header/Real-Porn-Is-Just-Better.png)
	}

	.deals_title_bar.category89 {
		background-image: url(../images/mobile-header/Free-Hentai-Sucks-Dick.png)
	}

	.deals_title_bar.category54 {
		background-image: url(../images/mobile-header/Prophet-From-These-Deals.png)
	}

	.deals_title_bar.category40 {
		background-image: url(../images/mobile-header/See-Them-In-Action.png)
	}

	.deals_title_bar.category56 {
		background-image: url(../images/mobile-header/Free-BDSM-Stinks.png)
	}

	.deals_title_bar.category135 {
		background-image: url(../images/mobile-header/Free-Amateur-Sites-Stink.png)
	}

	.deals_title_bar.category23 {
		background-image: url(../images/mobile-header/Watch-Pornstars-Get-Fucked.png)
	}

	.deals_title_bar.category31 {
		background-image: url(../images/mobile-header/The-Best-Images-Arent-Free.png)
	}

	.deals_title_bar.category105 {
		background-image: url(../images/mobile-header/Forget-Low-Quality-Comics.png)
	}

	.deals_title_bar.category26 {
		background-image: url(../images/mobile-header/Skip-These-Trash-Forums.png)
	}

	.deals_title_bar.category43 {
		background-image: url(../images/mobile-header/Fuck-Chatting-Watch-Porn.png)
	}

	.deals_title_bar.category34 {
		background-image: url(../images/mobile-header/Reading-Is-For-Nerds.png)
	}

	.deals_title_bar.category57 {
		background-image: url(../images/mobile-header/Turn-Your-Software-Hard.png)
	}

	.deals_title_bar.category95 {
		background-image: url(../images/mobile-header/Dont-Cheap-Out-On-Porn.png)
	}

	.deals_title_bar.category102 {
		background-image: url(../images/mobile-header/This-Is-Not-Funny.png)
	}

	.deals_title_bar.category134 {
		background-image: url(../images/mobile-header/Voyeur-Sites-Are-Bad.png)
	}

	.deals_title_bar.category32 {
		background-image: url(../images/mobile-header/GIFs-Cannot-Compete.png)
	}

	.deals_title_bar.category39 {
		background-image: url(../images/mobile-header/Porn-For-The-Poor.png)
	}

	.deals_title_bar.category36 {
		background-image: url(../images/mobile-header/Porn-Blogs-Are-Trash.png)
	}

	.deals_title_bar.category42 {
		background-image: url(../images/mobile-header/Mags-Are-For-Fags.png)
	}

	.deals_title_bar.category37 {
		background-image: url(../images/mobile-header/Free-Tubes-Suck-Dick.png)
	}

	.deals_title_bar.category19 {
		background-image: url(../images/mobile-header/Paid-Asians-Fuck-Better.png)
	}

	.deals_title_bar.category153 {
		background-image: url(../images/mobile-header/Tube-Sites-Are-Bad.png)
	}

	.deals_title_bar.category88 {
		background-image: url(../images/mobile-header/Curry-Aint-Cheap.png)
	}

	.deals_title_bar.category85 {
		background-image: url(../images/mobile-header/Pink-Links-Stink.png)
	}

	.deals_title_bar.category33 {
		background-image: url(../images/mobile-header/The-Search-Is-Over.png)
	}

	.deals_title_bar.category38 {
		background-image: url(../images/mobile-header/Reddit-Cannot-Compete.png)
	}

	.deals_title_bar.category92 {
		background-image: url(../images/mobile-header/FUCK-HOOKERS-ANOTHER-DAY.png)
	}

	.deals_title_bar.category106 {
		background-image: url(../images/mobile-header/More-Like-The-Fappened.png)
	}

	.deals_title_bar.category9 {
		background-image: url(../images/mobile-header/Porn-Tubes-Are-For-FreeLoaders.png)
	}
}

@media screen and (max-width: 380px) {
	.logo-mob img {
		width:240px
	}

	i.nav-icon,i.search-icon {
		top: 18px
	}

	body.mobile .bread-crumb {
		margin-top: 0
	}

	.discounted_deals .deals_title_bar {
		height: 86px
	}
}

@media screen and (max-width: 330px) {
	.mob-hdr {
		padding:13px 10px
	}

	.logo-mob img {
		width: 210px
	}

	i.nav-icon {
		left: 10px
	}

	i.search-icon {
		right: 10px
	}

	.discounted_deals .deals_title_bar {
		height: 86px
	}
}
