// CATEGORY_SIDEBAR :: START
.desktop_menu_list{
  width: 250px;
  float: left;
  will-change: min-height;
  backface-visibility: hidden;

	@include adaptive(767) {
		display: none;
	}

	.inner-wrapper-sticky{
		transform: translate(0, 0); /* For browsers don't support translate3d. */
		transform: translate3d(0, 0, 0);
		will-change: position, transform;
		width: 250px;
	}
}
.page-template-page-categories{
	.desktop_menu_list {
		width: 280px;
		.inner-wrapper-sticky {
			width: 280px;
		}
	}
	.categories-container{
		margin-left: 290px;
		@include adaptive(767) {
			margin-left: 0;
		}

	}
}

.category-list{
	&-search{
		position: relative;
		width: 100%;
		padding: 15px 0 3px;
		color: #fff;
		text-align: center;

		.icon-search{
			width: 18px;
			position: absolute;
			left: 8px;
			top: 10px;
			fill: #333;

			path{
				fill: #333;
			}
		}

		&-title{
			padding-bottom: 10px;
			font-weight: 600;
		}
	}
	&-filter{
		width: 100%;
		height: 38px;
		outline: none;
		font-size: 16px;
		border: 2px solid #333;
		border-radius: 3px;
		padding: 3px 10px 3px 30px;

	}
	&-menu{
		display: flex;
		flex-wrap: wrap;
		backface-visibility: hidden;
		padding: 0 10px 15px;

		&-dropdown{
			gap: 0 25px;
			padding: 0 25px 15px;

			.category-list-item{
				padding-right: 25px;
			}
		}

		&-bar{
			background: #2a2b31;
			padding: 0 15px;

			.category-list-menu{
				width: 250px;
			}
		}
	}
	&-item{
		position: relative;
		flex: 1 1 250px;
		border-bottom: 1px solid #666;
		display: inline-block;
		width: 100%;
		background: 0 0;
		order: 1;

		&:last-child{
			border-bottom: none;
		}
		&:last-child{
			 border-bottom: none;
	 	}

		.mobile_link_icons {
			display: flex;
			padding: 0 0 0 50px;
			font-size: 0;
		}
		.mobile_link_ellipsis,
		.mobile_link_count{
			color: #96979f;
			font-size: 14px;
		}


		.icon-category{
			grid-column: 1;
			grid-row: 1 / span 2;
		}

		.deIcon::before{
			display: block;
			content: ' ';
			width: 16px;
			height: 16px;
			margin-right: 5px;
		}
	}
	&-title{
		grid-column: 2;
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 15px;
		font-weight: 500;
		color: #fff;

		.highlight{
			font-weight: 600;
			color: #d5f963;
		}
	}
	&-link{
		position: relative;
		display: grid;
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: 6px 5px;
		padding: 8px 10px 8px 12px;
		color: #767676;
		font-size: 14px;
		font-weight: 400;


		&::before{
			content: '';
			display: block;
			position: absolute;
			z-index: 5;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			height: 6px;
			width: 6px;
			border-radius: 3px;
			background-color: #1b4f90;
		}

		&.review-category-item{
			padding: 5px 10px 5px 55px;

			.icon-category{
				position: absolute;
				left: -40px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&.visited{
			&::before{
				content: '';
				background: transparent;
				transform: rotate(45deg);
				width: 6px;
				height: 11px;
				border: solid #d5f963;
				border-width: 0 1px 1px 0;
				border-radius: 0;
				margin: -6px 0;
			}

			&:hover{
				&::before {
					animation: none;
				}
			}
		}

		&::after{
			content: '';
			display: inline-block;
			width: 5px;
			height: 10px;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: url(../images/icon-angle-right.svg) no-repeat;
			background-size: contain;
		}

		&:not(.visited):hover:before {
			animation: pulse-grey 1s infinite;
		}
		&.pulse:not(.visited){
			&::before {
				background: #2eaf61;
				animation: pulse-grey 1s infinite;
			}
		}
	}

	&-icons{
		grid-column: 2;
		display: flex;

		&:before{
			display: block;
			content: ' ';
		}
	}
}

.light{
	.category-list{
		&-menu-bar{
			background: #fff;
		}
		&-link{
			color: #767676;
		}
		&-title{
			color: #4e4e4e;

			.highlight{
				color: #000;
			}
		}
	}
	.category-list-item{
		border-bottom: 1px solid #e5e5e5;
	}
	.mobile_category_name {
		& > span {
			color: #4e4e4e;
		}
	}
	.category-list-link.visited::before{
		border: solid #1b4f90;
		border-width: 0 1px 1px 0;
	}
}
