// SITE_ITEM :: START

.category_sites{
	display: flex;
	flex-wrap: wrap;
	counter-reset: number;
	padding: 0 10px;
	/*font:400 14px/1.2 Roboto,sans-serif,sans-serif;*/
	font:400 14px/1.2;



	@include adaptive(767) {
		padding: 0 1px;
	}

	&_description{
		flex-grow: 1;
		width: 50%;
		padding: 15px 0 0 10px;
		position: relative;

		@include respond('ipad_portrait'){
			width: 100%;
			order: -1;
		}

		@include respond('max-medium'){
			padding-left: 0;
		}

		@include adaptive(767) {
			width: 100%;
			order: -1;
			padding: 15px 5px 0;
		}

		&__readmore{
			display: none;

			@include adaptive(767) {
				display: block;
				position: absolute;
				bottom: -1px;
				left: 5px;
				right: 5px;
				padding-top: 20px;
				text-align: center;
				color: #a8a8a8;
				font-size: 24px;
				cursor: pointer;

				background: rgb(59,59,59);
				background: linear-gradient(0deg, rgba(59,59,59,1) 0%, rgba(59,59,59,0.8) 85%, rgba(255,255,255,0) 100%);

				&__img{
					margin-left: 5px;
				}
			}
		}


		&.show_all{
			.category_sites_description__readmore{
				display: none;
			}
		}


		.category_description{

			@include respond('medium'){
				position: absolute;
				top: 15px;
				bottom: 0;
				right: 0px;
				left: 10px;
				overflow: auto;
			}

			@include respond('ipad_portrait'){
				position: relative;
				top: 0;
				height: 230px;
			}

			@include adaptive(767) {
				height: 200px;
				overflow: hidden;
				position: relative;
				top: 0;
				left: 0;
			}

			&.tubes h2 {
				margin: 0 0 10px;
				color: #fff;
				font-size: 20px;
				font-weight: 600;

				@include respond('max-medium'){
					display: none;

					&:first-of-type{display: block}
				}
			}


		}

		h3{
			font-size: 20px;
			color: #fff;
			margin: 0 0 10px;
			font-weight: 700;

			@include respond('max-medium'){
				display: none;

				&:first-of-type{
					display: block;
				}
			}

			@include adaptive(767) {
				font-size: 19px;
				line-height: 22px;
				margin: 0 0 5px;
			}
		}

		a{
			color: #2eaf61;
			&:hover, &:focus{
				color: #2eaf61;
			}
		}

		p{
			padding: 0;
			font-size: 16px;
			margin: 0 0 10px;

			@include respond('max-extra-small'){
				display: none;

				&:first-of-type{
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 6;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
		}

		&.show_all{
			.category_description{
				height: auto;
			}

			.readmore{
				display: none;
			}
			@include respond('max-medium'){
				.category_description{
					h1, h2, h3, p{
						display: block;
					}
				}
			}
		}
	}

	&_item{
		flex-grow: 1;
		width: 25%;
		max-width: 25%;
		padding: 15px 5px 0;

		@include respond('ipad_landscape'){
			width: 25%;
			max-width: 25%;
			padding: 15px 4px 0;
		}
		@include respond('ipad_portrait'){
			width: 33.333333%;
			max-width: 33.333333%;
			padding: 15px 4px 0;
		}
		@include adaptive(767) {
			width: 50%;
			max-width: 50%;
			padding: 10px 3px 0;
		}



		&_inner{
			padding: 0;
			position: relative;

			.free_to_play {
				background: url(/wp-content/themes/mpg/images/free_to_play.png);
				width: 84px;
				height: 86px;
				content: ' ';
				display: inline-block;
				position: absolute;
				right: -4px;
				top: -4px;
			}

			@include adaptive(767) {
				padding: 0;

				.category_site_content{
					padding: 0 8px 8px;
				}
			}

		}

		&_overlay{
			position: absolute;
			justify-content: center;
			align-items: center;
			background: rgba(0,0,0,.6);
			display: none;
			width: 100%;
			height: 100%;
			top: 0;
			flex-direction: column;
			z-index: 2;

			@include adaptive(767) {
			}

			a{
				padding: 8px 0;
				justify-content: center;
				color: #fff;
				background: #004aad;
				text-decoration: none;
				border-radius: 5px;
				width: 80%;
				position: relative;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				display: flex;
				align-items: center;

				transition: all 0.2s linear 0s;

				@include adaptive(1024) {
					padding: 5px 0;
					font-size: 12px;
					width: 70%;
				}

				i{
					transition: all 0.2s linear 0s;
					opacity: 0;
					width: 0;


					&.right_angle{
						color: #c4f015;

						&:before{
							transform: rotateZ(180deg);
						}
					}
				}

				&:hover{

					i{
						opacity: 1;
						width: 18px;
						padding-left: 10px;
					}
				}
			}

			/*.link_read:hover{
				animation: pulse-blue 1s;
			}
			.link_site:hover{
				animation: pulse-green 1s;
			}*/

			.link_site{
				background: #c4f015;
				color: #000;
				margin-top: 15px;
			}
		}

		&_content{
			position: relative;
			overflow: hidden;

			&:hover{
				.category_sites_item_overlay{
					display: flex;

					@include adaptive(767) {
						display: none;
					}
				}
			}

			&.has_video{
				&:hover{
					.category_sites_item_overlay{
						display: none;
					}
				}
			}

			&.touched{
				.category_sites_item_overlay{
					display: flex;
				}
			}
		}

		&_thumb{
			line-height: 0;
			overflow: hidden;
			position: relative;
			display: block;
			padding-bottom: 84.8%;

			&__img{
				aspect-ratio:1.18110;

				position: absolute;
				top: -1px;
				left: 0;
				width: 100%;
				transform: scale(1);
				transition: opacity 250ms,transform .3s !important;
				transform-origin: top left;
			}

			&:hover{
				.category_sites_item_thumb__img{
					transform: scale(1.1);
				}
			}

			video{
				position: absolute;
				top: 50%;
				left: 50%;
				height: 103%;
				transform: translateX(-50%) translateY(-50%);
			}

			&__overlay, &::before{
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: -1px;
				bottom: 0;
				right: 0;
				z-index: 1;
				background: #000;
				background: -moz-linear-gradient(0deg,#000 0,rgba(0,0,0,.58) 25%,rgba(107,107,107,0) 50%,rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(0deg,#000 0,rgba(0,0,0,.58) 25%,rgba(107,107,107,0) 50%,rgba(255,255,255,0) 100%);
				background: linear-gradient(0deg,#000 0,rgba(0,0,0,.58) 25%,rgba(107,107,107,0) 50%,rgba(255,255,255,0) 100%);
			}
		}

		&_title{
			position: absolute;
			z-index: 2;
			bottom: 0;
			width: 100%;
			display: flex;
			align-items: center;
			margin: 15px 0 7px;
			font-size: 15px;
			font-weight: 600;
			justify-content: center;
			color: #fff;

			@include adaptive(767) {
				font-size: 13px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&:hover, &:focus{
				color: #fff;
			}

			&:before{
				counter-increment: number;
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				left: 10px;
				content: counter(number);
				display: inline-block;
				margin: -1px 1px 0 0;
				text-align: right;
				color: #bbbcc0;
				font-weight: 400;

				@include adaptive(767) {
					font-size: 12px;
				}
			}

			h2, &_a{
				color: #fff;
				font-weight: 600;
				margin: 0;
				white-space: nowrap;
				font-size: 15px;
				text-overflow: ellipsis;
				text-align: center;
				text-transform: capitalize;


				&:active,
				&:hover,
				&:focus{
					text-decoration: underline;
					color: #fff;
				}

				@include adaptive(767) {
					font-size: 13px;
					font-weight: 500;
					white-space: nowrap;
					overflow: hidden;
					max-width: 62%;
					text-overflow: ellipsis;
				}
			}
		}



		&_summary{
			font-weight: 400;
			font-size: 12px;
			padding-top: 5px;
			line-height: 20px;
			height: 85px;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;

			@include respond('ipad'){
				font-size: 12px;
			}

			@include adaptive(767) {
				font-size: 12px;
				-webkit-line-clamp: 5;
				line-height: 17px;
				height: auto;
				margin: 0 0 3px;
			}
		}

		.ratings {
			display: block;
			content: ' ';
			height: 16px;
			background-repeat: no-repeat;
			margin-bottom: 10px;
			margin-top: -3px;
		}
		.rating_1 {
			background-image: url(/wp-content/themes/mpg/images/rating_1.png)
		}

		.rating_2 {
			background-image: url(/wp-content/themes/mpg/images/rating_2.png)
		}

		.rating_3 {
			background-image: url(/wp-content/themes/mpg/images/rating_3.png)
		}

		.rating_4 {
			background-image: url(/wp-content/themes/mpg/images/rating_4.png)
		}

		.rating_5 {
			background-image: url(/wp-content/themes/mpg/images/rating_5.png)
		}
	}

	@include respond('large'){

		&.cat_archive{
			&.page_1{
				.category_sites_item{
					&:nth-child(2){order: -2;}
					&:nth-child(3){order: -1;}
				}
			}
		}
	}

	&.similar_sites{
		.category_sites_item_overlay a{
			padding: 16px 0;
			font-size: 18px;

			@include adaptive(1024) {
				padding: 5px 0;
				font-size: 12px;
				width: 70%;
			}
		}
	}
}

.category_sites_item_content:hover{
	.category_sites_item_title{
		z-index: 4;
	}
}

.deadsite{
	&-drop{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 12;
		transition: opacity .1s;
		padding: 10px 0 0 0;
		background-image: initial;
		background-color: rgba(26, 29, 32, .6);
		text-align: center;
		display: inline-block;
		transition: opacity .2s ease, visibility .2s ease;

		&.dead{
			background: rgba(216,10,18,.8);
		}

		.icon-holder {
			display: inline-block;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			background: url(/wp-content/themes/mpg/images/hof-head.svg) 50% 50% no-repeat;
			background-size: 180px;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: -1;

			@include adaptive(768) {
				background-size: 150px;
			}
		}

		.item-link {
			padding: 10px 15px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			text-decoration: none;
			border-radius: 5px;
			position: absolute;
			left: 50%;
			bottom: 10px;
			transform: translateX(-50%);
			background: #004aad;

			@include adaptive(768) {
				padding: 5px 10px;
			}

			.text {
				font-size: 14px;
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;
				word-break: break-word;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;

				@include adaptive(768) {
					font-size: 12px;
				}
			}
			.btn-icon {
				color: #fff;
				display: inline-block;
				vertical-align: bottom;
				background: url(/wp-content/themes/mpg/images/w-icon-arrow-right.svg) no-repeat;
				width: 16px;
				height: 10px;
				background-size: 16px;
				-ms-flex-negative: 0;
				flex-shrink: 0;
			}
		}
	}
	&-title {
		color: #ffffff;
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		display: block;

		@include adaptive(768) {
			font-size: 16px;
		}
	}
	&-subtitle {
		color: #ffffff;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		display: block;
	}

	&-drop.dead-review{
		background: rgba(216,10,18,.8);

		&.unlisted{
			background: rgba(0, 0, 0,.8);
		}

		.icon-holder{
			background-size: 350px;

			@include adaptive(767){
				background-size: 180px;
			}
		}
		.deadsite-title{
			margin-top: 30px;
			font-size: 36px;

			@include adaptive(767){
				margin-top: 5px;
				font-size: 12px;
			}
		}
		.deadsite-subtitle{
			font-size: 20px;

			@include adaptive(767){
				font-size: 16px;
			}
		}
		.item-link{
			bottom: 25px;
			right: auto;
			top: auto;
			flex-direction: revert;

			.text{
				font-size: 20px;

				@include adaptive(767){
					font-size: 14px;
				}
			}

			@include adaptive(767){
				bottom: 15px;
			}
		}
	}
}
.category_sites_item_content:hover .deadsite-drop{
	display: none;
}

.similar_sites{
	margin-bottom: 20px;
}

.light{

	.category_sites_item_inner{
	}
	.category_sites_description .category_description h3{
		color: #698ab3;
	}

	.category_sites_description .category_description.tubes h2{
		color: #698ab3;
	}

	.category_sites_description .category_description a{
		color: #4099f9;

		&:hover, &:focus{
			color: #337ab7;
		}
	}

	.category_sites_description__readmore{
		//background: url(/wp-content/themes/mpg/images/graident_bg_light.svg);
		background: rgb(255,255,255);
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0) 100%);
	}

	.category_sites_item_title h2{
	}
}


.deIcon:not(.nolazy){
	&:before{
		content: ' ';
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 5px;
	}
}

.gpgIcon{
	height: 16px;

	&::before{
		content: ' ';
		width: 16px;
		height: 16px;
		margin: 0 5px 0;
		display: inline-block;
		background: url("/wp-content/themes/mpg/images/gpgIcon.png");
	}
}

