// OTHER_PAGES :: START
.other_page{
	padding-top: 15px;

	@include respond('ipad_portrait'){
		padding-top: 0;
	}
	@include adaptive(767) {
		padding-top: 0;
		padding-bottom: 0;
	}


	&_content{
		padding: 30px 35px;
		background: #3b3b3b;

		@include respond('ipad_portrait'){
			padding: 15px;
		}
		@include adaptive(767){
			padding: 15px;
		}
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
//About us
.abouticon1, .abouticon2, .abouticon3, .abouticon4, .abouticon5, .abouticon6, .abouticon7, .abouticon8, .abouticon9, .abouticon10 {
	position: absolute;
	top: 15px;
	left: 0;
	width: 81px;
	height: 82px;
	background-image: url(../images/about-icon1.png);
	background-size: 100%;
}
.abouticon2{
	background-image: url(../images/about-icon2.png);
}
.abouticon3{
	background-image: url(../images/about-icon3.png);
}
.abouticon4{
	background-image: url(../images/about-icon4.png);
}
.abouticon5{
	background-image: url(../images/about-icon5.png);
}
.abouticon6{
	background-image: url(../images/about-icon6.png);
}
.abouticon7{
	background-image: url(../images/about-icon7.png);
}
.abouticon8{
	background-image: url(../images/about-icon8.png);
}
.abouticon9{
	background-image: url(../images/about-icon9.png);
}
.abouticon10{
	background-image: url(../images/about-icon10.png);
}


.aboutusC{
	li{
		position: relative;
		margin-bottom: 20px;
	}
	.aboutp{
		border-radius: 10px;
		background: #2f2f2f;
		border: 2px solid #444;
		padding: 20px 20px 36px 40px;
		margin-left: 60px;

		font-size: 16px;
		color: #ddd;
		line-height: 24px;

		h5{
			font-size: 24px;
			color: #dcecff;
			margin-top: 23px;
			margin-bottom: 40px;

			@include respond('ipad_portrait'){
				margin: 13px 0;
			}
			@include adaptive(767){
				margin: 13px 0;
			}
		}

		p{
			font-size: 16px;
			color: #ddd;
			line-height: 24px;
		}
	}
}
.acontact {
	text-align: center;
	margin: 40px auto 10px;
	max-width: 75%;

	&_inner{
		display: flex;
		justify-content: center;

		@include respond('ipad'){
			flex-direction: column;
		}
		@include adaptive(767){
			flex-direction: column;
			max-width: 100%;
		}
	}

	&_btc{
		display: none;
		color: #fc022d;
		padding-bottom: 15px;
		font-size: 18px;
		font-weight: 600;

		@include adaptive(1023) {
			font-size: 12px;
		}

		&.fund{
			display: block;
		}
	}

	img{
		max-width: 90%;
		margin: 5px;
	}
}
.whtbox{
	h5{
		font-size: 24px;
		color: #dcecff;
		margin-top: 23px;
		margin-bottom: 40px;
		font-weight: 700;

		&:first-child{
			margin-top: 0;
		}

		@include respond('ipad_portrait'){
			margin: 13px 0;
		}
		@include adaptive(767){
			margin: 13px 0;
		}
	}

	p{
		margin: 20px 0;
		font-size: 14px;
		line-height: 18px;
		color: #bbb;
	}
	ul{
		margin: 20px 0;
		padding: 0;
		list-style: none;

		li{
			margin: 15px 0;
			padding-left: 27px;
			position: relative;
			color: #dcecff;

			&:before{
				position: absolute;
				top: 3px;
				left: 0;
				content: '•';
				font-size: 30px;
				color: #3f3f3f;
				line-height: 13px;
			}
		}
	}
}

//Contact us page
.contactusC{
	li{
		h5{
			font-size: 36px;
			color: #dcecff;
			font-weight: 700;
			display: inline-block;
			vertical-align: middle;
			margin: 15px 10px;

			@include respond('ipad'){
				font-size: 30px;
			}
			@include adaptive(767){
				font-size: 28px;
			}
		}
	}

	.cont-icon1, .cont-icon2, .cont-icon3, .cont-icon4, .cont-icon5, .cont-icon6 {
		display: inline-block;
		vertical-align: middle;
		width: 59px;
		height: 53px;
		background-image: url(../images/contact-icon1.png);
		background-size: 100%;
		margin: -7px 5px 0;
	}
	.cont-icon2{
		background-image: url(../images/contact-icon2.png);
	}
	.cont-icon3{
		background-image: url(../images/contact-icon3.png);
	}
	.cont-icon4{
		background-image: url(../images/contact-icon4.png);
	}
	.cont-icon5{
		background-image: url(../images/contact-icon5.png);
	}
	.cont-icon6{
		background-image: url(../images/contact-icon6.png);
	}

	p{
		margin: 10px 0 20px;
		font-size: 18px;
		line-height: 30px;
		color: #bbb;

		strong{
			font-weight: 700;
		}

		&.aligncenter{
			text-align: center;
		}
	}

	img{
		max-width: 100%;
		height: auto;

		@include adaptive(767) {
			//max-height: 120px;
		}

		&.aligncenter {
			margin: 5px auto;
			display: block;
		}
	}

	.birdc {
		position: absolute;
		top: -20px;
		left: 10px;
		width: 250px;

		@include respond('mobile_portrait'){
			position: relative;
		}
	}



	.contblu {
		margin: 5px 0 15px;
		border-radius: 10px;
		background: #2f2f2f;
		border: 2px solid #444;
		padding: 20px 20px 20px 40px;
	}
	.aligncenter{
		text-align: center;
	}

	.donationmsg {
		position: fixed;
		left: 10%;
		top: 15%;
		background: #082248;
		padding: 30px;
		text-align: center;
		width: 80%;
		color: #fff;
		z-index: 9999;
		display: none;

		@include adaptive(767) {
			overflow: auto;
			top: 120px;
			bottom: 5px;
			left: 10px;
			right: 10px;
			height: auto;
			margin-top: 0;
			width: auto;
			padding: 5px;
		}
	}
	i.closex {
		position: absolute;
		top: 30px;
		right: 30px;
		background: url(../images/closex.png);
		width: 29px;
		height: 29px;
		cursor: pointer;
		z-index: 9999;
	}

	.msg {
		padding: 30px;

		h2{
			font-size: 72px;
			font-weight: 700;
			margin-bottom: 30px;

			@include adaptive(767) {
				font-size: 62px;
			}
		}

		p{
			font-size: 30px;
			line-height: 48px;
			color: #fff;

			strong {
				color: #98c8ff;
				font-weight: 500;
			}
		}
	}
}

.btn_contact{
	display: inline-flex;
	align-items: center;
	border-radius: 6px;
	font-size: 32px;
	color: #fff;
	padding: 0 25px 0 0;
	text-transform: uppercase;
	margin: 0 8px;
	background-size: auto 100% !important;

	&:focus, &:hover{
		color: #fff;
	}

	&:not(.bt_about){
		flex: 1;
	}

	&.me{
		background: url("../images/btn_bg_contact.png");


	}
	&.donate{
		background: url("../images/btn_bg_donation.png");
	}

	&:hover{
		color: #fff;
	}

	@include respond('ipad'){
		margin-top: 10px;
		font-size: 24px;
	}

	@include adaptive(767){
		font-size: 14px;
		margin-top: 10px;
	}

	img{
		display: inline-block;
		height: 100%;
		margin: 0 25px 0 0;

		@include adaptive(767){
			margin-right: 10px;
			height: 50px;
		}
	}
	span{
		flex: 1;
	}
}


.contgry {
	background: #2f2f2f;
	border: 2px solid #444;
	border-radius: 10px;
	padding: 20px 30px;
	position: relative;
	margin-bottom: 15px;

	p{
		display: block;
		vertical-align: middle;
		font-size: 26px;
		line-height: 48px;
		color: #bbb;
		margin-left: 280px;

		@include respond('ipad'){
			font-size: 20px;
		}

		@include adaptive(767){
			font-size: 26px;
			line-height: 38px;
			margin: 0;
		}
	}
}
//Contact us end

//Advertising
.page-template-advertising{
	section.list{
		background: #030a16 url(../images/anuncio-bg.jpg) top no-repeat;
		background-size: 100%;
	}
}
.bg_adv{
	background: #030a16 url(../images/anuncio-bg.jpg) top no-repeat;
	background-size: 100%;
}
.advC {
	text-align: center;
	padding: 10px 0;
	color: #fff;

	@include respond('ipad_portrait'){
		padding: 20px 0 10px;
	}
	@include adaptive(767){
		padding: 20px 0 10px;
	}

	h2{
		font-size: 60px;
		font-weight: 700;
		color: #09a0ff;
		margin: 20px 0 30px;

		@include adaptive(767){
			font-size: 36px;
		}
	}
	h4{
		position: relative;
		border: 1px solid #5a83a8;
		padding: 25px 30px;
		font-size: 22px;
		line-height: 36px;
		margin: 0 5% 30px;

		&:after{
			position: absolute;
			left: 50%;
			bottom: -42px;
			width: 43px;
			height: 50px;
			background-image: url(../images/anuncio-arrw.png);
			content: '';
			background-size: 100%;
			margin-left: -21px;
		}
	}
	img{
		max-width: 100%;
	}
	ul{
		margin-bottom: 80px;
	}
	li{
		text-align: left;
		position: relative;
		margin: 40px 5%;

		p{
			font-size: 18px;
			line-height: 30px;
		}
	}

	.oadttl {
		font-size: 30px;
		font-weight: 700;
		color: #10b3ff;

		@include adaptive(767){
			font-size: 20px;
		}

		.numc {
			display: inline-block;
			width: 37px;
			height: 38px;
			background-image: url(../images/anuncio-num.png);
			margin-right: 10px;
			text-align: center;
			color: #040c1a;
			font-weight: 900;
			text-shadow: 1px 1px 0 rgba(255,255,255,.3);
			line-height: 37px;
			background-size: 100%;
		}
	}

	small{
		text-align: center;
		font-size: 18px;
		color: #fff;
		display: block;
		margin: 20px 10px 30px;
	}
}
.btn_advertise{
	display: inline-flex;
	align-items: center;
	border-radius: 6px;
	background: url("../images/btn_blue_bg.png");
	font-size: 28px;
	color: #fff;
	padding: 0 25px 0 0;
	text-transform: uppercase;

	&:hover{
		color: #fff;
	}

	@include adaptive(767){
		font-size: 14px;
	}

	&--icon{
		display: inline-block;
		max-height: 100%;
		margin-right: 25px;

		@include adaptive(767){
			margin-right: 10px;
		}
	}
}
.btn_advertise1{
	position: relative;
	display: inline-flex;
	vertical-align: middle;

	a{
		position: absolute;
		top: 50%;
		left: 20%;
		transform: translateY(-50%);
		color: #fff;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 600;

		@include adaptive(767){
			font-size: 12px;
		}
	}
}

.light{
	.other_page{
		&_content{
			background: #fff;
		}
	}

	.aboutusC{
		.aboutp{
			background: #eff5fd;
			border: 2px solid #eff5fd;
			color: #333;

			p{
				color: #3f3f3f;
			}
			h5{
				color: #1657a8;
			}
		}
	}

	.contgry {
		border: 2px solid #f6f6f6;
		background: #f6f6f6 url(../images/bg-lyt-gry.png) center top repeat-x;

		p{
			color: #474841;
		}
	}
	.contactusC{
		li{
			h5{
				color: #0047a0;
			}
		}

		.contblu{
			background: #eff5fd url(images/bg-lyt-blu.png) left top repeat-x;
			border: 2px solid #eff5fd;
		}

		p{
			color: #474841;

			@include adaptive(767) {

			}
		}
		.msg{
			p{
				color: #fff;
			}
		}
	}

	.whtbox{
		h5{
			color: #1657a8;
		}
		p{
			color: #3f3f3f;
		}

		ul{
			li{
				color: #333;
			}
		}
	}
}

//Jobs
.jobs_header{
	display: flex;
	align-items: center;
	background: url("../images/job_banner.jpg");
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 80px 100px;

	@include adaptive(767) {
		padding: 25px;
	}

	.title{
		color: #c7f928;
		font-size: 42px;
		font-weight: 600;
		margin-bottom: 25px;

		@include adaptive(767) {
			font-size: 28px;
		}
	}
	p{
		color: #fff;
		max-width: 75%;
		line-height: 24px;


		@include respond('ipad_portrait'){
			max-width: 100%;
		}

		@include adaptive(767) {
			max-width: 100%;
		}
	}
}
.job_listing{
	background: rgb(12,15,45);
	background: linear-gradient(90deg, rgba(12,15,45,1) 0%, rgba(11,13,40,1) 100%, rgba(0,212,255,1) 100%);
	display: flex;
	flex-wrap: wrap;
	padding: 30px;

	@include respond('ipad_portrait'){
		padding: 15px;
	}

	@include adaptive(767) {
		padding: 15px;
	}

	.job_item{
		width: 50%;
		max-width: 50%;
		padding: 25px;

		@include respond('ipad_portrait'){
			max-width: 100%;
			width: 100%;
		}

		@include adaptive(767) {
			width: 100%;
			max-width: 100%;
			padding: 10px;
		}

		.job_item_inner{
			position: relative;
			border: 2px solid #fff;
			border-radius: 10px;
			padding: 25px 25px 85px;
			height: 100%;

			@include respond('ipad_portrait'){
				padding: 15px;
				text-align: center;
			}

			@include adaptive(767) {
				padding: 15px;
				text-align: center;
			}

			.title{
				color: #c7f928;
				display: flex;
				align-items: center;
				font-weight: 600;
				font-size: 24px;

				@include adaptive(767) {
					font-size: 18px;
				}

				&:before{
					content: ' ';
					display: block;
					width: 60px;
					height: 60px;
					background-size: contain !important;
					margin-right: 25px;

					@include respond('ipad_portrait'){
						width: 48px;
						height: 48px;
					}

					@include adaptive(767) {
						width: 48px;
						height: 48px;
					}
				}

				&.icon_gd:before{
					background: url(../images/jobs/icon_gd.png);
				}
				&.icon_fd:before{
					background: url(../images/jobs/icon_fd.png);
				}
				&.icon_translator:before{
					background: url(../images/jobs/icon_translator.png);
				}
				&.icon_qa:before{
					background: url(../images/jobs/icon_qa.png);
				}
				&.icon_pm:before{
					background: url(../images/jobs/icon_pm.png);
				}
				&.icon_mb:before{
					background: url(../images/jobs/icon_mb.png);
				}
				&.icon_seo:before{
					background: url(../images/jobs/icon_seo.png);
				}
				&.icon_bd:before{
					background: url(../images/jobs/icon_bd.png);
				}
			}
			p{
				color: #fff;
				line-height: 24px;
				margin-top: 15px;
			}
			.apply{
				position: absolute;
				left: 25px;
				bottom: 25px;
				color: #0b0d28;
				background: #c7f928;
				text-transform: uppercase;
				padding: 10px 25px;
				display: inline-block;
				border-radius: 5px;
				font-weight: 600;

				@include respond('ipad_portrait'){
					position: relative;
					left: 0;
					bottom: 0;
					margin-top: 15px;
				}

				@include adaptive(767) {
					position: relative;
					left: 0;
					bottom: 0;
					margin-top: 15px;
				}
			}
		}
	}
}
