// PAGE_CATEGORIES :: START
.categories_container{
	background: #2a2b31;
	margin-top: 15px;
	padding: 0 15px;

	&_inner{
		display: flex;
		align-content: flex-start;
		align-items: flex-start;
	}

	@include adaptive(1023) {
		margin-top: 0;
		padding-top: 0;
	}

	@include respond('mobile_landscape'){
		padding-top: 0;
	}
}

//.leftCat
.leftCat{
	display: none;
}
#sticky_category_list{
	padding-bottom: 15px;
}
.categories{
	&-container{
		padding-top: 15px;

		@include respond('max-small'){
			padding-left: 0;
		}

		h1{
			display: flex;
			align-items: center;
			color: #fff;
			padding: 0 0 10px 0;
			text-align: left;
			font-size: 24px;
			font-weight: 700;
			gap: 4px;

			@include respond('ipad'){
				font-size: 25px;
				padding: 10px 0 10px 0;
			}
			@include adaptive(767) {
				font-size: 17px;
				padding: 0 0 10px 0;
				text-align: center;
			}
		}
	}
	&-tags{
		--xh-spacers-m: 8px;
		display: flex;
		overflow: auto;
		white-space: nowrap;
		gap: 6px;
		scrollbar-width: none;
		padding-bottom: 15px;
		font-size: 13px;


		@include respond('medium'){
			display: grid;
			grid-gap: var(--xh-spacers-m) var(--xh-spacers-m);
			grid-auto-columns: calc(12.5% - var(--xh-spacers-m)* 7 / 8);
			grid-auto-flow: row;
			grid-template-columns: repeat(8, calc(12.5% - var(--xh-spacers-m)* 7 / 8));
		}

		&-item{
			position: relative;
			cursor: pointer;
			display: flex;
			align-items: center;
			text-align: center;
			color: #000;
			padding: 6px 10px 6px 10px;
			border-radius: 2px;
			background-color: #dadada;
			background-size: 20px;
			background-position: 10px center;
			background-repeat: no-repeat;

			@include respond('medium'){
				display: inline-block;
				padding: 6px 15px 6px 25px;
			}

			&:hover, &:focus{
				background-color: #f0f1f5;
				color: #000;
			}
		}
	}
}
.categories-tags-item{
	.tag{
		&-icon{
			display: inline-block;
			width: 18px;
			height: 18px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin-right: 5px;

			@include respond('medium'){
				position: absolute;
				left: 7px;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&-actions{
			background-image: url("../images/tags/icon-actions.svg");
			background-size: 18px;
		}
		&-age{
			background-image: url("../images/tags/icon-age.svg");
		}
		&-apparel{
			background-image: url("../images/tags/icon-apparel.svg?1");
		}
		&-body{
			background-image: url("../images/tags/icon-body.svg?");
		}
		&-ethnicity{
			background-image: url("../images/tags/icon-ethnicity.svg");
		}
		&-fetish{
			background-image: url("../images/tags/icon-fetish.svg");
			background-size: 18px;
		}
		&-hair{
			background-image: url("../images/tags/icon-hair.svg?");
		}
		&-live-cams{
			background-image: url("../images/tags/icon-live-cams.svg");
			background-size: 18px;
		}
		&-location{
			background-image: url("../images/tags/icon-location.svg");
			background-size: 18px;
		}
		&-orientation{
			background-image: url("../images/tags/icon-orientation.svg");
			background-size: 17px;
		}
		&-production{
			background-image: url("../images/tags/icon-production.svg?");
			background-size: 16px;
		}
		&-region{
			background-image: url("../images/tags/icon-region.svg");
			background-size: 16px;
		}
		&-scene-type{
			background-image: url("../images/tags/icon-scene-type.svg");
			background-size: 18px;
		}
		&-sex-toys{
			background-image: url("../images/tags/icon-sex-toys.svg?2");
		}
		&-scenario{
			background-image: url("../images/tags/icon-scenario.svg");
		}
	}
}

.tag-section{
	padding-top: 10px;

	&-title{
		display: flex;
		font-size: 20px;
		background: #f3f3f3;
		color: #000;
		padding: 5px 10px;
	}
	&-categories.h_scroll{
		@include adaptive(767) {
			display: grid;
			grid-auto-rows: 100px;
			grid-template-rows: 224px 224px;
			grid-auto-columns: calc(50% - 16px);
			grid-auto-flow: column;
			grid-template-columns: repeat(2, calc(50% - 16px));
			overflow: auto;
			scrollbar-width: none;

			.category_item{
				width: 100%;
				max-width: 100%;
			}
		}

		.category_item:nth-child(n + 13){
			display: none;
		}
	}
	&-more{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 7px;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		padding: 0 0 8px;
		text-align: center;

		@include adaptive(767) {
			display: none;
		}

		&:after{
			content: ' ';
			width: 0;
			height: 0;
			border-style: solid;
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
			border-top: 8px solid #555555;
			border-bottom: 0;
			margin-top: 5px;
		}
	}

	&.show_all{
		.category_item:nth-child(n + 13){
			display: inline-block;
		}
		.tag-section-more{
			display: none;
		}
	}
}

.light{

	.categories_container{
		background: #fff;
		.leftCat{

			.lcatT{
				background: #2663b0;
				background: -moz-linear-gradient(top,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				background: -webkit-linear-gradient(top,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				background: linear-gradient(to bottom,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2663b0',endColorstr='#113d74',GradientType=0);
			}

			ul{
				li{
					border-bottom: 1px solid #f5f5f5;

					a{
						color: #063877;
					}
				}
			}
		}

		h1{
			color: #333;
		}
	}
}
