// PAGE_CATEGORIES :: START
.categories_container{
	background: #2a2b31;
	margin-top: 15px;
	padding: 0 15px;

	&_inner{
		display: flex;
		align-content: flex-start;
		align-items: flex-start;
	}

	@include adaptive(1023) {
		margin-top: 0;
		padding-top: 0;
	}

	@include respond('mobile_landscape'){
		padding-top: 0;
	}
}

//.leftCat
.leftCat{
	display: none;
}
#sticky_category_list{
	padding-bottom: 15px;
}

.review-evaluation-text{
	margin: 10px 0;
    border: 1px solid #ccc;
    padding: 5px 8px 0;
}
.review-evaluation-title{
	font-weight: 600;
}
// review evaluation text
.categories{
	&-container{
		padding-top: 15px;

		@include respond('max-small'){
			padding-left: 0;
		}

		h1, .h1{
			display: flex;
			align-items: center;
			color: #fff;
			padding: 0 0 10px 0;
			text-align: left;
			font-size: 24px;
			font-weight: 700;
			gap: 4px;

			@include respond('ipad'){
				font-size: 25px;
				padding: 10px 0 10px 0;
			}
			@include adaptive(767) {
				font-size: 17px;
				padding: 0 0 10px 0;
				text-align: center;
			}
		}
	}
	&-tags{
		--xh-spacers-m: 8px;
		display: flex;
		overflow: auto;
		white-space: nowrap;
		gap: 6px;
		scrollbar-width: none;
		padding-bottom: 15px;
		font-size: 13px;


		@include respond('medium'){
			display: grid;
			grid-gap: var(--xh-spacers-m) var(--xh-spacers-m);
			grid-auto-columns: calc(12.5% - var(--xh-spacers-m)* 7 / 8);
			grid-auto-flow: row;
			grid-template-columns: repeat(8, calc(12.5% - var(--xh-spacers-m)* 7 / 8));
		}


	}
}

@include adaptive(767) {
	.category-tag-header{
		position: fixed;
		top: 120px;
		z-index: 10;
		background: #2a2b31;
		padding-top: 5px;
		padding-bottom: 5px;
		left: 5px;
		right: 5px;
	}
	.section_heading__tagline{
		font-size: 11px;
		padding-bottom: 0;
	}
	.light .category-tag-header{
		background: #fff;
	}
	.category-tag-bottom{
		margin-top: 85px;
	}
	.tag-dropdown-menu .dropdown-item{
		padding: 4px 2px 4px 8px;

		span{
			font-size: 13px;
		}
	}
}


.more-related-tags{
	.link-header{
		padding: 0;
	}
	.categories-tags-item{
		width: 100%;
	}
	.link-action{
		font-size: 14px;
	}
	@include adaptive(767) {
		.link-action{
			padding: 10px 8px;
			font-size: 0;
			width: auto;

			&:after{
				margin: 0;
			}
		}
		.categories-tags{
			padding: 5px 0;
			flex-wrap: wrap;
			gap: 5px;
		}
		li{
			width: calc(50% - 4px);
		}
		.categories-tags-item{
			justify-content: center;
			padding: 8px 10px 8px 10px;

			.tag-icon{
				position: absolute;
				left: 10px;
				top: 50%;
				margin-top: -9px;
			}
		}

	}
}

.category_tag-title{
	position: relative;

	@include adaptive(767) {
		.tags-header .categories-tags-item{
			padding: 6px 15px 6px 15px;
		}

	}
}
.tags-header{
	@include respond('medium'){
		.custom-dropdown{
			position: absolute;
			top: -48px;
			right: 0;
		}
	}
}

.tag-section{
	padding-top: 10px;

	&-title{
		display: flex;
		font-size: 20px;
		background: var(--bg-header-grey, #f3f3f3);
		color: var(--heading-color, #000) ;
		padding: 5px 10px;

		a{
			color: var(--heading-color, #000) ;
			border-bottom: 1px solid var(--heading-color, #000);
			&:hover{
				color: var(--heading-color, #000) ;
			}
		}
		
	}
	&-categories.h_scroll{
		@include adaptive(767) {
			display: grid;
			grid-auto-rows: 100px;
			grid-template-rows: auto auto;
			grid-row-gap: 5px;
			grid-auto-columns: calc(50% - 16px);
			grid-auto-flow: column;
			grid-template-columns: repeat(2, calc(50% - 16px));
			overflow: auto;
			scrollbar-width: none;

			.category_item{
				width: 100%;
				max-width: 100%;
			}
		}

		@include respond('medium'){
			.category_item:nth-child(n + 9){
				height: 0;
				overflow: hidden;
			}
		}

	}
	&-more{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--primary-color-2, #4c4c4c);
		gap: 7px;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		padding: 0 0 8px;
		text-align: center;

		@include adaptive(767) {
			display: none;
		}

		&:after{
			content: ' ';
			width: 0;
			height: 0;
			border-style: solid;
			border-right: 7px solid transparent;
			border-left: 7px solid transparent;
			border-top: 8px solid var(--primary-color-2, #4c4c4c);
			border-bottom: 0;
			margin-top: 5px;
		}
	}

	@include respond('medium'){
		&.show_all{
			.category_item:nth-child(n + 9){
				height: 0;
				overflow: visible;
			}
			.tag-section-more{
				display: none;
			}
		}
	}


}

.light{

	.categories_container{
		background: #fff;
		.leftCat{

			.lcatT{
				background: #2663b0;
				background: -moz-linear-gradient(top,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				background: -webkit-linear-gradient(top,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				background: linear-gradient(to bottom,#2663b0 0%,#1b4f90 50%,#113d74 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2663b0',endColorstr='#113d74',GradientType=0);
			}

			ul{
				li{
					border-bottom: 1px solid #f5f5f5;

					a{
						color: #063877;
					}
				}
			}
		}

		h1, .h1{
			color: #333;
		}
	}
}
