// WEBCAM :: START
.tags_container{
	.tag_item{
		margin-bottom: 15px;
		text-align: center;

		.tags-link {
			vertical-align: top;
			text-align: center;
			color: #1e559a;
			padding: 8px;
			-webkit-border-radius: 6px;
			border-radius: 6px;
			background-color: #f3f8fe;
			border: 1px solid #e5ebf2;
			-webkit-transition: color .3s,background .3s;
			-o-transition: color .3s,background .3s;
			transition: color .3s,background .3s;
			margin: 0 2px;
		}
	}
}
