// SEARCH :: START
.search_form{
	@include respond('ipad_portrait'){
		height: 54px;
	}
	@include adaptive(767) {

	}
}
.search_results_sites{
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;*/

	display: flex;
	flex-wrap: wrap;
}
.search_results_box.category__drop{
	background: #000;

	@include respond('ipad_portrait'){
		display: none;
	}
	@include adaptive(767) {
		display: none;
	}
}
.search_results_box_mobile{
	display: none;
}
.header__container-2.is-open{
	.search_results_box_mobile{
		display: block;

		/*@include adaptive(767) {

			overflow: auto;
		}*/

		@include respond('ipad_portrait'){
			position: absolute;
			left: 0;
			right: 0;
			top: 64px;
			bottom: 0;
			z-index: 2;
		}
		@include adaptive(767) {
			position: absolute;
			left: 0;
			right: 0;
			top: 64px;
			bottom: 0;
			z-index: 2;

			//height: 100vh;
			//height: calc((var(--vh, 1vh) * 100) - 64px);
			//min-height: calc((var(--vh, 1vh) * 100) - 64px);

			//height: 100vh;
			//height: calc(var(--vh, 100vh) - 64px);
			//min-height: calc(var(--vh, 100vh) - 64px);
			//
			//max-height: calc(var(--vh, 100vh) - 64px);
		}
	}
}

//.search_results
