// SEARCH :: START

.search_results_sites{
	/*display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;*/

	display: flex;
	flex-wrap: wrap;
}
.search_results{background: #fff;}
.search_results_top{display: flex; background: #0a3e83; color: #fff; align-items: center; padding: 5px 5px 5px 0;}
.search_results_top .top_results{ padding: 0 10px;}
.search_results_tags{flex: 1; overflow: hidden; white-space: nowrap; display: flex;}
.search_results_tags .search_category_item{text-decoration: none; background: #090b27; border-radius: 5px; margin: 0 5px; padding: 8px 15px; display: flex; align-items: center;}
.search_results_tags .search_category_item:before{margin-left: 0; zoom: 0.8;}
.search_results_sites .search_site_item{padding: 5px; text-align: center; width: 25%; flex: 25% 1;}
.search_results_sites .search_site_item .title{
	position: relative; color: #0a3e83; font-size: 14px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
.search_site_item .title:before{position: relative; top: 0; left: 0; border-radius: 12px;}
.search_site_item .title:after{display: none;}
.search_site_item .title span{max-width: 100%;}
.search_results_sites .search_site_item img{max-width: 100%;}

.search_site_item .site_category{background: #0a3e83; color: #fff; font-size: 12px; padding: 3px;}

.search_pagination{text-align: center; padding: 10px 0;}
.search_pagination .item{background: #e4e4e4; color: #8a8a8a; padding: 3px 8px; margin: 0 3px; display: inline-block; cursor: pointer;}
.search_pagination .item.active{background: #07113b; color: #d5f34a;}
.search_pagination .item.prev:after, .search_pagination .item.next:after {
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border: solid #000;
	border-width: 0 2px 2px 0;
}
.search_pagination .item.prev:after{
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	margin: 0 -4px 0 0;
}
.search_pagination .item.next:after {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin: 0 0 0 -4px;
}
.search_pagination .item.prev:hover:after, .search_pagination .item.next:hover:after {
	border-color: #fff;
}
