form.category(action='' method='' autocomplete='off')
	.category__left

		include _sort

	.category__middle

		.category__wrapper(search-parent-js)
			a.category__toggle(href="#")
				input(type='text' name='' placeholder='Search 1000+ Porn Sites Here...' search-js)
				button(type='submit')
					i.icon-font.icon-search

			.category__drop(search-drop-js)
				.category__drop-head
					div
						p.category__title Top Results (1257)
					div
						.category__btn-wrapper
							a.category__btn.category__btn--1(href="#")
								img(src="images/images-black-porn-sites.png" srcset='images/images-black-porn-sites@2x.png 2x' alt="")
								span Black Porn Sites
							a.category__btn.category__btn--2(href="#")
								img(src="images/images-blog.png" srcset='images/images-blog@2x.png 2x' alt="")
								span Porn Blogs
							a.category__btn.category__btn--3(href="#")
								img(src="images/images-black-porn-sites.png" srcset='images/images-black-porn-sites@2x.png 2x' alt="")
								span Black Porn Sites
							a.category__btn.category__btn--4(href="#")
								img(src="images/images-blog.png" srcset='images/images-blog@2x.png 2x' alt="")
								span Porn Blogs
							a.category__btn.category__btn--5(href="#")
								img(src="images/images-blog.png" srcset='images/images-blog@2x.png 2x' alt="")
								span Amateur Porn Sites

				.category__drop-body

					.category__list-wrapper
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-pornhub-icon.png" srcset="images/images-pornhub-icon@2x.png 2x" alt="")
									div
										p Pornhub Premium
								.category__list-body
									div
										img(src="images/images-view-pornhub-premium.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-brazzers-icon.png" srcset="images/images-brazzers-icon@2x.png 2x" alt="")
									div
										p Brazzers
								.category__list-body
									div
										img(src="images/images-view-bruzzers.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-pornhub-icon.png" srcset="images/images-pornhub-icon@2x.png 2x" alt="")
									div
										p Pornhub Premium
								.category__list-body
									div
										img(src="images/images-view-pornhub-premium.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-pornhub-icon.png" srcset="images/images-pornhub-icon@2x.png 2x" alt="")
									div
										p Pornhub Premium
								.category__list-body
									div
										img(src="images/images-view-pornhub-premium.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-brazzers-icon.png" srcset="images/images-brazzers-icon@2x.png 2x" alt="")
									div
										p Brazzers
								.category__list-body
									div
										img(src="images/images-view-bruzzers.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div
										img(src="images/images-pornhub-icon.png" srcset="images/images-pornhub-icon@2x.png 2x" alt="")
									div
										p Pornhub Premium
								.category__list-body
									div
										img(src="images/images-view-pornhub-premium.png" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--pink
										span GF
									div
										p WatchMyGF
								.category__list-body
									div
										img(src="images/images-watchmygf.jpg" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--green
										span GF
									div
										p GF Sex
								.category__list-body
									div
										img(src="images/images-gfsex.jpg" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--pink
										span GF
									div
										p WatchMyGF
								.category__list-body
									div
										img(src="images/images-watchmygf.jpg" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--pink
										span GF
									div
										p WatchMyGF
								.category__list-body
									div
										img(src="images/images-watchmygf.jpg" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--green
										span GF
									div
										p GF Sex
								.category__list-body
									div
										img(src="images/images-gfsex.jpg" alt="")
									div
										p Premium Porn
						div
							a.category__list(href="#")
								.category__list-head
									div.gf.gf--pink
										span GF
									div
										p WatchMyGF
								.category__list-body
									div
										img(src="images/images-watchmygf.jpg" alt="")
									div
										p Premium Porn

				.category__drop-footer

					a.category__load(href="#") Load More

					.category__pagination
						a.category__pagination-btn.is-active(href="#") 1
						a.category__pagination-btn(href="#") 2
						a.category__pagination-btn(href="#") 3
						a.category__pagination-btn(href="#") 4
						a.category__pagination-arrow(href="#")
							i.icon-font.icon-arrow-angle

	.category__right

		a.category__btn(href="#") Categories

		a.category__close(href="#")
			i.icon-font.icon-close
