// FOOTER :: START

footer#footer.footer

	.footer__wrapper.footer__wrapper-1
		.c-grid

			p.footer__title The best adult entertainment sites reviewed by MrPornGeek
			p.footer__desc Hey there – if you've never come to Mr. Porn Geek before, I'd like to welcome you! You may be wondering what this website is about: I'm going to be telling you all about it in this little introductory text. See, many years ago when I was using the Internet, I started to realize that Google was less than stellar when it came to giving you the best free porn sites around. Sure, they had a rough idea of what was okay and that type of thing, but since no one at Google manually checked these free porn sites – and they couldn't monetize the search terms with adverts – porn started to get very neglected as a genre. There are porn search engines which do a better job, but if you want to know about the real cream of the crop, you have to check out what an expert has to say on the issue. That's when Mr. Porn Geek was born, and since then – I've spent years and years collecting the very best links around for places that are top-notch. I'm really proud of my platform and to be honest with you, I doubt anyone has a better list out there!

			p.footer__title Why are these the top porn sites in your opinion?
			p.footer__desc That's a good question – the answer is just as easy to give you, though: I manually check out every single place that I recommend (as well as those that don't make the grade) and do a full analysis that I've also written down for you to read. See, instead of just saying 'this website looks okay on the surface, I'll list it', I go to the actual effort of checking every single nook and cranny to make sure you're getting the hottest XXX sites around. This is a no-bullshit approach and plenty of the so-called 'competitive' places don't come close to this level of service. I genuinely believe that if you want to recommend a website, you have to use it yourself for quite some time. I write down anywhere from 200 to 2,000 words on the places I go to – I'm sure you can appreciate that it takes a lot of time to do that! That's why I only bother with hubs that are actually good. Google might have millions of recommendations for you to flick through, but it doesn't sort them anywhere near as well as I do. That's what I bring to the table: the best porn sites as judged by an expert.

			p.footer__title How do you rate these top XXX sites?
			p.footer__desc I actually have a super-secret word document that I've put together over the years where I store all of my criteria that applies to most of the destinations that I check out. Think of this as being a checklist, where I consider multiple different metrics to determine whether or not a place is worth suggesting. I've got around 70 things on there now and to be honest with you, I could add more if I wanted to. These aren't just binaries though – I generally scale things related to the competition within a specific niche. Stuff like hentai and in particular, doujinshi websites are incredibly competitive. This means that you've got to have a decent alternative for anime XXX goodness for me to even think about listing you. Indian free porn sites though? Well, let's just say that those places don't really blow my mind in terms of quality! I actually have quite a few categories that are severely lacking truly perfect suggestions: the hypothetical hub I want just doesn't exist.

			p.footer__title Are there any deal-breakers that disqualify some sites?
			p.footer__desc Absolutely – in some instances, I'll still write the review, but I'll say point-blank that I don't recommend you visit since it has this one issue. A problem that springs to mind immediately is that recently, I've noticed a bit of a surge in XXX sites that have the whole 'you've got a fake virus' popup advert, which prompts people to install some stupid program they don't need that basically acts like a piece of malware itself. If your site has this, I will mention it early on in the review and tell my readers in no uncertain terms that it's unethical and not something I can ever endorse. Personally, I think the "A" porn sites should not only have to have great content, but they need to be honest and genuine to boot. You won't make it to my list of the top porn sites unless you're willing to play ball! I'll also downgrade certain websites if they don't have things like HTTPS access and slow loading pages. Objective metrics actually make up a decent chunk of my criteria – content is important, but accessing that content is a big part of the puzzle too.

			p.footer__title Can you get really good free porn sites?
			p.footer__desc Sure! Mr. Porn Geek does think that you get what you pay for though – I've yet to find a free destination that can compete with those that require you to spend a little cash in order to access their material. What's different about me is that I understand some folks just don't have the ability to pay for smut, or even that they just don't want to! That's totally fine, and I'd say that around 90% of the spots I suggest are completely free anyway. I do just want to mention that Mr. Porn Geek not only points you to good websites: I've also got a few software suggestions if you want to keep yourself safe online. Additionally, there's a blog section where I give advice on stuff like avoiding torrent website blocking by governments, browsing the Internet anonymously and downloading videos locally that you can't seem to easily grab. Mr. Porn Geek is an expert on more than just places to go for XXX entertainment, which is why I'm going to slowly build this place to become the number one location on the Internet for all things related to adult entertainment! Anyway – I'll let you go ahead and read my reviews now: thanks for being a patron and be sure to bookmark this page so you can always come back in future to find top porn sites!

			.footer__container.footer__container-1

				.logo.logo--footer
					a.logo__btn(href="#")
						img.logo__img(src="img/logo-wo-man.png" srcset="img/logo-wo-man@2x.png 2x" alt="")

				ul.footer__nav
					li.footer__nav-item
						a.footer__nav-link(href="#") Terms of Service
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") Privacy Policy
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") 2257
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") DMCA
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") About Us
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") Contact Us
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") Webmasters
					li.footer__nav-item
						span |
					li.footer__nav-item
						a.footer__nav-link(href="#") Advertising

	.footer__wrapper.footer__wrapper-2
		.c-grid

			.footer__container.footer__container-2

				.copyright
					p.copyright__text!= "Copyright 2020 MrPornGeek.com <span>-</span> The Worlds Best Porn Sites List!"

// FOOTER :: END
