// HEADER :: START

header#header.header

	.header__container.header__container-1

		.c-grid

			.header__wrapper.header__wrapper-1

				.header__col.header__col-1

					.header__toggle
						input(type='checkbox' name='' id='toggle-mode')
						label(for='toggle-mode')
							.header__toggle-left
								i.icon-font.icon-sun
							.header__toggle-right
								i.icon-font.icon-moon
							span

				.header__col.header__col-2

					include _header--category

				.header__col.header__col-3

					div

						.header__action
							a.header__action-link.header__action-link--logout(href="#") Log out
							a.header__action-link.header__action-link--admin(href="#") admin

					div

						include _lang

	.header__container.header__container-2(search-mobile-js)

		.c-grid

			.header__wrapper.header__wrapper-2

				.header__col.header__col-1

					.logo.logo--haeder
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.gif" alt="")

				.header__col.header__col-2

					include _header--view

					include _category

					p.header__update Updated on 01, May 2020

					.header__recent
						.header__recent-head
							div
								p SEE THE RECENT TRENDING SEARCHES!
							div
								i.icon-font.icon-left-arrow
						.header__recent-body
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Porn Games
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Premium Porn
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Teens
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Amateur
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Hentai
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Live Webcams
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Celebrity
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Snapchat
							a(href="#")
								i.icon-font.icon-arrow-angle
								span Free Porn

	.header__container.header__container-3

		.header__wrapper.header__wrapper-3

			.c-grid

				include _header--nav

// HEADER :: END
