ul.header__category
	li.header__category-item
		p.header__category-title MOST POPULAR:
	li.header__category-item
		a.header__category-link(href='#') PREMIUM
	li.header__category-item
		a.header__category-link(href='#') PORN
	li.header__category-item
		a.header__category-link(href='#') GAMES
	li.header__category-item
		a.header__category-link(href='#') LIVE
	li.header__category-item
		a.header__category-link(href='#') CAMS
	li.header__category-item
		a.header__category-link(href='#') TEENS
	li.header__category-item
		a.header__category-link(href='#') AMATEUR
	li.header__category-item
		a.header__category-link(href='#') VR
	li.header__category-item
		a.header__category-link(href='#') HENTAI
	li.header__category-item
		a.header__category-link(href='#') DATING
	li.header__category-item
		a.header__category-link(href='#') SNAPCHAT
	li.header__category-item
		a.header__category-link(href='#') REDDIT
