.header__view-wrapper
	.header__view(view-favorites-toggle-js)
		.header__view-left
			p VIEW YOUR FAVORITES!
			u
			span Quickly Access All Your Favorite Sites Here!

		.header__view-right
			i.icon-font.icon-arrow-angle

	.header__view-drop(view-favorites-drop-js)
		a.header__view-link(href="#")
			div
				span 1.
			div
				img(src="img/img-black-porn-sites.png" srcset='img/img-black-porn-sites@2x.png 2x' alt="")
				p Pornhub Premium
			div
				button(type='button')
					i.icon-font.icon-delete
				button(type='button')
					i.icon-font.icon-search
		a.header__view-link(href="#")
			div
				span 2.
			div
				img(src="img/img-blog.png" srcset='img/img-blog@2x.png 2x' alt="")
				p Pornhub Premium
			div
				button(type='button')
					i.icon-font.icon-delete
				button(type='button')
					i.icon-font.icon-search
		a.header__view-link(href="#")
			div
				span 3.
			div
				img(src="img/img-best-webcam-girls.png" srcset='img/img-best-webcam-girls@2x.png 2x' alt="")
				p Pornhub Premium
			div
				button(type='button')
					i.icon-font.icon-delete
				button(type='button')
					i.icon-font.icon-search
		a.header__view-link(href="#")
			div
				span 4.
			div
				img(src="img/img-best-adult-ad-networks.png" srcset='img/img-best-adult-ad-networks@2x.png 2x' alt="")
				p Pornhub Premium
			div
				button(type='button')
					i.icon-font.icon-delete
				button(type='button')
					i.icon-font.icon-search
