// HEADER :: START

header#header.header

	.header__container.header__container-1

		.c-grid

			.header__wrapper.header__wrapper-1

				.header__col.header__col-1

					.header__toggle
						input(type='checkbox' name='' id='toggle-mode')
						label(for='toggle-mode')
							.header__toggle-left
								i.icon-font.icon-sun
							.header__toggle-right
								i.icon-font.icon-moon
							span

				.header__col.header__col-2

					include _header--category

				.header__col.header__col-3

					div

						.header__action
							a.header__action-link.header__action-link--logout(href="#") Log out
							a.header__action-link.header__action-link--admin(href="#") admin

					div

						include _lang

	.header__container.header__container-2

		.c-grid

			.header__wrapper.header__wrapper-2

				.header__col.header__col-1

					.logo.logo--haeder
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.gif" alt="")

				.header__col.header__col-2

					include _header--view

					form.category(action='' method='' autocomplete='off')
						.category__left

							include _sort

						.category__middle

							.category__wrapper(search-parent-js)
								a.category__toggle(href="#")
									input(type='text' name='' placeholder='Search 1000+ Porn Sites Here...' search-js)
									button(type='submit')
										i.icon-font.icon-search

								.category__drop(search-drop-js)
									.category__drop-head
										div
											p.category__title Top Results (1257)
										div
											.category__btn-wrapper
												a.category__btn.category__btn--1(href="#")
													img(src="img/img-black-porn-sites.png" srcset='img/img-black-porn-sites@2x.png 2x' alt="")
													span Black Porn Sites
												a.category__btn.category__btn--2(href="#")
													img(src="img/img-blog.png" srcset='img/img-blog@2x.png 2x' alt="")
													span Porn Blogs
												a.category__btn.category__btn--3(href="#")
													img(src="img/img-black-porn-sites.png" srcset='img/img-black-porn-sites@2x.png 2x' alt="")
													span Black Porn Sites
												a.category__btn.category__btn--4(href="#")
													img(src="img/img-blog.png" srcset='img/img-blog@2x.png 2x' alt="")
													span Porn Blogs
												a.category__btn.category__btn--5(href="#")
													img(src="img/img-blog.png" srcset='img/img-blog@2x.png 2x' alt="")
													span Amateur Porn Sites

									.category__drop-body

										.category__list-wrapper
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-pornhub-icon.png" srcset="img/img-pornhub-icon@2x.png 2x" alt="")
														div
															p Pornhub Premium
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-brazzers-icon.png" srcset="img/img-brazzers-icon@2x.png 2x" alt="")
														div
															p Brazzers
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-pornhub-icon.png" srcset="img/img-pornhub-icon@2x.png 2x" alt="")
														div
															p Pornhub Premium
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-pornhub-icon.png" srcset="img/img-pornhub-icon@2x.png 2x" alt="")
														div
															p Pornhub Premium
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-brazzers-icon.png" srcset="img/img-brazzers-icon@2x.png 2x" alt="")
														div
															p Brazzers
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div
															img(src="img/img-pornhub-icon.png" srcset="img/img-pornhub-icon@2x.png 2x" alt="")
														div
															p Pornhub Premium
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--pink
															span GF
														div
															p WatchMyGF
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--green
															span GF
														div
															p GF Sex
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--pink
															span GF
														div
															p WatchMyGF
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--pink
															span GF
														div
															p WatchMyGF
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--green
															span GF
														div
															p GF Sex
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn
											div
												a.category__list(href="#")
													.category__list-head
														div.gf.gf--pink
															span GF
														div
															p WatchMyGF
													.category__list-body
														div
															img(src="img/img-pornhub-preview.jpg" srcset="img/img-pornhub-preview@2x.jpg 2x" alt="")
														div
															p Premium Porn

									.category__drop-footer
										.category__pagination
											a.category__pagination-btn.is-active(href="#") 1
											a.category__pagination-btn(href="#") 2
											a.category__pagination-btn(href="#") 3
											a.category__pagination-btn(href="#") 4
											a.category__pagination-arrow(href="#")
												i.icon-font.icon-arrow-angle

						.category__right

							a.category__btn(href="#") Categories

					p.header__update Updated on 01, May 2020

	.header__container.header__container-3

		.header__wrapper.header__wrapper-3

			.c-grid

				include _header--nav

// HEADER :: END
