// HEADER :: START

header#header.header

	.header__container.header__container-1

		.c-grid

			.header__wrapper.header__wrapper-1

				.header__col.header__col-1

					.header__toggle
						input(type='checkbox' name='' id='toggle-mode')
						label(for='toggle-mode')
							.header__toggle-left
								i.icon-font.icon-sun
							.header__toggle-right
								i.icon-font.icon-moon
							span

				.header__col.header__col-2

					ul.header__category
						li.header__category-item
							p.header__category-title MOST POPULAR:
						li.header__category-item
							a.header__category-link(href='#') PREMIUM
						li.header__category-item
							a.header__category-link(href='#') PORN
						li.header__category-item
							a.header__category-link(href='#') GAMES
						li.header__category-item
							a.header__category-link(href='#') LIVE
						li.header__category-item
							a.header__category-link(href='#') CAMS
						li.header__category-item
							a.header__category-link(href='#') TEENS
						li.header__category-item
							a.header__category-link(href='#') AMATEUR
						li.header__category-item
							a.header__category-link(href='#') VR
						li.header__category-item
							a.header__category-link(href='#') HENTAI
						li.header__category-item
							a.header__category-link(href='#') DATING
						li.header__category-item
							a.header__category-link(href='#') SNAPCHAT
						li.header__category-item
							a.header__category-link(href='#') REDDIT

				.header__col.header__col-3

					div

						.header__action
							a.header__action-link.header__action-link--logout(href="#") Log out
							a.header__action-link.header__action-link--admin(href="#") admin

					div

						.lang
							a.lang__toggle(href="#")
								+iconSVG('uk')
								span EN
								i.icon-font.icon-arrow-angle

							.lang__drop
								.lang__drop-col.lang__drop-col-1
									a.lang__drop-link(href="#")
										+iconSVG('uk')
										span English
									a.lang__drop-link(href="#")
										+iconSVG('france')
										span France
									a.lang__drop-link(href="#")
										+iconSVG('china')
										span China
									a.lang__drop-link(href="#")
										+iconSVG('germany')
										span Germany
								.lang__drop-col.lang__drop-col-2
									a.lang__drop-link(href="#")
										+iconSVG('norway')
										span Norway
									a.lang__drop-link(href="#")
										+iconSVG('sweden')
										span Sweden
									a.lang__drop-link(href="#")
										+iconSVG('czech-republic')
										span Czech Republic

	.header__container.header__container-2

		.c-grid

			.header__wrapper.header__wrapper-2

				.header__col.header__col-1

					.logo.logo--haeder
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.gif" alt="")

				.header__col.header__col-2

					.header__view
						div
							p VIEW YOUR FAVORITES!
							u
							span Quickly Access All Your Favorite Sites Here!

						div
							i.icon-font.icon-arrow-angle

					form.category(action='' method='' autocomplete='off')
						.category__left

							.sort
								a.sort__toggle(href="#")
									i.icon-font.icon-left-arrow
									p
										span A
										span Z
								.sort__drop

						.category__middle

							.category__wrapper
								a.category__toggle(href="#")
									input(type='text' name='' placeholder='Search 1000+ Porn Sites Here...')
									button(type='submit')
										i.icon-font.icon-search

						.category__right

							a.category__btn(href="#") Categories

					p.header__update Updated on 01, May 2020

	.header__container.header__container-3

		.header__wrapper.header__wrapper-3

			.c-grid

				ul.header__nav
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-home
							span Home
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-blog
							span Blog
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-videos
							span Videos
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-pornstars
							span Pornstars
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-porncoupons
							span Porn Coupons
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-porngames
							span Porn Games
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-meetfuck
							span Meet & Fuck
					li.header__nav-item.header__nav-item--saparator
						span.header__nav-separator
					li.header__nav-item
						a.header__nav-link(href="#")
							i.icon-png.header-nav-livesex
							span Live sex

// HEADER :: END
