// HEADER :: START

header#header.header

	.header__container.header__container-1

		.c-grid

			.header__wrapper.header__wrapper-1

				.header__col.header__col-1

					.header__toggle
						input(type='checkbox' name='' id='toggle-mode')
						label(for='toggle-mode')
							.header__toggle-left
								i.icon-font.icon-sun
							.header__toggle-right
								i.icon-font.icon-moon
							span

				.header__col.header__col-2

					include _header--category

				.header__col.header__col-3

					div

						.header__action
							a.header__action-link.header__action-link--logout(href="#") Log out
							a.header__action-link.header__action-link--admin(href="#") admin

					div

						include _lang

	.header__container.header__container-2

		.c-grid

			.header__wrapper.header__wrapper-2

				.header__col.header__col-1

					.logo.logo--haeder
						a.logo__btn(href="#")
							img.logo__img(src="img/logo.gif" alt="")

				.header__col.header__col-2

					include _header--view

					form.category(action='' method='' autocomplete='off')
						.category__left

							.sort
								a.sort__toggle(href="#")
									i.icon-font.icon-left-arrow
									p
										span A
										span Z
								.sort__drop

						.category__middle

							.category__wrapper
								a.category__toggle(href="#")
									input(type='text' name='' placeholder='Search 1000+ Porn Sites Here...')
									button(type='submit')
										i.icon-font.icon-search

						.category__right

							a.category__btn(href="#") Categories

					p.header__update Updated on 01, May 2020

	.header__container.header__container-3

		.header__wrapper.header__wrapper-3

			.c-grid

				include _header--nav

// HEADER :: END
