.lang
	a.lang__toggle(href="#")
		u.lang__flag.lang__flag--en
		span EN
		i.icon-font.icon-arrow-angle

	.lang__drop
		.lang__drop-col.lang__drop-col-1
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--en
				span English
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--cs
				span Čeština
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--it
				span Italiano
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--es
				span Español
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--ru
				span Русский
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--ja
				span 日本語
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--pt
				span Português
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--no
				span Norsk
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--
				span isiZulu
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--hu
				span Magyar
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--zh
				span 繁體中文

		.lang__drop-col.lang__drop-col-2
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--de
				span Deutsch
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--fr
				span Français
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--sv
				span Svenska
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--nl
				span Nederlands
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--th
				span ไทย
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--fi
				span Suomi
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--da
				span Dansk
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--ms
				span Melayu
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--bg
				span Български
			a.lang__drop-link(href="#")
				u.lang__flag.lang__flag--hi
				span मानक हिन्दी
