.lang
	a.lang__toggle(href="#")
		+iconSVG('uk')
		span EN
		i.icon-font.icon-arrow-angle

	.lang__drop
		.lang__drop-col.lang__drop-col-1
			a.lang__drop-link(href="#")
				+iconSVG('uk')
				span English
			a.lang__drop-link(href="#")
				+iconSVG('france')
				span France
			a.lang__drop-link(href="#")
				+iconSVG('china')
				span China
			a.lang__drop-link(href="#")
				+iconSVG('germany')
				span Germany
		.lang__drop-col.lang__drop-col-2
			a.lang__drop-link(href="#")
				+iconSVG('norway')
				span Norway
			a.lang__drop-link(href="#")
				+iconSVG('sweden')
				span Sweden
			a.lang__drop-link(href="#")
				+iconSVG('czech-republic')
				span Czech Republic
