// SECTION :: START

section#pre-header.pre-header
	.pre-header__wrapper.pre-header__wrapper-1
		.pre-header__wrapper-left

			+hamburger()

		.pre-header__wrapper-middle

			.logo.logo--pre-haeder
				a.logo__btn(href="#")
					img.logo__img(src="img/logo-mob.png" alt="")

			p.pre-header__title The Best Porn Sites & Reviews Sorted By Quality!

		.pre-header__wrapper-right

			.pre-header__hamburger
				.pre-header__hamburger-inner
					i.icon-font.icon-search

	.pre-header__wrapper.pre-header__wrapper-2
		.pre-header__wrapper-left
			a.pre-header__link(href="#") LIVE SEX
		.pre-header__wrapper-middle
			a.pre-header__link(href="#") MEET & FUCK
		.pre-header__wrapper-right
			a.pre-header__link(href="#") PORN GAMES

	.pre-header__mobile(mobile-block-js)
		div

			.pre-header__mobile-top
				div

					.header__toggle
						input(type='checkbox' name='' id='toggle-mode')
						label(for='toggle-mode')
							.header__toggle-left
								i.icon-font.icon-sun
							.header__toggle-right
								i.icon-font.icon-moon
							span

				div

					.header__action
						a.header__action-link.header__action-link--logout(href="#") Log out
						a.header__action-link.header__action-link--admin(href="#") admin

					include _lang

				div

					include _header--category


			.pre-header__mobile-bottom

				include _header--nav

// SECTION :: END
