ul.header__nav
	li.header__nav-item
		a.header__nav-link(href="#")
			div
				i.icon-png.header-nav-info
			div
				span About Us
	li.header__nav-item
		a.header__nav-link(href="#")
			div
				i.icon-png.header-nav-email
			div
				span Contact Us
	li.header__nav-item
		a.header__nav-link(href="#")
			div
				i.icon-png.header-nav-megaphone
			div
				span Advertising
