// SECTION :: START

section#pre-header.pre-header
	.pre-header__wrapper.pre-header__wrapper-1
		.pre-header__wrapper-left

			+hamburger()

		.pre-header__wrapper-middle

			.logo.logo--pre-haeder
				a.logo__btn(href="#")
					img.logo__img(src="img/logo-mob.png" alt="")

			p.pre-header__title The Best Porn Sites & Reviews Sorted By Quality!

		.pre-header__wrapper-right

			.pre-header__hamburger
				.pre-header__hamburger-inner
					i.icon-font.icon-search

	.pre-header__wrapper.pre-header__wrapper-2
		.pre-header__wrapper-left
			a.pre-header__link(href="#") LIVE SEX
		.pre-header__wrapper-middle
			a.pre-header__link(href="#") MEET & FUCK
		.pre-header__wrapper-right
			a.pre-header__link(href="#") PORN GAMES

	.pre-header__mobile(mobile-block-js)
		div

			.pre-header__mobile-top
				div
					a.pre-header__signin(href="#")
						i.icon-font.icon-enter
						span Sign In
				div
					a.pre-header__signup(href="#")
						i.icon-font.icon-key
						span Sign Up

			.pre-header__mobile-middle
				div
					p.pre-header__heading
						i
						span Main
				div
					include _lang

			.pre-header__mobile-bottom

				include _pre-header--nav

			.pre-header__mobile-middle
				div
					p.pre-header__heading
						i
						span Connect With Us
				div

			.pre-header__mobile-bottom

				include _pre-header--nav-connect


// SECTION :: END
