.deal{

	@include respond('medium'){
		&-list{
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 8px 0;
		}
	}
	&-row{
		padding: 8px 15px;

		@include adaptive(767) {
			padding: 0;
			border: 1px solid #ccc;
			margin-bottom: 5px;
		}

		&-link{
			position: relative;
			padding-right: 10px;
			align-items: center;
			color: #000;

			@include respond('medium'){
				display: flex;
				gap: 15px;
				transition: transform .2s cubic-bezier(.55,0,.1,1);


				&:before{
					content: attr(data-order);
					font-variant-numeric: tabular-nums;
					width: 16px;
					margin-inline-start: 16px;
					font-size: 1.125rem;
					font-weight: 600;
				}
			}

			@include adaptive(767) {
				display: grid;
				grid-template-columns: 30% 20% 50%;
				gap: 0;
				padding: 0;
				align-items: stretch;

				&:before{
					display: block;
					content: ' ';
					position: absolute;
					left: 50%;
					top: 50%;
					width: 0px;
					height: 0px;
					border-style: solid;
					border-width: 10px 0 10px 17.3px;
					border-color: transparent transparent transparent #fff;
					transform: rotate(0deg) translateY(-50%);
					z-index: 2;
				}

				&:after{
					background: #f3f3f3;
					content: ' ';
					grid-area: 1 / 3 / 3 / 3;
					z-index: 1;
				}
			}

			&:hover, &:focus{
				color: #000;
			}
			&:hover{
				transform: translateY(-2px);
				box-shadow: 0 2px 6px #0003;
			}
		}

		&-image{
			text-align: center;
			width: 160px;

			@include adaptive(767) {
				width: auto;
				grid-area: 1 / 1 / 2 / 3;
				text-align: center;
				padding: 6px 15px;
			}
			.thumb{
				padding-top: 55%;
				width: 100%;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;

				@include adaptive(767) {
					padding-top: 40%;
				}
			}
			img{
				max-height: 80px;
				max-width: 170px;
			}
		}
		&-rating{
			display: flex;
			grid-area: 2 / 1 / 3 / 2;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 4px;
			width: 12%;

			@include adaptive(767) {
				width: auto;
			}
		}
		&-score{
			display: flex;
			text-align: center;
			justify-content: center;
			align-items: center;
			width: 15%;

			@include adaptive(767) {
				width: auto;
				grid-area: 2 / 2 / 3 / 3;

			}


			@include respond('medium'){
				&-inner{
					padding: 5px 15px;
				}
			}
			&-number{
				font-size: 30px;
				font-weight: 600;
				line-height: 1.1;

				@include adaptive(767) {
					color: #000;
					font-size: 22px;
					font-weight: 500;
				}
			}
		}
		&-rate{
			display: flex;
			flex-direction: column;
			text-align: center;
			flex: 1;
			z-index: 2;

			@include adaptive(767) {
				flex-direction: column-reverse;
				width: auto;
				grid-area: 1 / 3 / 2 / 3;
				padding-bottom: 20px;
				padding-top: 10px;
			}

			&-price{
				font-size: 18px;
				font-weight: 500;

				@include adaptive(767) {
					font-size: 16px;
					font-weight: 400;
				}
			}
			&-discount{
				color: #288767;
				font-size: 14px;

				@include adaptive(767) {
					font-size: 16px;
				}
			}
		}

		&-stat{
			margin-top: 3px;
			font-size: 12px;

			@include adaptive(767) {
				width: auto;
				grid-area: 2 / 2 / 3 / 3;
				font-size: 12px;
				text-align: center;
			}
		}
		&-actions{
			text-align: right;
			z-index: 2;
			width: 18%;

			@include adaptive(767) {
				display: flex;
				flex-direction: column-reverse;
				width: auto;
				grid-area: 2 / 3 / 3 / 3;
				margin: 0 auto;
				padding-bottom: 8px;
			}

			&-inner{
				display: inline-block;
				text-align: center;
			}
		}
		&-action{
			display: inline-block;
			background: #0e478d;
			color: #fff;
			padding: 6px 15px;

			&:hover, &:focus{
				color: #fff;
			}
		}
	}
}
