.deal{

	@include respond('medium'){
		&-list{
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 8px 0;
		}
	}
	&-row{
		display: flex;
		gap: 15px;
		padding: 8px 15px;
		align-items: center;

		@include adaptive(767) {
			gap: 4px;
			padding: 5px 0;
			align-items: stretch;
		}

		&-left{
			width: 35%;
			display: flex;

			@include adaptive(767) {
				width: 100%;
				background: #ccc;
				grid-area: 1 / 1 / 2 / 2;
				display: grid;
				grid-template-columns: 60% 40%;
				padding: 8px 0;
			}
		}
		&-right{
			width: 65%;
			display: flex;
			align-items: center;
			gap: 10px;

			@include adaptive(767) {
				flex-direction: column;
				width: 100%;
				background: #eee;
				padding: 10px;
			}
		}

		&-index{
			flex: 0 0 50px;
			text-align: right;
			font-weight: 500;

			@include adaptive(767) {
				display: none;
			}
		}

		&-image{
			font-size: 0;
			width: 60%;
			text-align: center;

			@include adaptive(767) {
				width: auto;
				grid-area: 1 / 1 / 2 / 3;
				text-align: center;
			}
			img{
				height: 80px;
			}
		}
		&-score{
			display: flex;
			width: 40%;
			text-align: center;
			justify-content: center;
			align-items: center;

			@include adaptive(767) {
				width: auto;
				grid-area: 2 / 2 / 4 / 3;

			}

			&-inner{
				background: #42011e;
				color: #929493;
				padding: 5px 15px;

				@include adaptive(767) {
					background: transparent;
					color: #000;
					padding: 0;
				}

			}
			&-number{
				font-size: 30px;
				font-weight: 600;
				color: #fff;
				line-height: 1.1;

				@include adaptive(767) {
					color: #000;
				}
			}
		}
		&-rate{
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 45%;

			@include adaptive(767) {
				flex-direction: column-reverse;
				width: auto;
				grid-area: 1 / 2 / 2 / 3;
			}

			&-price{
				font-size: 18px;
				font-weight: 500;

				@include adaptive(767) {
					font-size: 16px;
				}
			}
			&-discount{
				color: #288767;
				font-size: 14px;
				text-decoration: line-through;

				@include adaptive(767) {
					font-size: 13px;
				}
			}
		}

		&-stat{
			width: 30%;
			text-align: center;

			@include adaptive(767) {
				width: auto;
				grid-area: 2 / 2 / 3 / 3;
			}
		}
		&-actions{
			flex: 1;
			text-align: right;

			@include adaptive(767) {
				width: auto;
				grid-area: 3 / 2 / 4 / 3;
				margin: 0 auto;
			}

		}
		&-action{
			display: inline-block;
		}
	}
}
