// SECTION :: START

.list {
	padding-top: 25px;
	padding-bottom: 25px;

	&__box {
		&-wrapper {
			display: flex;
			flex-direction: column;
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-body {

		}
	}
}

// SECTION :: END
