&__arrow {
	z-index: 10;
	position: absolute;
	top: 0;
	width: 75px;
	height: calc(100% - 40px);
	@include transition(opacity, visibility);

	.is-open & {
		height: 100%;
	}

	&.swiper-button-disabled {
		opacity: 0;
		visibility: hidden;
		@include transition(opacity, visibility);
	}

	&--prev {
		left: 0;
		background: linear-gradient(to left, rgba(8,9,21,0) 0%,rgba(8,9,21,1) 100%);

		.list__arrow-box {
			left: 0;
		}
	}

	&--next {
		right: 0;
		background: linear-gradient(to right, rgba(8,9,21,0) 0%,rgba(8,9,21,1) 100%);

		.list__arrow-box {
			right: 0;

			.icon-font {
				transform: scaleX(-1);
			}
		}
	}

	&-box {
		z-index: 11;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 51px;
		height: 98px;
		background-color: rgba(#fff, 0.05);

		.icon-font {
			color: #7b7b79;
			font-size: 24px;
		}
	}
}
