&__specification {
	display: none;
	//display: flex;
	position: relative;
	height: 322px;
	border-width: 2px;
	border-color: rgb(125, 132, 142);
	border-style: solid;
	border-radius: 5px;
	background-color: rgb(0, 74, 172);
	box-shadow: 1.047px 19.973px 43px 0px rgba(8, 9, 21, 0.3);
	@include adaptive(1023) {
		opacity: 0;
		visibility: hidden;
		transform: scale(0.5);
		overflow: hidden;
		z-index: 1555;
		position: fixed;
		top: 0;
		left: 0;
		display: flex !important;
		width: 100vw;
		min-height: 100%;
		border: none;
		border-radius: 0;
		background-color: #030308;
		transform-origin: center;
		@include transition(opacity, visibility, transform);

		&.is-open {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			@include transition(opacity, visibility, transform);
		}

		.is-mobile & {
			@media screen and (orientation: landscape) {
				> div {
					overflow-y: auto;
					flex-direction: column;
				}

				.list__specification-header {
					min-height: 70px;
				}

				.list__specification-right {
					min-height: 200px !important;
				}

				.list__specification-more {
					min-height: 350px;
				}
			}
		}
	}

	> div {
		overflow-y: auto;
		display: flex;
		width: 100%;
		height: 100%;
		@include adaptive(1023) {
			flex-direction: column;
		}
	}

	&.is-open {
		display: flex;
	}

	&.list__specification--video {
		.list__specification-right {
			> div {
				&:before {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 30%;
					height: 100%;
					background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
					@include adaptive(1023) {
						background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
					}
				}

				&:after {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%);
					@include adaptive(1023) {
						left: auto;
						right: 0;
						width: 30%;
						background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
					}
				}
			}
		}
	}

	&.list__specification--banner {
		.list__specification-right {
			> div {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px;
				@include adaptive(1279) {
					padding: 40px;
				}
				@include adaptive(1023) {
					padding: 15px 20px;
				}

				&:before {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
				}

				&:after {
					content: '';
					z-index: 1;
					opacity: 0.3;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-image: url('../img/img-list-spec-curve@2x.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 175%;
				}

				img {
					display: block;
					max-width: 100%;
					height: auto;
					margin-left: auto;
					margin-right: auto;
					max-height: 100%;
				}
			}
		}
	}

	&-wrapper {
		z-index: 90;
		display: flex;
		flex-direction: column;
		position: relative;
		@include adaptive(1023) {
			z-index: 1550;
		}
	}

	&-left,
	&-right {
		height: 100%;
		@include adaptive(1023) {
			height: auto;
		}
	}

	&-left {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 650px;
		padding: 20px 60px;
		background-color: #151414;
		clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
		@include adaptive(1279) {
			width: 50%;
			padding: 20px 40px 20px 20px;
		}
		@include adaptive(1023) {
			order: 3;
			width: 100%;
			clip-path: unset;
			padding: 20px;
			min-height: 200px;
			justify-content: flex-start;

			> div {
				width: 100%;
			}

			.list__specification-logo {
				display: none;
			}
		}
		@include adaptive(767) {
			padding: 10px;
		}
	}

	&-right {
		z-index: 1;
		position: relative;
		width: 100%;
		max-width: calc(100% - 650px);
		@include adaptive(1279) {
			max-width: 50%;
		}
		@include adaptive(1023) {
			order: 2;
			max-width: 100%;
			height: 300px !important;
			min-height: 300px !important;
			background-color: #004aac;
		}
		@include adaptive(767) {
			height: 200px !important;
			min-height: 200px !important;
		}

		> div {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: -10%;
			width: calc(100% + 10%);
			height: 100%;
			@include adaptive(1023) {
				left: 0;
				width: 100%;
			}
		}

		video {
			@extend %imageResCoverAbs;
		}
	}

	&-close {
		z-index: 100;
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		@include adaptive(1023) {
			display: none;
		}
		@include adaptive(767) {
			z-index: 1600;
			top: 50%;
			transform: translateY(-50%);
		}

		.icon-font {
			color: #ffffff;
			font-size: 18px;
		}
	}

	&-header {
		order: 1;
		position: relative;
		display: none;
		align-items: center;
		justify-content: center;
		height: 70px;
		padding: 5px 40px;
		@include adaptive(1023) {
			display: flex;
			min-height: 70px;
		}

		.list__specification-logo {
			max-width: 100%;
			max-height: 100%;
			margin-bottom: 0;
		}

		.list__specification-close {
			display: none;
			@include adaptive(1023) {
				display: flex;
			}
		}
	}

	&-logo {
		display: block;
		max-width: 125px;
		height: auto;
		margin-bottom: 10px;
	}

	&-action {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 15px;

		> div {
			@include transition(opacity, width, visibility, margin);
			@include adaptive(1023) {
				&:nth-of-type(1),
				&:nth-of-type(2) {
					width: 50%;
					padding-bottom: 10px;
				}

				&:nth-of-type(1) {
					padding-right: 5px;
				}

				&:nth-of-type(2) {
					padding-left: 5px;
				}

				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(6),
				&:nth-of-type(7) {
					width: 25% !important;
				}
			}

			&.list__specification-action-circle {
				width: 46px;
				@include adaptive(1279) {
					width: 40px;

					.c-poppertext {
						display: none;
					}
				}
				@include adaptive(1023) {
					width: 30px;
				}
			}

			&.list__specification-action-desc {
				display: none;
				@include adaptive(1023) {
					display: flex;
					padding-bottom: 10px;

					p {
						color: #6d6d78;

						a {
							font-size: 10px;
							text-transform: uppercase;
							color: #2871ca;
						}
					}
				}
			}

			&.list__specification-action-skip {
				display: none;
				@include adaptive(1023) {
					display: flex;
				}
			}

			&.is-hide {
				opacity: 0;
				visibility: hidden;
				width: 0;
				margin: 0 !important;
				@include transition(opacity, width, visibility, margin);
				@include adaptive(1023) {
					width: 0 !important;
				}
			}

			&:not(:last-of-type) {
				margin-right: 10px;
				@include adaptive(1279) {
					margin-right: 5px;
				}
				@include adaptive(1023) {
					margin-right: 0;
				}
			}
		}
	}

	&-visit,
	&-read {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 150px;
		height: 48px;
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		@include adaptive(1279) {
			min-width: 100px;
			height: 40px;
			font-size: 12px;
		}
		@include adaptive(1023) {
			min-width: 150px;
			height: 48px;
			font-size: 15px;
		}
	}

	&-visit {
		border-radius: 5px;
		border: 2px solid rgb(0, 74, 172);
		background-color: rgb(0, 74, 172);
		@include transition(background-color);

		&:hover {
			background-color: transparent;
			@include transition(background-color);
		}
	}

	&-read {
		border-width: 2px;
		border-color: rgb(197, 240, 21);
		border-style: solid;
		border-radius: 5px;
		@include transition(color, background-color);

		&:hover {
			background-color: rgb(197, 240, 21);
			color: #222222;
			@include transition(color, background-color);
		}
	}

	&-circle {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 46px;
		height: 46px;
		border-width: 2px;
		border-color: rgb(206, 206, 206);
		border-style: solid;
		border-radius: 50%;
		transition: all 0.4s ease-in-out;
		@include adaptive(1279) {
			width: 40px;
			height: 40px;
		}
		@include adaptive(1023) {
			flex-direction: column;
			width: 100%;
			height: 50px;
			border-color: transparent;
			border-radius: 0;
		}

		&:after {
			content: '';
			z-index: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 50%;
			top: 50%;
			width: calc(100% + 30px);
			border-radius: 50%;
			padding: calc(40% + 30px) 0;
			background: radial-gradient(ellipse at center, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
			transform: translateX(-50%) translateY(-50%) scale(0);
			animation-fill-mode: both;
			animation-duration: 0.45s;
			animation-timing-function: ease-in-out;
		}

		&:hover {
			background-color: rgba(#000, 0.85);
			transform: scale(1.05);
			transition: all 0.4s ease-in-out;
			@include adaptive(1023) {
				background-color: transparent;
				transform: scale(1);
			}
		}

		&.is-active {
			border-color: rgb(197, 240, 21);
			transition: all 0.4s ease-in-out;
			@include adaptive(1023) {
				border-color: transparent;
			}

			&:after {
				animation-name: flashBlinking;
				@include adaptive(1023) {
					animation: unset;
				}
			}

			& + .c-poppertext {
				> u {
					&:nth-of-type(1) {
						display: none;
					}
					&:nth-of-type(2) {
						display: block;
					}
				}
			}

			.icon-font {
				color: rgb(197, 240, 21);
				transition: all 0.4s ease-in-out;
			}
		}

		.icon-font {
			color: #ffffff;
			font-size: 24px;
			transition: all 0.4s ease-in-out;
			@include adaptive(1279) {
				font-size: 20px;
			}
			@include adaptive(1023) {
				font-size: 26px;
			}
		}

		span {
			display: none;
			padding-top: 3px;
			text-transform: uppercase;
			font-size: 8px;
			color: #ffffff;
			@include adaptive(1023) {
				display: flex;
			}
		}
	}

	&-like {
		.icon-font {
			transform: scaleX(-1);
		}
	}

	&-dislike {
		.icon-font {
			transform: scale(-1);
		}
	}

	&-favorites {
		&.is-active {
			.icon-font {
				transition: all 0.4s ease-in-out;

				&.icon-star-fill {
					opacity: 0;
					visibility: hidden;
				}
				&.icon-star {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.icon-font {
			transition: all 0.4s ease-in-out;

			&.icon-star {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				@include adaptive(1023) {
					top: 3px;
				}
			}
		}
	}

	&-desc {
		width: 100%;
		max-width: 460px;
		color: #8e8c8c;
		font-size: 14px;
		@include adaptive(1023) {
			display: none;
		}
	}

	&-play {
		z-index: 20;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 154px;
		height: 154px;
		border-radius: 50%;
		background-color: rgba(#343434, 0.43);
		@include transition(transform, opacity, visibility);
		@include adaptive(1023) {
			width: 115px;
			height: 115px;
		}

		&:hover {
			transform: translate(-50%, -50%) scale(0.8);
			@include transition(transform 0.55s);
		}

		&.is-active {
			opacity: 0;
			visibility: hidden;
			@include transition(opacity, visibility);
		}

		.icon-font {
			position: relative;
			left: 5px;
			color: #ffffff;
			font-size: 57px;
			@include adaptive(1023) {
				font-size: 45px;
			}
		}
	}

	&-pause {
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: 10px;
		right: 10px;
		display: flex;
		@include transition(opacity, visibility);

		&.is-active {
			opacity: 1;
			visibility: visible;
			@include transition(opacity, visibility);
		}

		.icon-font {
			color: #ffffff;
			font-size: 18px;
		}
	}

	&-more {
		display: none;
		order: 4;
		flex-direction: column;
		padding: 10px 20px 20px;
		flex: 1;
		min-height: 1px;
		max-height: 100%;
		@include adaptive(1023) {
			display: flex;
		}
		@include adaptive(767) {
			min-height: 320px;
			padding: 10px;
		}

		> div {
			&:nth-of-type(1) {
				display: flex;
				height: 50px;
				padding-bottom: 20px;

				p {
					color: #ffffff;
					font-size: 18px;
					font-weight: bold;
					border-bottom: 2px solid rgb(197, 240, 21);
				}
			}
			&:nth-of-type(2) {
				display: flex;
				flex-wrap: wrap;
				height: 100%;
			}
		}

		.list__box {
			z-index: -1;
			position: relative;
			top: 0;
			left: 0;
			transform: unset;
			width: 100% !important;
			max-width: calc(100% / 3) !important;
			height: calc(100% / 2) !important;
			padding: 30px;
			@include adaptive(767) {
				padding: 15px;
			}
		}
	}
}
