&__specification, &__snapshot {
	//display: none;
	//display: flex;
	position: relative;
	/*visibility: hidden;
	overflow: hidden;*/
	opacity: 1;
	/*border-width: 2px;
	border-color: rgb(125, 132, 142);
	border-style: solid;*/
	border-radius: 5px;
	background-color: rgb(0, 74, 172);
	box-shadow: 1.047px 19.973px 43px 0px rgba(8, 9, 21, 0.3);



	transition: all 0.6s ease-in;

	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}

	@include respond('desktop'){
		//position: absolute;
		//width: 90%;
		//width: 400px;
		//height: 100px;
		//left: 50%;
		//transform: translateX(-50%);

		//animation-name: zoomBannerBox;
		//animation-duration: 0.8s;
	}

	.list__specification__inner{
		height: 360px;
		transition: all 0.6s ease-in;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		border: 3px solid #7d848e;

		@include adaptive(1449.98){
			height: auto;
		}

		@include adaptive(767) {
			border: none;
		}
	}

	&.is-open {
		.list__specification__inner{
			height: 322px;

			@media screen and (min-width: 1450px) {
				height: 360px;
			}
			@include adaptive(1330){
				height: 300px;
				overflow: hidden;
			}
			@include adaptive(767) {
				height: auto;
				overflow: visible;
			}
		}
	}
	//@include adaptive(1023) {
	@include adaptive(767) {
		/*opacity: 0;
		visibility: hidden;*/
		opacity: 1;
		transform: scale(1);
		overflow: hidden;
		z-index: 1555;
		position: fixed;
		top: 0;
		left: 0;
		display: flex !important;
		width: 100%;
		//height: auto;
		min-height: 100%;
		border: none;
		border-radius: 0;
		background-color: #030308;
		transform-origin: center;

		height: 100vh;
		overflow: auto;

		@include transition(opacity, visibility, transform);

		@include adaptive(767) {
			opacity: 0;
			transform: scale(0.5);
			visibility: hidden;
		}


		&.is-open {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			@include transition(opacity, visibility, transform);
		}
		&.zoom_box.is-open{
			opacity: 0.5;
			transform: scale(0.5);
			visibility: hidden;
			transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
		}
		&.skip{
			animation-name: skipMobile;
			animation-duration: 300ms;
		}

		&.is-snapshot {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			z-index: 1550;
		}

		.is-mobile & {
			@media screen and (orientation: landscape) {
				> div {
					overflow-y: auto;
					flex-direction: column;
				}

				.list__specification-header {
					min-height: 70px;
				}

				.list__specification-right {
					min-height: 200px !important;
				}

				.list__specification-more {
					min-height: 350px;
				}
			}
		}
	}

	@include adaptive(767) {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		min-height: calc(var(--vh, 1vh) * 100);
		overflow: auto;
	}

	> div {
		/*overflow-y: auto;*/
		display: flex;
		width: 100%;
		/*height: 100%;*/
		@include adaptive(767) {
			flex-direction: column;

			/*min-height: 100%;*/
			height: auto;
		}
	}

	&.is-open {
		display: block;
		visibility: visible;
		opacity: 1;

		@include respond('desktop'){
			width: 100%;
			height: 100%;
		}
	}

	&.list__specification--video {
		.list__specification-right {
			> div {
				&:before {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 30%;
					height: 100%;
					background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
					@include adaptive(1023) {
						background: linear-gradient(to left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
					}
				}

				&:after {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(to left, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%);
					@include adaptive(1023) {
						left: auto;
						right: 0;
						width: 30%;
						background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
					}
				}
			}
		}
	}

	&.list__specification--banner {
		.list__specification-right {
			> div {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 15px;
				@include adaptive(1279) {
					padding: 40px;
				}
				@include adaptive(1023) {
					padding: 15px 20px;
				}

				&:before {
					content: '';
					z-index: 2;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
				}

				&:after {
					content: '';
					z-index: 1;
					opacity: 0.3;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					/*background-image: url('../images/img-list-spec-curve@2x.png');*/
					background-position: center;
					background-repeat: no-repeat;
					background-size: 175%;
				}
				img{
					max-height: 95%;
					max-width: 95%;
					margin-left: 60px;

					@include adaptive(1449.98){
						max-width: 80%;
						max-height: 78%;
					}

					@include respond('ipad_portrait'){
						margin-left: 0;
						max-height: 100%;
					}

					@include adaptive(767) {
						margin-left: 0;
						max-height: 100%;
					}
				}

				/*img {
					display: block;
					max-width: 100%;
					height: auto;
					margin-left: auto;
					margin-right: auto;
					max-height: 100%;
				}*/
			}
		}
	}

	&-wrapper {
		z-index: 90;
		display: flex;
		flex-direction: column;
		position: relative;
		position: absolute;
		top:100%;
		z-index: 25;

		@include respond('desktop'){
			width: 100%;
		}

		@include adaptive(1023) {
			z-index: 1550;
		}
	}

	&-left,
	&-right {
		height: 100%;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}
		@include adaptive(1023) {
			height: auto;
		}
	}

	&-left {
		z-index: 2;
		position: relative;

		width: 650px;
		padding: 20px 60px;
		background-color: #151414;


		@media screen and (min-width: 767.98px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
		}



		@include adaptive(1449.98){
			flex: 1;
			padding-right: 25px;
		}

		@include adaptive(1279) {
			width: 50%;
			padding: 20px 40px 20px 20px;
		}
		@include adaptive(767) {
			order: 3;
			width: 100%;
			/*clip-path: unset;
			padding: 20px;
			min-height: 200px;
			justify-content: flex-start;*/

			> div {
				width: 100%;
				height: auto;
				display: flex;
			}

			.list__specification-logo {
				display: none;
			}
		}
		@include adaptive(767) {
			padding: 10px;
			/*min-height: auto;*/
			display: block;
		}
	}

	&-right {
		z-index: 1;
		position: relative;
		width: 100%;
		max-width: calc(100% - 650px);

		@include adaptive(1449.98){
			flex: 0.95;
		}

		@include adaptive(1279) {
			max-width: 50%;
		}
		@include adaptive(1023) {
			order: 2;
			max-width: 100%;
			height: 300px !important;
			min-height: 300px !important;
			background-color: #004aac;
		}
		@include adaptive(767) {
			height: 200px !important;
			min-height: 200px !important;
		}

		> div {
			overflow: hidden;
			position: absolute;
			top: 0;
			/*left: -10%;
			width: calc(100% + 10%);*/
			height: 100%;
			left: -75px;
			right: 0;
			@include adaptive(767) {
				left: 0;
				width: 100%;
				top: -2px;
				height: 105%;
			}
		}

		@include adaptive(767) {
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}

		video {
			@extend %imageResCoverAbs;
		}

		.screenshot_box{
			position: absolute;
			top: 15px;
			bottom: 15px;

			&:after{
				padding-top: 56.19223659889094%;
				display: block;
				content: ' ';
			}
		}
		.screenshot_desktop{
			position: absolute;
			left: 10.16635859519409%;
			top:5.59210526315789%;
			width: 69.68576709796673%;
			height: 76.97368421052632%;
			object-fit: cover;
		}
		.screenshot_mobile{
			position: absolute;
			right: 1.66358595194085%;
			top:21.38157894736842%;
			width: 34.53947368421053%;
			height: 68.09210526315789%;
			object-fit: cover;
		}
		.screenshot_frame{
			z-index: 100;
			width: 100%;
			height: 100%;
			top: 0;
		}
	}

	&-close {
		z-index: 100;
		position: absolute;
		top: 10px;
		right: 10px;
		display: flex;
		cursor: pointer;

		@include adaptive(767) {
			display: none;
		}

		.icon-font {
			color: #ffffff;
			font-size: 18px;
		}
	}

	&-header {
		order: 1;
		position: relative;
		display: none;
		align-items: center;
		justify-content: center;
		height: 70px;
		padding: 5px 40px;
		@include adaptive(767) {
			display: flex;
			min-height: 70px;
		}

		.list__specification-logo {
			max-width: 100%;
			max-height: 100%;
			margin-bottom: 0;

			@include adaptive(767) {
				max-width: 90%;
			}
		}

		.list__specification-close {
			display: none;
			@include adaptive(767) {
				display: flex;
				top: 50%;
				transform: translateY(-50%);
				right: 20px;
			}
		}
	}

	&-logo {
		display: block;
		max-width: 350px;
		max-height: 120px;
		height: auto;
		margin-bottom: 10px;

		@include adaptive(1449.98){
			max-height: 65px;
			max-width: 95%;
		}
	}

	&-action {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 15px;

		-webkit-flex: 1 1 auto;

		> div {
			@include transition(opacity, width, visibility, margin);
			@include adaptive(767) {
				&:nth-of-type(1),
				&:nth-of-type(2) {
					width: 50%;
					padding-bottom: 10px;
				}

				&:nth-of-type(1) {
					padding-right: 5px;
				}

				&:nth-of-type(2) {
					padding-left: 5px;
				}

				&:nth-of-type(4),
				&:nth-of-type(5),
				&:nth-of-type(6),
				&:nth-of-type(7) {
					width: 25% !important;
				}
			}

			&.list__specification-action-circle {
				width: 46px;
				@include adaptive(1279) {
					width: 40px;

					.c-poppertext {
						display: none;
					}
				}
				@include adaptive(900){
					width: 30px;
				}

				@include adaptive(767) {
					width: 30px;
				}
			}

			&.list__specification-action-desc {
				display: none;
				@include adaptive(767) {
					display: flex;
					padding-bottom: 10px;

					p {
						color: #6d6d78;

						a {
							font-size: 10px;
							text-transform: uppercase;
							color: #2871ca;
						}
					}
				}
			}

			&.list__specification-action-skip {
				display: none;
				@include adaptive(767) {
					display: flex;
				}
			}

			&.is-hide {
				opacity: 0;
				visibility: hidden;
				width: 0;
				margin: 0 !important;
				@include transition(opacity, width, visibility, margin);
				@include adaptive(767) {
					width: 0 !important;
				}
			}

			&:not(:last-of-type) {
				margin-right: 10px;
				@include adaptive(1279) {
					margin-right: 5px;
				}
				@include adaptive(767.98) {
					margin-right: 0;
				}
			}
		}
	}

	&-visit,
	&-read {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 150px;
		height: 48px;
		color: #ffffff;
		font-size: 15px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 10px;

		&:hover{
			color: #fff;
		}
		&:focus{
			color: #fff;
		}
		@include respond('max-large'){
			min-width: 100px;
			height: 40px;
			font-size: 11px;
		}
		@include adaptive(767) {
			min-width: 150px;
			height: 48px;
			font-size: 15px;
		}
	}

	&-visit {
		border-radius: 5px;
		border: 2px solid rgb(0, 74, 172);
		background-color: rgb(0, 74, 172);
		@include transition(background-color);

		&:hover, &:active, &:focus {
			background-color: transparent;
			@include transition(background-color);
		}
	}

	&-read {
		border-width: 2px;
		border-color: rgb(197, 240, 21);
		border-style: solid;
		border-radius: 5px;
		@include transition(color, background-color);

		&:hover {
			background-color: rgb(197, 240, 21);
			color: #222222;
			@include transition(color, background-color);
		}
	}

	&-circle {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 46px;
		height: 46px;
		border-width: 2px;
		border-color: rgb(206, 206, 206);
		border-style: solid;
		border-radius: 50%;
		transition: all 0.4s ease-in-out;
		background-color: transparent;
		outline: none;
		cursor: pointer;
		@include adaptive(1279) {
			width: 40px;
			height: 40px;
		}

		@include adaptive(900){
			width: 30px;
			height: 30px;
		}

		@include adaptive(767) {
			flex-direction: column;
			width: 100%;
			height: 50px;
			border-color: transparent;
			border-radius: 0;
		}

		&:after {
			content: '';
			z-index: 0;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 50%;
			top: 50%;
			width: calc(100% + 30px);
			border-radius: 50%;
			padding: calc(40% + 30px) 0;
			background: radial-gradient(ellipse at center, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0) 100%);
			transform: translateX(-50%) translateY(-50%) scale(0);
			animation-fill-mode: both;
			animation-duration: 0.45s;
			animation-timing-function: ease-in-out;
		}

		&:hover {
			background-color: rgba(#000, 0.85);
			transform: scale(1.05);
			transition: all 0.4s ease-in-out;
			@include adaptive(767) {
				background-color: transparent;
				transform: scale(1);
			}
		}

		&.is-active {
			border-color: rgb(197, 240, 21);
			transition: all 0.4s ease-in-out;
			@include adaptive(767) {
				border-color: transparent;
			}

			&:after {
				animation-name: flashBlinking;
				@include adaptive(767) {
					animation: unset;
				}
			}

			& + .c-poppertext {
				> u {
					&:nth-of-type(1) {
						display: none;
					}
					&:nth-of-type(2) {
						display: block;
					}
				}
			}

			.icon-font {
				color: rgb(197, 240, 21);
				transition: all 0.4s ease-in-out;
			}
		}

		.icon-font {
			color: #ffffff;
			font-size: 24px;
			transition: all 0.4s ease-in-out;
			@include adaptive(1279) {
				font-size: 20px;
			}
			@include adaptive(900){
				font-size: 14px;
			}

			@include adaptive(767) {
				font-size: 26px;
			}
		}

		span {
			display: none;
			padding-top: 3px;
			text-transform: uppercase;
			font-size: 8px;
			color: #ffffff;
			@include adaptive(767) {
				display: flex;
			}
		}
	}

	&-like {
		.icon-font {
			transform: scaleX(-1);
		}
	}

	&-dislike {
		.icon-font {
			transform: scale(-1);
		}
	}

	&-favorites {
		&.is-active {
			.icon-font {
				transition: all 0.4s ease-in-out;

				&.icon-star-fill {
					opacity: 0;
					visibility: hidden;
				}
				&.icon-star {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.icon-font {
			transition: all 0.4s ease-in-out;

			&.icon-star {
				opacity: 0;
				visibility: hidden;
				position: absolute;
				@include adaptive(767) {
					top: 3px;
				}
			}
		}
	}

	&-desc {
		width: 100%;
		max-width: 460px;
		color: #8e8c8c;
		font-size: 14px;

		@include adaptive(1023){
			font-size: 13px;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		@include adaptive(767) {
			display: none;
		}
	}

	&-play {
		z-index: 20;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 154px;
		height: 154px;
		border-radius: 50%;
		background-color: rgba(#343434, 0.43);
		@include transition(transform, opacity, visibility);
		@include adaptive(767) {
			width: 115px;
			height: 115px;
		}

		&:hover {
			transform: translate(-50%, -50%) scale(0.8);
			@include transition(transform 0.55s);
		}

		&.is-active {
			opacity: 0;
			visibility: hidden;
			@include transition(opacity, visibility);
		}

		.icon-font {
			position: relative;
			left: 5px;
			color: #ffffff;
			font-size: 57px;
			@include adaptive(767) {
				font-size: 45px;
			}
		}
	}

	&-pause {
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		bottom: 10px;
		right: 10px;
		display: flex;
		@include transition(opacity, visibility);

		&.is-active {
			opacity: 1;
			visibility: visible;
			@include transition(opacity, visibility);
		}

		.icon-font {
			color: #ffffff;
			font-size: 18px;
		}
	}

	&-more {
		display: none;
		order: 4;
		flex-direction: column;
		padding: 10px 20px 20px;
		flex: 1;
		min-height: 1px;
		max-height: 100%;
		@include adaptive(767) {
			display: flex;
		}
		@include adaptive(767) {
			min-height: 320px;
			padding: 10px;
		}

		> div {
			&:nth-of-type(1) {
				display: flex;
				height: 50px;
				padding-bottom: 20px;

				p {
					color: #ffffff;
					font-size: 18px;
					font-weight: bold;
					border-bottom: 2px solid rgb(197, 240, 21);
				}
			}
			&:nth-of-type(2) {
				display: flex;
				flex-wrap: wrap;
				height: 100%;

				@include adaptive(767) {
					height: auto;
				}
			}
		}

		.list__box {
			z-index: -1;
			position: relative;
			top: 0;
			left: 0;
			transform: unset;
			width: 100% !important;
			max-width: calc(100% / 3) !important;
			height: calc(100% / 2) !important;
			padding: 30px;
			@include adaptive(767) {
				padding: 15px;
			}

			.is-open & {
				z-index: auto;
			}
		}
	}
}


.list__specification-bottom{
	display: block;
	background: #151314;
	padding: 25px 50px 15px;

	@include respond('max-large'){
		padding: 25px 15px 15px;
	}

	@include adaptive(767) {
		display: none;
	}

	.similar_site_title{
		border-bottom: 3px solid #cde549;
		display: inline-block;
		color: #fff;
		font-size: 28px;
		font-weight: 600;
		margin-bottom: 20px;

		@include respond('max-large'){
			font-size: 22px;
		}
	}



	.similar_site_item{
		display: flex;
		align-items: center;
		padding: 15px 15px;
		border-bottom: 3px solid #1e1c1d;

		@include respond('max-large'){
			padding: 15px 10px 15px 7px;
		}

		&.hover{
			background: #272628;
		}

		&:hover{
			background: #272628;
		}

		&:before{
			content: counter(number);
			color: #6d6d78;
			font-weight: 600;
			font-size: 18px;
			margin-right: 15px;
			counter-increment: number;
			width: 24px;
			text-align: center;
		}

		.similar_site_item_inner{
			display: flex;
			width: 100%;
			align-items: center;

			.similar_site_item_link{
				display: flex;
				align-items: center;
				flex: 1;
			}

			.similar_site_item_thumb{
				display: flex;
				content: ' ';
				justify-content: center;

				/*flex: 0 0 20%;*/
				height: 150px;
				width: 250px;
				background-size: cover !important;
				background-position: center;
				border: 1px solid #ccc;
				border-radius: 5px;
				overflow: hidden;

				@include respond('max-large'){
					height: 130px;
					width: 200px;
				}

				video{
					min-height: 100%;
					width: 110%;
				}
			}
			.similar_site_item_content{
				padding: 15px;
				flex: 1;

				.title{
					color: #fff;
					font-weight: 600;
					font-size: 24px;

					@include respond('max-large'){
						font-size: 18px;
						margin-bottom: 10px;
					}
				}
				p{
					color: #6d6d78;
					font-size: 14px;

					@include respond('max-large'){
						font-size: 13px;
					}

					span{
						color: #4099f9;
					}
				}
			}
			.similar_site_item_buttons{
				display: flex;

				@include adaptive(900){
					flex-direction: column;
				}

				a{
					margin: 0 5px;
					@include adaptive(900.98){
						margin: 3px 5px;
					}
				}
			}
		}
	}

	.similar_site_list{
		counter-reset: number 0;

		&.show_10{
			.similar_site_item:nth-child(n+11){
				display: none;
			}
		}

		&.show_20{
			.similar_site_item:nth-child(n+21){
				display: none;
			}
		}
		&.show_30{
			.similar_site_item:nth-child(n+31){
				display: none;
			}
		}
		&.show_40{
			.similar_site_item:nth-child(n+41){
				display: none;
			}
		}
	}

	.show_more_sites{
		text-align: center;
		position: relative;
		padding-top: 15px;
		margin-top: 15px;

		&:before{
			display: block;
			content: ' ';
			border-top: 2px solid #666;
		}

		button{
			position: absolute;
			top: 0;
			margin: 0 auto;
			background: #151314;
			border: 1px solid #ccc;
			cursor: pointer;
			padding: 10px;
			border-radius: 30px;

			&:hover, &:focus{
				border-radius: 30px;
				outline-width: 0;
				background: #333;
			}

			i:before{
				transform: rotateZ(-90deg);
				color: #fff;
			}
		}
	}

	.category_link{
		background: #1a1b21;
		padding: 15px;
		display: none;

		&.show{
			display: block;
		}

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 25px 10px 15px;

			&:hover{
				color: #d6d6d6;
			}

			img{
				height: 48px;
				margin-right: 15px;
			}

			&:after{
				display: inline-block;
				content: ' ';
				width: 33px;
				height: 18px;
				/*background: url(../images/arrow-right-white.svg) no-repeat;*/
				background-size: contain;
				background-position: center;
				margin-left: 50px;
			}

			&:hover{
				&:after{
					animation: rightArrowAnim 1s infinite;
				}
			}
		}
	}

	#other_categories.more_terms{
		background: transparent;
		padding: 15px 0;
	}
}


@keyframes skipMobile {
	from {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	50% {
		opacity: 0.5;
		transform: scale(0.5);
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
}

@keyframes rightArrowAnim{
	0%{
		transform:translateX(0px);
	}
	50%{
		transform:translateX(5px);
	}
	100%{
		transform:translateX(0px);
	}
}
