// SECTION :: START
.body{
	&.p-home{
		@include adaptive(1023) {
			margin-top: 120px;
		}
	}
}
.list {
	padding-top: 25px;
	padding-bottom: 25px;
	@include adaptive(767) {
		.c-grid {
			padding-right: 0;
		}
	}

	.swiper {
		&-container {
			overflow: unset;
		}

		&-slide {
			position: relative;
			width: 230px !important;
			height: 230px;
			margin-left: 3px;
			margin-right: 3px;
			@include transition(width);
			@include adaptive(1279) {
				width: 195px !important;
				height: 195px;
			}
			@include adaptive(1023) {
				width: 150px !important;
				height: 150px;
			}
			@include adaptive(767) {
				width: 100px !important;
				height: 100px;
			}

			.is-mobile & {
				@media screen and (orientation: landscape) {
					width: 150px !important;
					height: 150px;
				}
			}

			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}

			&.is-hover {
				width: 350px !important;
				@include transition(width);

				&.last-box{
					.list__box{
						transform: translate(calc(-50% - 55px), -50%);
					}
				}

				/*&:last-of-type {
					.list__box{
						transform: translate(calc(-50% - 120px), -50%);
					}
				}*/
			}
		}
	}

	.swiper-wrapper:not(.short_list){
		.swiper-slide{
			&.is-hover {
				&:last-of-type {
					.list__box{
						transform: translate(calc(-50% - 120px), -50%);
					}
				}
			}
		}
	}

	@import "list--info";
	@import "list--btn";
	@import "list--arrow";
	@import "list--rating";
	@import "list--box";
	@import "list--specification";
}

.swiper-scrollbar {
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%;
	background: #f00;

	.swiper-scrollbar-drag {
		height: 100%;
		width: 100%;
		position: relative;
		background: rgba(0,0,0, 1);
		border-radius: 10px;
		left: 0;
		top: 0;
	}
}

.list_green_line{
	transition: transform 1s;
	transform: translateX(-50%);
}

.light{
	.list__info p{
		color: #0b0d28;
	}
}

@keyframes slideToggle {
	from {
		transform: rotate(-90deg) translateX(5px);
	}
	50% {
		transform: rotate(-90deg) translateX(0);
	}
	to {
		transform: rotate(-90deg) translateX(5px);
	}
}
@keyframes flashBlinking {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%) translateY(-50%) scale(0);
	}
	50% {
		opacity: 1;
		visibility: visible;
		transform: translateX(-50%) translateY(-50%) scale(2);
	}
	to {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-50%) translateY(-50%) scale(0);
	}
}
// SECTION :: END


.list__box-wrapper.last-box-selected{
	.list__arrow--next{
		width: 75px;
	}
}

.light{
	.list__info{
		.category_title{
			a{
				color: #000;
			}
		}
		span{
			color: #636471;

			@include adaptive(767) {
				&:after {
					display: none;
				}
			}
		}
	}

	.list__btn{
		background: #004cb0;
		color: #fff;

		&:hover, &:active, &:focus{
			color: #fff;
		}

		span{
			color: #c3f228;
		}
	}

	.list__box-line{
		background-color: #c0c3cc;
	}

	.list__box-line u,
	.list__box-line span{
		background-color: #005FDB;
	}
}
