&__btn {
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 145px;
	height: 45px;
	border-radius: 5px;
	background-color: rgb(213, 243, 74);
	color: #080915;
	font-size: 16px;
	font-weight: 700;

	&:hover, &:focus{
		color: #d5f34a;
	}

	&.nav_link{
		color: #080915;

		&:hover, &:focus{
			color: #080915;
		}
	}

	@include adaptive(1279) {
		min-width: 125px;
		height: 40px;
		font-size: 14px;
	}
	@include adaptive(1023) {
		position: absolute;
		top: 0;
		right: 0;
		min-width: unset;
		height: 34px;
		background-color: transparent;
		color: rgb(213, 243, 74);
	}
	@include adaptive(767) {
		right: 10px;
		height: 28px;
		font-size: 12px;
		top: 5px;
	}

	span {
		color: #0c3495;
		@include adaptive(1023) {
			color: rgb(213, 243, 74);
		}
	}

	.icon-font {
		display: none;
		color: rgb(213, 243, 74);
		transform: translateY(1px) scaleX(-1);
		margin-left: 5px;
		@include adaptive(1023) {
			display: block;
		}
	}
}
