.site-item{
	position: relative;

	.category_sites_item_title:before{
		display: none;
	}

	&-bottom{
		display: flex;
		padding: 5px 0;
		justify-content: space-between;
		align-items: center;
		color: var(--primary-color-2, #4c4c4c);
	}
	&-rating{
		display: flex;
		gap: 6px;
		align-items: center;

		.rating {
			width: 74px;
			height: 14px;
		}
	}
	&-tag{
		font-size: 13px;
		text-transform: capitalize;
		color: var(--primary-color-2, #4c4c4c);
	}
}
.rating{
	display: block;
	width: 84px;
	height: 16px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../images/rating_1.png");

	&-2{
		background-image: url("../images/rating_2.png");
	}
	&-3{
		background-image: url("../images/rating_3.png");
	}
	&-4{
		background-image: url("../images/rating_4.png");
	}
	&-5{
		background-image: url("../images/rating_5.png");
	}
}

.section_footer{
	display: flex;
	justify-content: center;
	padding: 10px 0;

	 @include respond('medium'){
			position: absolute;
		 	right: 0;
			 top: 0;
			 padding: 0;
		}
}
@include respond('medium'){
	.trending-deals{
		.section_footer{
			top: -41px;
		}
	}
}

