.category {
	position: relative;
	display: flex;

	@include adaptive(1023) {
		padding-top: 0;
	}

	&__left {
		width: 43px;
	}

	&__middle {
		position: relative;
		flex: 1;
		min-width: 1px;
		max-width: 100%;
		padding-right: 4px;
		@include adaptive(1023) {
			padding-right: 0;
		}
	}

	&__right {
		width: 111px;
		@include adaptive(1023) {
			width: 43px;

			.category__btn {
				display: none;
			}
		}
	}

	&__btn {
		outline: none;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 34px;
		border-radius: 5px;
		border: none;
		box-shadow: none;
		background-color: rgb(0, 74, 172);
		text-transform: uppercase;
		color: #ffffff;
		font-size: 13px;
		font-weight: 700;

		&:hover{
			color: #fff;
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
	}

	&__toggle {
		position: relative;
		display: flex;
		width: 100%;
		height: 100%;
		background-color: #ffffff;
		border-radius: 0 5px 5px 0;
		@include adaptive(1023) {
			border-radius: 0;
		}

		input {
			outline: none;
			position: relative;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			height: 100%;
			padding: 0 12px;
			border: none;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			font-size: 14px;
			font-weight: 700;

			&.searchinput{
				padding: 0 0 0 5px;
			}

			@include inputPlaceholder {
				color: #9294ad;
				font-size: 14px;
				font-weight: 700;
			}
		}

		button {
			outline: none;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 100%;

			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;


			&.search_icon{
				width: 25px;
			}

			.icon-font {
				color: #9294ad;
			}
		}
	}

	&__drop {
		overflow: hidden;
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		position: absolute;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 5px;
		background-color: #ffffff;
		backface-visibility: hidden;
		@include transition(opacity, visibility, transform);
		@include adaptive(1023) {
			top: calc(100% + 10px);
			left: -63px;
			width: 100vw;
			height: calc(100vh - 54px);
			min-height: 682px;
			border-radius: 0;
			background-color: #080915;
		}

		@include respond('medium'){
			&.is-open {
				z-index: 1600;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}



		&-body {
			flex: 1;
			min-height: 1px;
			max-height: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 60px;
		}
	}

	&__title {
		color: #ffffff;
		font-size: 18px;
		font-weight: 700;
		@include adaptive(1023) {
			color: #abbde7;
			font-size: 16px;
		}
	}

	&__btn {
	}

	&__close {
		display: none;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		cursor: pointer;

		@include adaptive(1023) {
			display: flex;
		}

		.icon-font {
			color: #33529e;
			font-size: 24px;
		}
	}

	&__load {
		display: none;
		align-items: center;
		justify-content: center;
		min-width: 150px;
		height: 40px;
		background-color: #cde549;
		color: #080915;
		font-size: 14px;
		text-transform: uppercase;
		@include adaptive(1023) {
			display: flex;
		}
	}

}

.light{
	.category__btn{
		color: #fff;
	}
}
