.lang {
	position: relative;

	&:hover {
		.lang {
			&__toggle {
				border-color: #fff;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				background-color: #ffffff;
				@include transition(border-color, background-color, border-radius);

				span,
				.icon-font {
					color: #080915;
					@include transition(color);
				}
			}

			&__drop {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}
	}

	&__toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 84px;
		height: 29px;
		padding-left: 10px;
		padding-right: 10px;
		border-width: 2px;
		border-color: rgb(48, 51, 90);
		border-style: solid;
		border-radius: 5px;
		background-color: transparent;
		@include transition(border-color, background-color, border-radius);
		@include adaptive(1279) {
			width: 65px;
		}
		@include adaptive(1023) {
			width: 84px;
			padding-right: 0;
			border-color: transparent;
		}

		span,
		.icon-font {
			color: #9294ad;
			@include transition(color);
		}

		span {
			font-weight: 700;
			text-transform: uppercase;
			@include adaptive(1279) {
				display: none;
			}
			@include adaptive(1023) {
				display: inline-block;
			}
		}

		.icon-font {
			margin-left: 10px;
			font-size: 8px;
			transform: rotate(-90deg);
		}
	}

	&__drop {
		opacity: 0;
		visibility: hidden;
		transform: translateY(10px);
		z-index: 2000;
		position: absolute;
		top: 100%;
		right: 0;
		display: flex;
		min-width: 350px;
		border-radius: 5px 0 5px 5px;
		background-color: rgb(255, 255, 255);
		backface-visibility: hidden;
		transform-origin: center;
		@include transition(opacity, visibility, transform);

		&-col {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			width: 100%;
			padding: 15px;
		}

		&-link {
			position: relative;
			display: flex;
			width: 50%;
			align-items: center;
			padding-top: 5px;
			margin-bottom: 5px;

			&:hover {
				&:before,
				&:after {
					width: 50%;
					@include transition(width);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 100%;
				width: 0;
				height: 1px;
				background-color: #080915;
				@include transition(width);
			}

			&:before {
				left: 50%;
			}
			&:after {
				right: 50%;
			}

			span {
				color: #080915;
			}
		}
	}

	&__flag {
		display: flex;
		margin-right: 5px;

		&:before {
			content: "";
			display: flex;
			width: 16px;
			height: 11px;
			background-image: url('../images/flags.png');
			background-repeat: no-repeat;
		}

		&--en {
			&:before {
				background-position: -48px 0
			}
		}
		&--de {
			&:before {
				background-position: 0 -22px
			}
		}
		&--fr {
			&:before {
				background-position: -32px -33px
			}
		}
		&--it {
			&:before {
				background-position: -16px -44px
			}
		}
		&--ro {
			&:before {
				background-position: -64px -44px
			}
		}
		&--pt {
			&:before {
				background-position: -64px -33px
			}
		}
		&--ru {
			&:before {
				background-position: 0 -55px
			}
		}
		&--es {
			&:before {
				background-position: 0 -33px
			}
		}
		&--nl {
			&:before {
				background-position: -64px 0
			}
		}
		&--tr {
			&:before {
				background-position: -64px -55px
			}
		}
		&--sv {
			&:before {
				background-position: -32px -55px
			}
		}
		&--no {
			&:before {
				background-position: -64px -11px
			}
		}
		&--be {
			&:before {
				background-position: 0 -11px
			}
		}
		&--ja {
			&:before {
				background-position: -32px -44px
			}
		}
		&--el {
			&:before {
				background-position: -32px -22px
			}
		}
		&--hi {
			&:before {
				background-position: -48px -11px
			}
		}
		&--vi {
			&:before {
				background-position: -16px -66px
			}
		}
		&--pl {
			&:before {
				background-position: -64px -22px
			}
		}
		&--fi {
			&:before {
				background-position: -16px -33px
			}
		}
		&--da {
			&:before {
				background-position: -32px -11px
			}
		}
		&--sl {
			&:before {
				background-position: -16px -55px
			}
		}
		&--hr {
			&:before {
				background-position: -48px -33px
			}
		}
		&--ar {
			&:before {
				background-position: 0 0
			}
		}
		&--hu {
			&:before {
				background-position: -48px -22px
			}
		}
		&--cs {
			&:before {
				background-position: -32px 0
			}
		}
		&--zh {
			&:before {
				background-position: -32px -66px
			}
		}
		&--ko {
			&:before {
				background-position: -48px -44px
			}
		}
		&--th {
			&:before {
				background-position: -48px -55px
			}
		}
		&--id {
			&:before {
				background-position: 0 -44px
			}
		}
		&--he {
			&:before {
				background-position: -64px -88px
			}
		}
		&--bg {
			&:before {
				background-position: -16px -110px
			}
		}
		&--hu {
			&:before {
				background-position: -32px -110px
			}
		}
	}
}
