.category.search_form{
	max-height: 34px;

	@include adaptive(767) {
		height: 54px;
		max-height: 54px;
	}
	@include respond('mobile_landscape'){
		height: 54px;
		max-height: 54px;
	}
	@include respond('iphone_x_landscape'){
		height: 54px;
		max-height: 54px;
	}
	@include respond('iphone_8_landscape'){
		height: 54px;
		max-height: 54px;
	}
}



.sort {
	position: relative;
	width: 100%;
	height: 100%;

	&__toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 100%;
		height: 100%;
		border-radius: 5px 0 0 5px;
		background-color: #939cb2;
		@include adaptive(1023) {
			border-radius: 0;
		}

		.icon-font {
			color: #ffffff;
			font-size: 20px;
			transform: rotate(-90deg);
		}

		p {
			display: flex;
			flex-direction: column;
			transform: translateX(-3px);

			span {
				font-weight: 700;
				font-size: 12px;
				color: #ffffff;
				line-height: 1;
			}
		}
	}


	//&__drop

	//&:hover > &__drop


	//&__collapse

}

.light{
	.sort__drop-link{
		color: #081b49;
	}
}
