// HAMBURGER :: START

$whenShowHamburgerMenu: 'max-large';
$hamburger-box-width: 30px;
$hamburger-box-height: 17px;
$hamburger-line-height: 3px;
$hamburger-line-borderRadius: 2px;
$hamburger-line-backgroundColor: #fff;


// HAMBURGER :: END
