// LOGOTYPE :: START

.logo {
	&--haeder {
		position: absolute;
		top: 50%;
		left: 145px;
		transform: translateY(-50%);
		max-width: 320px;
		@include adaptive(1919) {
			left: 12px;
		}
		@include adaptive(1279) {
			top: calc(50% + 5px);
			max-width: 295px;
		}
		@include adaptive(1023) {
			display: none;
		}
	}

	&--footer {
		max-width: 250px;
		padding-bottom: 30px;
	}

	&__btn {
		display: flex;
		align-items: center;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
