// CONTAINER :: START

.main_con{

}

.site-content{
	@include adaptive(767) {
		/*margin-top: 130px;*/
	}
}


.show_2nd_header_{
	.site-content{
		margin-top: 15px;

		@include respond('ipad_portrait'){
			margin-top: 90px;
		}
		@include adaptive(767){
			margin-top: 90px;
		}
	}
}

.show_2nd_header_1{
	.site-content{
		margin-top: 15px;

		@include respond('ipad_portrait'){
			margin-top: 130px;
		}
		@include adaptive(767){
			margin-top: 130px;
		}
	}
}
