.custom-dropdown {
	position: relative;
	display: inline-block;
	font-size: 14px;
}

.dropdown-toggle {
	background-color:#e8e7e6; // #0073aa;
	color: black;
	padding: 6px 15px 6px 15px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdown-icon {
	margin-left: 10px;
	transition: transform 0.3s ease;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px 0;
	margin: 0;
	list-style: none;
	border-radius: 4px;
	z-index: 1000;
	min-width: 200px;

	&.right{
		right: 0;
	}
}

.dropdown-menu li {
	position: relative;
	padding: 8px 16px;

	&:hover {
		background-color: #f0f0f0;
	}

	&.all{
		background: #0a3e83;
		.tag-icon{
			height: 16px;
		}
		svg{
			fill: #fff;
		}
		a{
			color: #fff;
		}
	}
}

.dropdown-menu li a {
	text-decoration: none;
	color: #333;
	display: block;

	@include respond('medium'){
		padding-left: 20px;
	}
}

.show {
	display: block;
}

.show {
	display: block;
}

.show .dropdown-icon {
	transform: rotate(180deg); /* Rotate the icon when dropdown is open */
}
