&__col{
	&-menu, &-search{
		display: none;

		@include adaptive(1023) {
			display: block;
		}
	}
}

@include adaptive(1023) {
	&__row_left{
		display: flex;
		justify-content: center;
	}
}

&__mobile{
	display: none;
	@include adaptive(1023.98) {
		display: flex;
		align-items: center;
		min-height: 80px;
		padding: 5px 20px;
	}

	&-center{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

&__container {
	&-1 {
		background-color: #07113b;
		@include adaptive(1023) {
			position: relative;
			background-color: #303030fa;
		}
	}

	&-2 {
		background-color: #081b49;

		@include adaptive(1023) {
			display: flex;
			align-items: center;

			&.is-open {

				.header__view-actions{
					opacity: 1;
					display: flex;
					overflow: auto;
					flex-direction: column;
					visibility: visible;
					transform: translateY(0) translateZ(0);
					@include transition(opacity, visibility, transform);

					&.awe{
						padding: 10px 20px 0;
					}
				}
			}
		}

		.c-grid {
			position: relative;
			@include adaptive(1023) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}


	&-3 {
		@include respond('desktop'){
			background-color: rgb(11, 13, 40);
			box-shadow: 1.482px 16.935px 35px 0px rgba(31, 37, 103, 0.33);
		}
		@include adaptive(1023) {
				background-color: #303030fa;
		}
	}
}
