// HEADER :: START

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #07113b;

	//@import "header--wrapper";
	@import "header--conatainer";

	@import "header--toggle";
	//@import "header--action";
	//@import "header--category";
	//@import "header--view";
	@import "header--nav";
	@import "header--recent";
	@import "header--update";
	//@import "header--awe";

	@include adaptive(1023.98) {
		position: fixed;
		width: 100%;
		z-index: 105;
	}

	@include respond('ipad_portrait'){
		position: fixed;
		width: 100%;
		z-index: 105;
	}
	@include respond('ipad_pro_landscape'){
		position: relative;
		width: 100%;
		z-index: 105;
	}
	@include respond('ipad_pro_portrait'){
		position: relative;
		width: 100%;
		z-index: 105;
	}
}

.header__mobile{
	position: fixed;
	width: 100%;
	align-items: center;
	min-height: 80px;
	padding: 5px 20px;
	z-index: 107;
	display: none;

	@include respond('ipad_portrait'){
		display: flex;
	}
	@include respond('ipad_pro_landscape'){
		display: flex;
	}
	@include adaptive(1023) {
		display: flex;
	}
}

.light{
	@include adaptive(1023) {
		.pre-header__mobile{
			background-color: #303030fa;
		}
		.header__nav-item:not(:last-of-type) {
			border-bottom: 1px solid #4a4a4a;
		}
		.pre-header__mobile-middle{
			border-top: 1px solid #4a4a4a;
			border-bottom: 1px solid #4a4a4a;
		}
	}
}

.is_logged{
	.header__view-wrapper{
		display: block;

		@include adaptive(1023) {
			display: none;
		}
	}
	.header__view-text{
		display: none;
	}
}

[data-label-lg]::after {
	content: attr(data-label-lg);
}

@media screen and (max-width: 767px) {
	/* line 189, src/scss/_shared/_main-setting-reset.scss */
	[data-label-xs]::after {
		content: attr(data-label-xs);
	}
}

//.hdrfav


.has_search{
	.header__recent{
		display: none;
	}
}
// HEADER :: END
