.header{
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 44px;
		@include adaptive(1023) {
			//display: none;
			height: 40px;
			flex-direction: row-reverse;
			border-top: 2px solid #0a3e83;
			border-bottom: 2px solid #0a3e83;
			background: #0b0d28;

			&.hm{
				display: none;
			}
		}

		&-item,
		&-link,
		&-separator {
			position: relative;
			height: 100%;
			@include adaptive(1023) {
				width: 100%;
			}
		}

		&-item {
			display: flex;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				display: none;

				&.mb{
					display: block;
				}

				.header_nav_meet{
					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						width: 2px;
						height: calc(100% - 14px);
						background-color: #161e3e;
					}

					&:before {
						left: 0;
					}

					&:after {
						right: 0;
					}
				}
			}

			&--saparator {
				flex: unset;
				width: 3px;
				@include adaptive(1023) {
					display: none;
				}
			}
		}

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			z-index: 1;
			
			&.link_categories{
				z-index: 8;
			}

			&:hover {
				span {
					color: #ffffff;
					@include transition(color);
				}
			}

			> div {
				display: flex;
				@include adaptive(1023) {
					display: none;
				}
			}

			.icon-png {
				margin-right: 6px;
				mix-blend-mode: screen;
				@include adaptive(1023) {
					transform: scale(1.2);
				}
				&.icon-nav-home{
					height: 16px;
					margin-right: 8px;
				}

				/*&.icon-category:before{
					background: url(../images/icon-category.svg);
					background-repeat: no-repeat;
					width: 22px;
					height: 17px;
				}*/
				&.icon-nav-category{
					height: 16px;
					margin-right: 12px;
				}
				&.icon-nav-porncoupons{
					width: 19px;
				}
				&.icon-nav-blog{
					height: 18px;
				}
				&.icon-nav-videos{
					height: 17px;
				}
				&.icon-nav-sex{
					width: auto;
					height: 26px;
				}
			}

			span {
				text-transform: uppercase;
				font-size: 13px;
				//color: rgb(100, 111, 157);
				color: #e2e3e6;
				font-weight: bold;
				line-height: 1.2;
				@include transition(color);
				@include adaptive(1279) {
					font-size: 11px;
				}
				@include adaptive(1023) {
					color: #abbde7;
					font-size: 14px;
				}
			}
		}

		@include adaptive(1023) {
			&-icon{
				width: 40px;
			}
		}

		&-separator {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 100%;
			height: calc(100% - 14px);
			background-color: #161e3e;
			@include adaptive(1023) {
				display: none;
			}
		}
		&-icon{
			@include adaptive(1023) {
				display: none;
			}
			&-fill{
				fill: #c1f002;
			}

			&-outline{
				fill: #000;
			}
		}
	}
}
.light{
	.header{
		&__nav-icon{
			&-fill{
				fill: #000;
			}
			&-outline{
				fill: #fff;
			}
		}
	}
}
