.header{
	&__categories-mobile{
		display: none;
		@include adaptive(1023) {
			display: block;
			padding: 0 15px;
		}
	}
	.category-list-menu-mobile{
		height: calc(100vh - 220px);
		overflow: auto;
	}
}
.light {
	.header {
	}

}
