&__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 44px;
	@include adaptive(1023) {
		height: auto;
		flex-direction: column;
	}

	&-item,
	&-link,
	&-separator {
		position: relative;
		height: 100%;
	}

	&-item {
		display: flex;
		flex: 1;
		min-width: 1px;
		max-width: 100%;

		&--saparator {
			flex: unset;
			width: 3px;
			@include adaptive(1023) {
				display: none;
			}
		}
	}

	&-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height:100%;
		flex: 1;
		min-width: 1px;
		max-width: 100%;
		@include adaptive(1023) {
			min-height: 40px;
		}

		&:hover {
			span {
				color: #ffffff;
				@include transition(color);
			}
		}

		.icon-png {
			margin-right: 6px;
			mix-blend-mode: screen;
		}

		span {
			text-transform: uppercase;
			font-size: 13px;
			color: rgb(100, 111, 157);
			font-weight: bold;
			line-height: 1.2;
			@include transition(color);
			@include adaptive(1279) {
				font-size: 11px;
			}
			@include adaptive(1023) {
				min-width: 115px;
				font-size: 14px;
				text-align: center;
			}
		}
	}

	&-separator {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		height: calc(100% - 14px);
		background-color: #161e3e;
		@include adaptive(1023) {
			display: none;
		}
	}
}
