// HEADER :: START

.header {
	position: relative;
	display: flex;
	flex-direction: column;

	@import "header--conatainer";
	@import "header--wrapper";
	@import "header--toggle";
	@import "header--action";
	@import "header--category";
	@import "header--view";
	@import "header--nav";
	@import "header--recent";
	@import "header--update";

	@include respond('ipad_portrait'){
		position: fixed;
		width: 100%;
		z-index: 100;
	}

	@include adaptive(767) {
		position: fixed;
		width: 100%;
		z-index: 100;
	}
}

.is_logged{
	.header__view-wrapper{
		display: block;
	}
	.header__view-text{
		display: none;
	}
}


// HEADER :: END
