@include respond('large') {
	&__user-block-outer{
		// flex: 1;
		text-align: right;
	}
}
&__user-block{
	display: inline-flex;

	@include respond('large') {
		gap: 10px;
		padding: 0 10px;
		height: 29px;
		border-radius: 5px;
		margin-right: 4px;
		align-items: center;
		border: 2px solid #004aac;
	}

	@include respond('max-medium') {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40px;
		border: none;
		border-top: 1px solid #0a3e83;
		border-bottom: 1px solid #4a4a4a;
		align-items: stretch;
	}
}
