&__container {
	&-1 {
		background-color: #07113b;
	}

	&-2 {
		background-color: #081b49;

		.c-grid {
			position: relative;
		}
	}

	&-3 {
		background-color: rgb(11, 13, 40);
		box-shadow: 1.482px 16.935px 35px 0px rgba(31, 37, 103, 0.33);
	}
}
