&__action {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	border-width: 2px;
	border-color: rgb(0, 74, 172);
	border-style: solid;
	border-radius: 5px;
	@include adaptive(1279) {
		width: 125px;
	}

	@include adaptive(1023) {
		width: 100%;
		border: none;
		border-radius: 0;
		//background-color: #303030fa;

		flex-wrap: wrap;
		min-height: 40px;
		border-top: 1px solid #0a3e83;
		padding: 0;
	}

	&-link {
		display: flex;
		font-size: 12px;
		font-weight: 700;
		color: #768fa9;

		&:hover, &:focus{
			color: #768fa9;
		}

		i{
			display: none;

			@include adaptive(1023) {
				display: flex;
			}
		}

		&:first-child{
			margin-right: 10px;

			@include adaptive(1023) {
				margin-right: 0;
			}
		}

		@include adaptive(1279) {
			font-size: 12px;
		}

		@include adaptive(1023) {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 400;
			height: 40px;

			&:first-child{
				border-right: 1px solid #0a3e83;
			}

			i{
				margin-right: 5px;
				font-size: 16px;
			}
		}

		&--logout {
			color: #9294ad;
		}
		&--admin {
			color: #91a538;
		}
	}
}

@include adaptive(1023) {
	&__col-lang {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		min-height: 50px;
		align-items: center;
		border-top: 1px solid #4a4a4a;
		border-bottom: 1px solid #4a4a4a;
	}
}
