&__category {
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptive(1023) {
		flex-wrap: wrap;
	}



	/*&-item {
		display: flex;

		@include adaptive(1023) {
			justify-content: center;
			width: 100%;
			max-width: calc(100% / 4);

			&:nth-of-type(1) {
				width: 100%;
				max-width: 100%;
				padding-bottom: 15px;
			}
		}
	}*/

	&-title,
	&-link {
		white-space: nowrap;
		padding-left: 8px;
		padding-right: 8px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.2;

		@include adaptive(1365) {
			font-size: 11px;
		}
		@include adaptive(1279) {
			padding-left: 5px;
			padding-right: 5px;
			font-size: 11px;
		}
		@include adaptive(1023) {
			font-size: 14px;
		}
	}

	&-title {
		color: #fff;
	}

	&-link {
		color: #35539c;
		@include transition(color);
		@include adaptive(1023) {
			min-height: 30px;
		}

		&:hover {
			color: #ffffff;
			@include transition(color);
		}
	}
}
