.login_container{
	background-color: #0e123c;
	padding: 15px;
	margin-bottom: 150px;

	@include adaptive(1023) {
		padding: 0;
	}

	@include adaptive(767) {
		margin-bottom: 20px;
	}


	.login_top{
		@include adaptive(1023) {
			padding: 15px;
			position: relative;

			&:after{
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
				content: ' ';
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 20px 20px 0 20px;
				border-color: #0e123c transparent transparent transparent;
			}
		}
	}

	.login_container_inner{
		background-position: right;
		background-size: contain;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;

		&.forgot{
			.info{
				color: #9294ad;
				font-size: 11px;
				text-align: center;
				margin-bottom: 20px;

				@include adaptive(1023) {
					font-size: 17px;
					color: #d2d2d2;
				}

				@include adaptive(767) {
					margin-bottom: 10px;
				}

				a{
					color: #c7f928;

					@include adaptive(1023) {
						display: block;
						border: 3px solid #003b85;
						color: #fff;
						padding: 10px;
					}
				}

				.status{
					color: #f00;
					font-size: 18px;
					font-weight: 600;
					margin: 15px 0 5px;
					line-height: 25px;
				}
			}
		}

		.info_create_mobile{
			color: #a4a4a4;
			padding: 15px 0;

			@include adaptive(1023) {
				background: #080915;
				padding: 15px 30px;
				text-align: center;
			}

			a{
				color: #c7f928;

				@include adaptive(1023) {
					margin-top: 10px;
					display: block;
					border: 3px solid #003b85;
					color: #fff;
					padding: 10px;
					text-align: center;
					font-weight: 600;
				}
			}
		}
	}
	.login_form{
		width: 50%;
		padding: 0 70px;

		@include adaptive(1023) {
			width: 100%;
			padding: 0;
		}

		input{
			border-radius: 5px;
		}

		.signup{
			color: #c7f928;
			float: left;
		}
		.forgot{
			color: #999999;

			@include adaptive(1023) {
				text-align: center;
				display: block;
				float: none;
				margin-top: 10px;

				color: #3b92ff;
			}
		}

		.already_have{
			color: #999;
			text-align: center;
			margin-top: 15px;

			@include adaptive(1023) {
				color: #d2d2d2;
				line-height: 23px;
			}

			a{
				color: #c7f928;

				@include adaptive(1023) {
					color: #157dff;
				}
			}
		}
	}

	.remeber_me{
		@include adaptive(1023) {
			text-align: center;
			color: #fff;
		}
	}

	.login_banner{
		width: 50%;

		@include adaptive(1023) {
			display: none;
		}
	}

	.title{
		text-align: center;
		color: #fff;
		font-size: 34px;
		font-weight: 600;
		margin: 20px 0 40px;

		@include adaptive(1023) {
			font-size: 22px;
			color: #4296ff;
			text-transform: uppercase;
			margin: 0 0 0;
		}
	}
	.signup{
		margin: 0;
	}

	.top_forgot_text{
		color: #d2d2d2;
	}
}

.user_container_popup{
	.user_tab_login, .user_tab_join, .user_tab_forgot{
		display: none;
		align-items: center;
	}
	&.login{
		.user_tab_join, .user_tab_forgot{
			display: none;
		}
		.user_tab_login{
			display: flex;
		}
	}
	&.join{
		.user_tab_login, .user_tab_forgot{
			display: none;
		}
		.user_tab_join{
			display: flex;
		}
	}
	&.forgot{
		.user_tab_join, .user_tab_login{
			display: none;
		}
		.user_tab_forgot{
			display: flex;
		}
	}
}

.result-message, .forgot_success{
	display: block;
	padding: 6px 0;
	font-weight: 600;
	text-align: center;
	color: #fff;

	&.alert-danger{
		color: #ff6d6d;
	}
}

.is_desktop{
	display: block;

	@include adaptive(1023) {
		display: none;
	}
}
.is_mobile{
	display: none;

	@include adaptive(1023) {
		display: block;
	}
}
.login_bottom{
	@include adaptive(1023) {
		background: #000;
	}
}

.login_panel {
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	ul {
		font-family: gloria hallelujah,cursive;
		color: #d6ff23;
		background: #0e478d;
		background: -moz-linear-gradient(top,#0e478d 0%,#0a3365 100%);
		background: -webkit-gradient(left top,left bottom,color-stop(0%,#0e478d),color-stop(100%,#0a3365));
		background: -webkit-linear-gradient(top,#0e478d 0%,#0a3365 100%);
		background: -o-linear-gradient(top,#0e478d 0%,#0a3365 100%);
		background: -ms-linear-gradient(top,#0e478d 0%,#0a3365 100%);
		background: linear-gradient(to bottom,#0e478d 0%,#0a3365 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e478d',endColorstr='#0a3365',GradientType=0);
		padding: 10px 10px 0;
		margin: 25px 0 0;
		text-align: center;
		font-size: 28px;
		border-bottom: 8px solid #90b0ca;

		list-style-type: none;

		@include adaptive(1023){
			font-size: 16px;
		}

		li{
			width: 50%;
			text-align: center;
			display: inline-block;
			padding: 10px 15px;

			&.active {
				background: #90b0ca;
			}
		}

		a{
			color: #fff!important;
			text-transform: uppercase;
		}
	}

	.tab-content{
		background: #fff;
	}
}
.signup_tip_conainer{
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;

	.signup_tip {
		width: 33.3333334%;
		color: #0a3862;
		text-align: left;
		position: relative;
		padding: 0 25px 0 80px;
		margin-top: 15px;
		font-size: 22px;
		display: inline-block;
		font-weight: 700;
		line-height: 28px;
		text-transform: uppercase;
		border-right: 2px solid #eaeaea;

		i{
			background: url(../images/green_tick.png);
			width: 50px;
			height: 50px;
			display: inline-block;
			position: absolute;
			left: 20px;
			top: 0;
		}
	}
}
.cleanlogin-container{
	padding: 15px;

	@include adaptive(1023){
		padding: 35px 30px 15px;
	}

	.join_button, input[type=submit], .submit{
		width: 100%!important;
		border: none;
		height: 60px!important;
		line-height: 60px;
		padding: 0!important;
		font-size: 26px;
		font-weight: 600;
		color: #021b3b;
		text-transform: uppercase;
		cursor: pointer;
		background: #c7f928;

		@include adaptive(1023){
			font-size: 18px;
			background: #003b85;
			color: #fff;
		}
	}
	form{
		label{
			font-weight: 700;

			@include adaptive(1023) {
				color: #fff;
			}
		}
	}
	.forgot{
		float: right;
	}
}
.cleanlogin-field{
	margin-bottom: 25px;
	border-radius: 8px;

	input{
		padding: 15px 25px;
		border-color: #333;
		border-radius: 3px;
		width: 100%;

		&.error{
			border-color: red;
		}
	}
}
