// SECTION :: START

.pre-header {
	display: none;
	@include adaptive(1023) {
		display: block;
	}

	&__title {
		color: #ffffff;
		font-size: 14px;
		text-align: center;
		@include adaptive(767) {
			font-size: 10px;
		}

		@include adaptive(375) {
			display: none;
		}
	}

	&__hamburger {
		display: flex;
		padding-top: 15px;
		padding-bottom: 15px;

		&-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 19px;
		}

		.icon-font {
			color: #ffffff;
			font-size: 20px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: #abbde7;
		font-size: 15px;
		font-weight: 700;
		@include adaptive(767) {
			font-size: 14px;
		}
	}

	@import "pre-header--wrapper";
	@import "pre-header--mobile";
	@import "pre-header--heading";
	@import "pre-header--sign";
}

// SECTION :: END
