&__signin,
&__signup {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	//background-color: #004aac;

	.icon-font {
		margin-right: 5px;
		color: #ffffff;
		font-size: 16px;
	}

	span {
		color: #ffffff;
		text-transform: uppercase;
		font-size: 14px;
	}
}

&__signin {
	border-right: 1px solid #0a3e83;
}
