// SECTION :: START

.pre-header {
	display: none;
	@include adaptive(1023) {
		display: block;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		&-1 {
			align-items: center;
			min-height: 80px;
			padding: 5px 20px;
			background-color: #081b49;

			.pre-header__wrapper-middle {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		&-2 {
			min-height: 40px;
			background-color: #0b0d28;
			@include adaptive(767) {
				border-top: 2px solid #0a3e83;
				border-bottom: 2px solid #0a3e83;
			}

			.pre-header__wrapper-left,
			.pre-header__wrapper-middle,
			.pre-header__wrapper-right {
				position: relative;
				display: flex;
				width: 100%;
				max-width: calc(100% / 3);
			}

			.pre-header__wrapper-middle {
				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 2px;
					height: calc(100% - 14px);
					background-color: #161e3e;
				}

				&:before {
					left: 0;
				}

				&:after {
					right: 0;
				}
			}
		}
	}

	&__title {
		color: #ffffff;
		font-size: 14px;
		text-align: center;
		@include adaptive(767) {
			font-size: 10px;
		}
	}

	&__hamburger {
		display: flex;
		padding-top: 15px;
		padding-bottom: 15px;

		&-inner {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 19px;
		}

		.icon-font {
			color: #ffffff;
			font-size: 20px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		color: #abbde7;
		font-size: 15px;
		font-weight: 700;
		@include adaptive(767) {
			font-size: 14px;
		}
	}

	&__mobile {
		opacity: 0;
		visibility: hidden;
		transform: translateY(50px);
		display: none;
		@include adaptive(1023) {
			overflow: hidden;
			overflow-y: auto;
			position: fixed;
			top: 80px;
			left: 0;
			display: block;
			width: 100%;
			height: calc(100% - 80px);
			padding-bottom: 30px;
			background-color: rgba(#080915, 0.975);
			//@include transition(opacity, visibility, transform);

			> div {
				display: flex;
				flex-direction: column;
			}

			&.is-open {
				z-index: 1600;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}

		&-top {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			min-height: 50px;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #161e3e;
			}

			> div {
				width: 50%;
				min-height: 100%;
			}
		}

		&-middle {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			min-height: 50px;
			padding-left: 20px;
			padding-right: 20px;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #161e3e;
			}
		}
	}

	&__signin,
	&__signup {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		background-color: #004aac;

		.icon-font {
			margin-right: 5px;
			color: #ffffff;
			font-size: 16px;
		}

		span {
			color: #ffffff;
			text-transform: uppercase;
			font-size: 14px;
		}
	}

	&__signin {
		border-right: 1px solid #161e3e;
	}
}

// SECTION :: END
