#a2z-modal{

	@include adaptive(1023) {
		.micromodal-overlay{
			max-height: var(--vh, 100vh);
		}
	}
	.micromodal-container{
		margin: 0;
		max-width: 1020px;

		@include adaptive(1023) {
			height: var(--vh, 100vh);
			max-height: var(--vh, 100vh);
			border-radius: 0;
		}
	}
}
.a2z{
	&-content{
		display: flex;
		flex-direction: column;
		background: #2a2b31;
		min-height: 25rem;
		height: 80vh;

		@include adaptive(1023) {
			border-radius: 0;
			height: var(--vh, 100vh);
		}

		.micromodal-body{
			flex: 1;
			overflow: auto;
			margin: 0 10px;
			padding: 7px 10px;

			&::-webkit-scrollbar {
				width: 4px; /* Set the width of the scrollbar */
			}

			&::-webkit-scrollbar-track {
				background: #f1f1f1; /* Background of the track */
			}

			&::-webkit-scrollbar-thumb {
				background: #225396; /* Scrollbar thumb color */
				border-radius: 10px; /* Rounded corners */
			}

			&::-webkit-scrollbar-thumb:hover {
				background: #555; /* Hover color */
			}
		}
		.micromodal-footer{
			display: flex;
			justify-content: right;
			align-items: center;
			padding: 20px;
			gap: 10px;

			.btn{
				padding: 10px 30px;
				border-radius: 4px;
			}

			.a2z-apply{
				width: 100px;
			}

			.a2z-reset{
				color: #3d3e3f;
			}

		}

		.filter_tag{
			position: relative;

			@include adaptive(1023) {
				width: 100%;
				border: 2px solid #333;
			}

			input{
				width: 100%;
				border: none;
				outline: none;
				border-radius: 4px;
				padding: 8px 10px;
				font-size: 16px;
			}
			&:after{
				content: ' ';
				position: absolute;
				top: 50%;
				right: 5px;
				transform: translateY(-50%);
				width: 18px;
				height: 18px;
				background-image: url("../images/svg/icons-search.svg");
				background-size: contain;
			}
		}
	}
	&-header{
		display: flex;
		justify-content: space-between;
		align-items: end;

		@include adaptive(1023) {
			display: block;
		}
	}
	&-letters-container{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		text-transform: capitalize;
		font-weight: 500;

		@include adaptive(1023) {
			gap: 6px;
			justify-content: center;
			padding: 10px 0;
		}

		.a2z-letter-item{
			cursor: pointer;
			font-size: 16px;
			transition: color .3s;

			&.popular{
				color: #76aaf7;
			}

			@include adaptive(1023) {
				font-size: 14px;
				padding: 0 10px;
			}

			&.active{
				color: #3e98cf;
			}
		}

	}

	&-btn{
		border: none;
		border-radius: 4px;
		color: #333;
		display: block;
		overflow: hidden;
		padding: 10px;
		cursor: pointer;
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 15px;
		text-align: center;

		@include adaptive(1023) {
			font-size: 14px;
		}

		&.processing{
			&:before{
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				content: "";
				display: inline-block;
				font-size: 15px;
				font: normal normal normal 14px / 1 FontAwesome;
				font-size: inherit;
			}
		}

		&:hover,
		&.active{
			color: #fff;
		}
	}


	&-categories{
		&-container{
			display: flex;
			flex-wrap: wrap;
			gap: 10px;

		}
	}
	&-category{
		&-item{
			background: #dbdce0;
			color: #333;
			flex: 1 1 calc(16.666% - 10px);
			max-width: calc(16.666% - 10px);

			@include adaptive(1023) {
				flex: 1 1 calc(33.333% - 10px);
				max-width: calc(33.333% - 10px);
				box-sizing: border-box;
			}

			&:hover,
			&.active{
				background: #3e98cf;
				color: #fff;
			}
		}
	}
	&-popular{
		display: flex;
		justify-content: stretch;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 5px;

		&-item{
			background: #0040a0;
			color: #fff;
			flex: 1 1 calc(16.666% - 10px);
			max-width: calc(16.666% - 10px);;

			@include adaptive(1023) {
				flex: 1 1 calc(33.333% - 10px);
				max-width: calc(33.333% - 10px);
				box-sizing: border-box;

				&:nth-child(6){
					display: block;
				}
			}

			&:hover{
				background: #3e98cf;
				color: #fff;
			}
		}
	}
}

.progress-spinner{
	width: 16px;
	height: 16px;
	border: 2px solid rgba(255, 255, 255, 0.3);
	border-top-color: #fff;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
.progress-button{
	.progress-spinner{
		display: none;
	}
}
.progress-button:disabled {
	opacity: 0.8;
	cursor: not-allowed;
	font-size: 0;

	.progress-spinner{
		display: block;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.light{
	.micromodal-content.a2z-content {
			background: #eee;
	}
	.a2z-letters-container .a2z-letter-item.popular{
		color: #0040a0;
	}
}
