.section{
	padding: 7px 0;

	&_pt_30{
		padding-top: 30px ;
	}
	&_pb_15{
		padding-bottom: 15px ;
	}
	&_pb_30{
		padding-bottom: 30px ;
	}

	&_separator{
		position: relative;
		border-bottom: 2px solid #1F559A;

		&:before{
			position: absolute;
			top: -14px;
			left: 50%;
			margin-left: -15px;
			content: ' ';
			display: block;
			height: 30px;
			width: 30px;
			background: url(../images/mpg-icon.png) no-repeat;
		}
	}
}
