// Breadcrumb :: START

.bread-crumb{
	padding: 5px 25px;
	background: #eee;
	font-size: 15px;
	font-weight: 600;

	@include respond('ipad'){
		font-size: 12px;
		margin-bottom: -1px;
	}

	@include respond('ipad_portrait'){
		order: -1;

		padding: 10px;
		text-align: center;
		font-size: 11px;
		margin: 0 -20px 10px;
	}

	&-links{
		width: 50%;

		@include respond('ipad_portrait'){
			width: 100%;
		}
	}
	.show_similar_sites{
		width: 50%;

		@include respond('ipad_portrait'){
			width: 100%;
			position: absolute;

			color: #fff;
			background: #77c28e;
			display: flex;
			text-transform: capitalize;
			font-size: 15px;
			white-space: nowrap;
			justify-content: center;
		}
	}

	a{
		margin: 0 10px;

		@include respond('ipad_portrait'){
			margin: 0;
			padding: 5px 15px;
			align-items: center;
		}
	}
}
