// SECTION :: START

mixin listSliderBox(idVal, bgVal, logoVal)
	a.list__box(href="#" data-id!= idVal style='background-image: url("img/' + bgVal + '")')
		.list__box-overlay
		.list__box-border

		img.list__box-logo(src="img/" + logoVal alt="")

		.list__box-details
			.list__box-details-left
				button.list__box-external(type='button')
					i.icon-font.icon-out
				p.list__box-details-title REALITY KINGS
				.list__rating
					span User Rating:
					div
						i.icon-font.icon-star
						i.icon-font.icon-star
						i.icon-font.icon-star
						i.icon-font.icon-star
						i.icon-font.icon-star-fill
			.list__box-details-right
				button.list__box-like.is-active(type='button')
					i.icon-font.icon-like
				button.list__box-dislike(type='button')
					i.icon-font.icon-like
				button.list__box-favorites(type='button')
					i.icon-font.icon-star-fill

		button.list__box-more(type='button')
			i.icon-font.icon-arrow-angle

mixin listBox(sliderID, name)
	.list__box-wrapper(data-name!= name)

		.list__box-head
			div

				.list__info
					div
						.list__info-circle
							img(src="img/img-premim-porn-icon.png" srcset="img/img-premim-porn-icon@2x.png 2x" alt="")
					div
						p Premium Porn
						span Enjoy these best porn sites, all exclusive HD content starring beautiful pornstars.

			div
				a.list__btn(href="#")!= "SEE&nbsp;<span>69 MORE</span>"

		.list__box-line
			span

		.list__box-body

			.list__arrow-wrapper
				a.list__arrow.list__arrow--prev(href="#")
					.list__arrow-box
						i.icon-font.icon-arrow-angle
				a.list__arrow.list__arrow--next(href="#")
					.list__arrow-box
						i.icon-font.icon-arrow-angle

			mixin swiperContent()
				each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12]
					.swiper-slide
						if(val === 1 || val === 7)
							+listSliderBox(val, 'img-view-bruzzers.png', 'img-brazzers-logo.svg')
						else if(val === 2 || val === 8)
							+listSliderBox(val, 'img-realitykings-view.png', 'img-reliaty-kings-logo.png')
						else if(val === 3 || val === 9)
							+listSliderBox(val, 'img-xvideo-red-view.png', 'img-xvideo-red-logo.png')
						else if(val === 4 || val === 10)
							+listSliderBox(val, 'img-view-pornhub-premium.png', 'img-pornhub-premium-logo.png')
						else if(val === 5 || val === 11)
							+listSliderBox(val, 'img-bang-bros-view.png', 'img-bangbros-logo.png')
						else if(val === 6 || val === 12)
							+listSliderBox(val, 'img-mofos-view.png', 'img-mofos-logo.png')

			+swiper(sliderID, 'listSwiper', 'swiperContent', false, false, false)

		.list__specification-wrapper
			each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12]
				div
					if(idx % 2 === 0)
						.list__specification.list__specification--video(data-id!= val)
							a.list__specification-close(href="#")
								i.icon-font.icon-close

							.list__specification-left
								img.list__specification-logo(src="img/img-reality-kings.png" srcset="img/img-reality-kings@2x.png 2x" alt="")

								.list__specification-action
									div
										a.list__specification-visit(href="#") VISIT WEBSITE
									div
										a.list__specification-read(href="#") READ REVIEW
									div
										a.list__specification-circle.list__specification-like.is-active(href="#")
											i.icon-font.icon-like
									div
										a.list__specification-circle.list__specification-dislike(href="#")
											i.icon-font.icon-like
									div
										a.list__specification-circle.list__specification-star(href="#")
											i.icon-font.icon-star-fill

								p.list__specification-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.

							.list__specification-right
								div(video-parent-js)
									if(idx === 0 || idx === 4 || idx === 8 || idx === 12)
										video(poster='img/img-poster-video.jpg' video-js)
											source(src="img/video1.mp4" type="video/mp4")
									else if (idx === 2 || idx === 6 || idx === 10)
										video(poster='img/img-poster-video.jpg' video-js)
											source(src="img/video2.mp4" type="video/mp4")

									a.list__specification-play(href="#" video-toggle-js)
										i.icon-font.icon-play-button(video-play-js)

					else
						.list__specification.list__specification--banner(data-id!= val)
							a.list__specification-close(href="#")
								i.icon-font.icon-close

							.list__specification-left
								img.list__specification-logo(src="img/img-reality-kings.png" srcset="img/img-reality-kings@2x.png 2x" alt="")

								.list__specification-action
									div
										a.list__specification-visit(href="#") VISIT WEBSITE
									div
										a.list__specification-read(href="#") READ REVIEW
									div
										a.list__specification-circle.list__specification-like.is-active(href="#")
											i.icon-font.icon-like
									div
										a.list__specification-circle.list__specification-dislike(href="#")
											i.icon-font.icon-like
									div
										a.list__specification-circle.list__specification-star(href="#")
											i.icon-font.icon-star-fill

								p.list__specification-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.

							.list__specification-right
								div
									img(src="img/img-laptop.png" srcset="img/img-laptop@2x.png 2x" alt="")


section#list.list
	.c-grid

		+listBox('listSlider1', '1')
		+listBox('listSlider2', '2')
		+listBox('listSlider3', '3')
		+listBox('listSlider4', '4')
		+listBox('listSlider5', '5')

// SECTION :: END
