.icon{
	&-category{
		display: inline-block;
		background-size:contain;
		background-position: center;
		background-repeat: no-repeat;
		z-index: 1;
		content: ' ';
		height:33.5px;
		width:33.5px;
		vertical-align: middle;
	}
	&-sm{
		height: 22px;
		width: 22px;
	}

	&-archive{
		background-image: url(../images/categories/archive.svg);
	}
	&-premium{
		background-image: url(../images/categories/premium.svg);
	}
	&-cam{
		background-image: url(../images/categories/cam.svg);
	}
	&-games{
		background-image: url(../images/categories/games.svg);
	}
	&-tube{
		background-image: url(../images/categories/tube.svg);
	}
	&-teen{
		background-image: url(../images/categories/teen.svg);
		width: 35px;
	}
	&-premium-amateur{
		background-image: url(../images/categories/premium-amateur.svg);
		width: 38.5px;
	}
	&-onlyfans-leaks{
		background-image: url(../images/categories/onlyfans-leaks.svg);
	}
	&-taboo{
		background-image: url(../images/categories/taboo.svg);
		width: 34px;
	}
	&-vr{
		background-image: url(../images/categories/vr.svg);
		width: 41.5px;
	}
	&-ai-porn{
		background-image: url(../images/categories/ai-porn.svg);
		width: 28.8px;
	}
	&-dating{
		background-image: url(../images/categories/dating.svg);
		width: 38.6px;
	}
	&-celebrity{
		background-image: url(../images/categories/celebrity.svg);
		width: 44px;
	}
	&-black{
		background-image: url(../images/categories/black.svg);
		width: 41px;
	}
	&-escorts{
		background-image: url(../images/categories/escorts.svg);
	}
	&-trans-cam{
		background-image: url(../images/categories/trans-cam.svg);
		width: 35px;
	}
	&-mature-cam{
		background-image: url(../images/categories/mature-cam.svg);
		width: 37px;
	}
	&-bbw-cam{
		background-image: url(../images/categories/bbw-cam.svg);
		width: 36px;
	}
	&-bdsm-cam{
		background-image: url(../images/categories/bdsm-cam.svg);
		width: 37px;
	}
	&-teen-cam{
		background-image: url(../images/categories/teen-cam.svg);
	}
	&-squirt-cam{
		background-image: url(../images/categories/squirt-cam.svg);
		width: 37px;
	}
	&-anal-cam{
		background-image: url(../images/categories/anal-cam.svg);
		width: 37px;
	}
	&-black-cam{
		background-image: url(../images/categories/black-cam.svg);
		width: 36.6px;
	}
	&-free-onlyfans-accounts{
		background-image: url(../images/categories/free-onlyfans-accounts.svg);
		width: 36px;
	}
	&-premium-indian{
		background-image: url(../images/categories/premium-indian.svg);
		width: 37px;
	}
	&-premium-asian{
		background-image: url(../images/categories/premium-asian.svg);
		width: 37px;
	}
	&-premium-gay{
		background-image: url(../images/categories/premium-gay.svg);
		width: 37px;
	}
	&-premium-anal{
		background-image: url(../images/categories/premium-anal.svg);
		width: 44px;
	}
	&-pornstar-pictures{
		background-image: url(../images/categories/pornstar-pictures.svg);
	}
	&-hentai{
		background-image: url(../images/categories/hentai.svg);
		width: 37px;
	}
	&-premium-bdsm{
		background-image: url(../images/categories/premium-bdsm.svg);
		width: 37px;
	}
	&-premium-hentai{
		background-image: url(../images/categories/premium-hentai.svg);
		width: 38px;
	}
	&-voyeur{
		background-image: url(../images/categories/voyeur.svg);
		width: 44px;
	}
	&-extreme{
		background-image: url(../images/categories/extreme.svg);
	}
	&-friends{
		background-image: url(../images/categories/friends.svg);
		width: 38.6px;
	}
	&-forums{
		background-image: url(../images/categories/forums.svg);
		width: 30px;
	}
	&-comics{
		background-image: url(../images/categories/comics.svg);
	}
	&-torrents{
		background-image: url(../images/categories/torrents.svg);
	}
	&-shemale{
		background-image: url(../images/categories/shemale.svg);
	}
	&-picture{
		background-image: url(../images/categories/picture.svg);
	}
	&-chat{
		background-image: url(../images/categories/chat.svg);
	}
	&-subreddits{
		background-image: url(../images/categories/subreddits.svg);
		width: 37px;
	}
	&-vintage{
		background-image: url(../images/categories/vintage.svg);
		width: 35px;
	}
	&-premium-latina{
		background-image: url(../images/categories/premium-latina.svg);
		width: 37px;
	}
	&-parody{
		background-image: url(../images/categories/parody.svg);
		width: 37px;
	}
	&-milf{
		background-image: url(../images/categories/milf.svg);
	}
	&-funny{
		background-image: url(../images/categories/funny.svg);
	}
	&-fetish{
		background-image: url(../images/categories/fetish.svg);
	}
	&-gifs{
		background-image: url(../images/categories/gifs.svg);
	}
	&-porn-search-engines{
		background-image: url(../images/categories/porn-search-engines.svg);
		width: 46px;
	}
	&-latina{
		background-image: url(../images/categories/latina.svg);
	}
	&-asian{
		background-image: url(../images/categories/asian.svg);
	}
	&-blogs{
		background-image: url(../images/categories/blogs.svg);
		width: 36px;
	}
	&-premium-fake{
		background-image: url(../images/categories/premium-fake.svg);
		width: 37.5px;
	}
	&-indian{
		background-image: url(../images/categories/indian.svg);
		width: 36px;
	}
	&-premium-lesbian{
		background-image: url(../images/categories/premium-lesbian.svg);
		width: 37px;
	}
	&-premium-milf{
		background-image: url(../images/categories/premium-milf.svg);
		width: 37.5px;
	}
	&-amateur{
		background-image: url(../images/categories/amateur.svg);
		width: 35px;
	}
	&-stories{
		background-image: url(../images/categories/stories.svg);
		width: 40px;
	}
	&-sexshops{
		background-image: url(../images/categories/sexshops.svg);
		//width: 40px;
	}
	&-scat{
		background-image: url(../images/categories/scat.svg);
	}
	&-fappening{
		background-image: url(../images/categories/fappening.svg);
	}
	&-big-tits{
		background-image: url(../images/categories/big-tits.svg);
	}
	&-gossip{
		background-image: url(../images/categories/gossip.svg);
	}
	&-premium-arab{
		background-image: url(../images/categories/premium-arab.svg);
	}
	&-gay{
		background-image: url(../images/categories/gay.svg);
	}
	&-arab{
		background-image: url(../images/categories/arab.svg);
	}
	&-porn-for-woman{
		background-image: url(../images/categories/porn-for-woman.svg);
		width: 36px;
	}
	&-milf-dating{
		background-image: url(../images/categories/milf-dating.svg);
	}
	&-porn-chan{
		background-image: url(../images/categories/porn-chan.svg);
	}
	&-software{
		background-image: url(../images/categories/software.svg);
	}
	&-premium-scat{
		background-image: url(../images/categories/premium-scat.svg);
		width: 35px;
	}
	&-massage{
		background-image: url(../images/categories/massage.svg);
		width: 40px;
	}
	&-gay-escorts{
		background-image: url(../images/categories/gay-escorts.svg);
	}
	&-magazines{
		background-image: url(../images/categories/magazines.svg);
		width: 37px;
	}
	&-trans-escorts{
		background-image: url(../images/categories/trans-escorts.svg);
	}
	&-snap-nudes{
		background-image: url(../images/categories/snap-nudes.svg);
	}
	&-premium-celebs{
		background-image: url(../images/categories/premium-celebs.svg);
	}
	&-archived{
		background-image: url(../images/categories/archived.svg);
	}
	&-granny{
		background-image: url(../images/categories/granny.svg);
	}
	&-manhwa{
		background-image: url(../images/categories/manhwa.svg);
	}
	&-pinay{
		background-image: url(../images/categories/pinay.svg);
	}
	&-gay-games{
		background-image: url(../images/categories/gay-games.svg);
	}
	&-bbw{
		background-image: url(../images/categories/bbw.svg);
	}
	&-tattoo{
		background-image: url(../images/categories/tattoo.svg);
	}
	&-indonesian{
		background-image: url(../images/categories/indonasia.svg);
	}
	&-squirting{
		background-image: url(../images/categories/squirt.svg);
	}
	&-fingering{
		background-image: url(../images/categories/fingering.svg);
	}
	&-fisting{
		background-image: url(../images/categories/fisting.svg);
	}
	&-feet{
		background-image: url(../images/categories/feet.svg);
		width: 40px;
	}
	&-british{
		background-image: url(../images/categories/british.svg);
	}
	&-bukkake{
		background-image: url(../images/categories/bukkake.svg);
	}
	&-brazilian{
		background-image: url(../images/categories/brazilian.svg);
	}
	&-bigdick{
		background-image: url(../images/categories/bigdick.svg);
	}
	&-blowjob{
		background-image: url(../images/categories/blowjob.svg);
	}
	&-italian {
		background-image: url(../images/categories/italian.svg);
	}
	&-masterbation {
		background-image: url(../images/categories/masterbation.svg);
	}
	&-gangbang {
		background-image: url(../images/categories/gangbang.svg);
	}
	&-handjob {
		background-image: url(../images/categories/handjob.svg);
	}
	&-circled{
		height: 22px;
		width: 22px;
		background-size: 16px;
	}
}
