.babe{
	&_sponsor{
		display: flex;
		align-items: center;
		color: #eee;
		padding: 0 0 0 7px;
		background-position: center;
		background-repeat: no-repeat;

		@include adaptive(767) {
			display: none;
		}
	}
	&_slider{
		background: #23323c;
		border-radius: 4px;
		margin-bottom: 10px;
		overflow: auto;
		display: flex;
		align-items: stretch;

		.js-marquee-wrapper{
			display: flex;
		}

		.js-marquee{
			background: #23323c;
			border-radius: 4px;
			overflow: auto;
			display: flex;
			align-items: stretch;
		}

		.slider{
			overflow: hidden;
			display: flex;

			border-top-right-radius: 40px;
			border-bottom-right-radius: 40px;

			&_outer{
				flex: 1;
				padding: 7px;
				overflow: hidden;
			}
		}
		&_right{
			display: flex;
			background: #008c48;
		}

		&_item{
			padding: 0 5px;

			&-inner{
				display: flex;
				white-space: nowrap;
				gap: 5px;
				padding: 5px;
				background: #eaeaea;
				align-items: center;
			}

			&-icon{
				//width: 50px;
				max-width: 300px;
				height: 50px;


				@include adaptive(767) {
					height: 32px;
				}
			}

			&-title{
				color: #000;
				@include adaptive(767) {
					font-size: 9px;
				}
			}
			&-subtext{
				color: green; font-weight: 600;
				@include adaptive(767) {
					font-size: 9px;
				}
			}
		}

		a{
			color: #fff;
			white-space: nowrap;
		}
	}
	&_sitename{
		display: flex;
		align-items: center;
		background-color: #23323c;
		border-top-right-radius: 40px;
		border-bottom-right-radius: 40px;
		background-position: center;
		background-repeat: no-repeat;
		content: ' ';

		a{
			display: block;
			width: 90%;
		}

		@include adaptive(767) {
			padding: 0 5px 0 0;
			border-radius: 0;
		}
	}
	&_joinnow{
		position: relative;
		display: flex;
		align-items: center;
		background-position: center;
		background-repeat: no-repeat;
		content: ' ';
		margin-left: 10px;
		padding: 10px;

		&:before{
			position: absolute;
			top: 50%;
			left: -5px;
			transform: translateY(-50%);
			content: '⬤';
			color: #fff;
			font-size: 10px;
		}

		a{
			display: block;
			width: 90%;
		}

		@include adaptive(767) {
			display: none;
		}
	}
}
