.icon-china {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-czech-republic {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-france {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-germany {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-japan {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-norway {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-sweden {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-uk {
  width:(512)*1px;
  height:(512)*1px;
}
