@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@font-face {
	font-family: "permanent_markerregular";
	src: url('../fonts/Permanent-Marker.ttf.eot');
	src: url('../fonts/Permanent-Marker.ttf.eot?#iefix') format('eot'),
	url('../fonts/Permanent-Marker.ttf.woff') format('woff'),
	url('../fonts/PermanentMarker.ttf') format('truetype'),
	url('../fonts/Permanent-Marker.ttf.svg') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-angle {
		$char: "\E001";
	}
	@if $filename == close {
		$char: "\E002";
	}
	@if $filename == delete {
		$char: "\E003";
	}
	@if $filename == enter {
		$char: "\E004";
	}
	@if $filename == key {
		$char: "\E005";
	}
	@if $filename == left-arrow {
		$char: "\E006";
	}
	@if $filename == like {
		$char: "\E007";
	}
	@if $filename == moon {
		$char: "\E008";
	}
	@if $filename == out {
		$char: "\E009";
	}
	@if $filename == pause {
		$char: "\E00A";
	}
	@if $filename == play-button {
		$char: "\E00B";
	}
	@if $filename == point {
		$char: "\E00C";
	}
	@if $filename == search {
		$char: "\E00D";
	}
	@if $filename == sort {
		$char: "\E00E";
	}
	@if $filename == star-fill {
		$char: "\E00F";
	}
	@if $filename == star {
		$char: "\E010";
	}
	@if $filename == sun {
		$char: "\E011";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-angle {
	@include icon(arrow-angle);

}
.icon-close {
	@include icon(close);

}
.icon-delete {
	@include icon(delete);

}
.icon-enter {
	@include icon(enter);

}
.icon-key {
	@include icon(key);

}
.icon-left-arrow {
	@include icon(left-arrow);

}
.icon-like {
	@include icon(like);

}
.icon-moon {
	@include icon(moon);

}
.icon-out {
	@include icon(out);

}
.icon-pause {
	@include icon(pause);

}
.icon-play-button {
	@include icon(play-button);

}
.icon-point {
	@include icon(point);

}
.icon-search {
	@include icon(search);

}
.icon-sort {
	@include icon(sort);

}
.icon-star-fill {
	@include icon(star-fill);

}
.icon-star {
	@include icon(star);

}
.icon-sun {
	@include icon(sun);

}
